{*
* PrestaShop module created by VEKIA, a guy from official PrestaShop community ;-)
*
* @author    VEKIA https://www.prestashop.com/forums/user/132608-vekia/
* @copyright 2010-2019 VEKIA
* @license   This program is not free software and you can't resell and redistribute it
*
* CONTACT WITH DEVELOPER http://mypresta.eu
* support@mypresta.eu
*}

<div class="panel">
    <div class="panel-heading">
        <i class="icon-cogs"></i>&nbsp;{l s='Advertisement' mod='mib'}
        <a style="top:3px;" class="pull-right btn button label label-danger" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7WE8PTH4ZPYZA"><i class="icon-paypal"></i> {l s='send me a donation' mod='mib'}</span></a>
        <span class="pull-right">&nbsp;{l s='or:' mod='mib'}&nbsp;</span>
        <a style="top:3px; margin-right:3px;" class="pull-right btn button label label-info" target="_blank" href="https://www.facebook.com/mypresta"><i class="icon-facebook"></i> {l s='Like on facebook' mod='mib'}</span></a>
        <span class="pull-right">{l s='We are developing it for free. Just support us on ' mod='mib'}&nbsp;</span>
    </div>    <iframe src="//apps.facepages.eu/somestuff/freegeo.html" width="100%" height="150" border="0" style="border:none;"></iframe>
</div>