{**
* 2013 - 2018 HiPresta
*
* MODULE Facebook Connect
*
* @author    HiPresta <suren.mikaelyan@gmail.com>
* @copyright HiPresta 2018
* @license   Addons PrestaShop license limitation
* @link      http://www.hipresta.com
*
* NOTICE OF LICENSE
*
* Don't use this module on several shops. The license provided by PrestaShop Addons
* for all its modules is valid only once for a single shop.
*}

{if $psv >= 1.6}
	<div class="panel">
		<h3><i class="icon-help"></i>{l s='How To Create Facebook App' mod='hifacebookconnect'}</h3>
		<iframe width="420" height="315" src="https://www.youtube.com/embed/zDo4kyFvMYo" frameborder="0" allowfullscreen></iframe>
	</div>
{else}
	<fieldset id="fieldset_0">
		<legend>{l s='Documentation' mod='hifacebookconnect'}</legend>
		<fieldset>
			<legend>{l s='How To Create Facebook App' mod='hifacebookconnect'}</legend>
			<iframe width="420" height="315" src="https://www.youtube.com/embed/zDo4kyFvMYo" frameborder="0" allowfullscreen></iframe>
		</fieldset>
	</fieldset>
	
{/if}