<?php


$html_breadcrumbs = '';
$html_breadcrumbs .= '<ol itemscope itemtype="http://schema.org/BreadcrumbList">';


if(version_compare(_PS_VERSION_, '1.7', '<')) {


    $path = preg_split('/<span class=\"navigation-pipe\">><\/span>/', $path);
    $i=2;
    foreach($path as $key => $value) {
        $position =$i;

        $path[$key] = preg_replace('/^(<a href=\")([^>]*)([^<]*)(<\/a>)/', '<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem"><a itemprop="item" \1\2><span itemprop="name">\4</span></a><meta itemprop="position" content="'.$position.'"></li>', $value);


        $i++;
    }

    $home = Configuration::get('PS_SHOP_NAME');


    $home = '<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a itemprop="item" href="'._PS_BASE_URL_SSL_.__PS_BASE_URI__.'">
            <span itemprop="name">'.$home.'</span>
          </a>
          <meta itemprop="position" content="1">
        </li>';

    $html_breadcrumbs .=  $home.implode('', $path);


} else {



    $i=1;
    foreach ($path as $key => $value) {
        $url = $value['url'];
        $title = $value['title'];
        $position =$i;

        $html_breadcrumbs .=  '<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="'.$url.'">
            <span itemprop="name">'.$title.'</span>
          </a>
          <meta itemprop="position" content="'.$position.'">
        </li>';
        $i++;
    }



}

$html_breadcrumbs .= '</ol>';



$output = '<div style="display:none">'.$html_breadcrumbs.'</div>';


echo $output;

?>