<?php

$_html = '';



$_html .= '<div class="panel">

				<div class="panel-heading"><i class="fa fa-table fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_csvImportExport_csv_imp_exp_set'].'</div>';


$_html .= '<div class="input-group col-lg-12">';
$_html .= '<label class="control-label"><b>'.$this->_data_translate_custom['_csvImportExport_you_must_respect'].':</b></label>';

$_html .= '</div><br/>';


$_html .= '<style type="text/css">
		    	@media (max-width: 992px) {';

$i = 1;
foreach($data_fields as $key => $item_field) {
    $_html .= '.table-responsive-row td.csv-ix:nth-of-type('.$i.'):before {
						content: "' . $key . '";
					}';
    $i++;
}

$_html .= '}
		    	</style>';
$_html .= '<div class="table-responsive-row clearfix">';



$_html .= '<table class = "table csv-ix-table" width = "100%">
    		<thead>
			<tr class="nodrag nodrop">';
$i = 1;
foreach($data_fields as $key => $item_field) {
    $_html .='<th class="csv-ix-head"><span class="title_box">'.$key.'</span></th>';
    $i++;
}


$_html .= '</tr></thead>';



$_html .= '<tbody><tr>';

foreach($data_fields as $key => $item_field) {
    $name_filed = $item_field['name'];
    $example_field = $item_field['example'];
    $_html .= '<td class="csv-ix"><b>'.$name_filed.'</b><br/><br/>'.$example_field.'</td>';
}

$_html .= '</tr>';

$_html .= '</tbody></table>';


$_html .= '<br/>';
$_html .= '<div class="input-group col-lg-12">';
$_html .= '<label class="control-label">
                            <a href="../modules/'.$this->name.'/csv/example_store.csv" target="_blank"
                            class="a-underline btn btn-default pull"
                            ><i class="fa fa-download fa-lg" aria-hidden="true"></i>&nbsp;'.$this->_data_translate_custom['_csvImportExport_click_here_to_download'].'</a>
                  </label>';

$_html .= '</div><br/>';



$_html .= '<div class="input-group col-lg-12">';
$_html .= '<label class="control-label">
                           -&nbsp;'.$this->_data_translate_custom['_csvImportExport_save_your_file'].'
                  </label>';

$_html .= '</div><br/>';








$_html .= '</div>';
$_html .= '</div>';

$_html .= '<div class="panel col-lg-6">';


$_html .= '<div class="panel-heading"><i class="fa fa-download fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_csvImportExport_csv_import'].'</div>';

$_html .= '<div class="input-group col-lg-6">';
$_html .= '<form method="post" action="'.Tools::safeOutput($_SERVER['REQUEST_URI']).'" enctype="multipart/form-data">';
$_html .= '<label class="control-label">';
$_html .= '<input type="file" class="btn btn-default" id="csv_store" name="csv_store"/>';
$_html .= '<br/>';
$_html .= '<button name="store_csv" type="submit" class="btn btn-default pull"
                    ><i class="fa fa-download fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_csvImportExport_import_rev'].'</button>';

$_html .= '</label>';
$_html .= '</form>';

$_html .= '</div>';
$_html .= '</div>';

$_html .= '<div class="panel col-lg-6">';


$_html .= '<div class="panel-heading"><i class="fa fa-upload fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_csvImportExport_csv_export'].'</div>';


$_html .= '<div class="input-group col-lg-6">';
$_html .= '<label class="control-label">
                            <a href="'.$export_store_url.$delimeter_rewrite.'token='.$this->getokencron().'"
                            class="btn btn-default pull"
        ><i class="fa fa-upload  fa-lg" aria-hidden="true"></i>&nbsp;'.$this->_data_translate_custom['_csvImportExport_export_all_rev'].'</a>
                  </label>';

$_html .= '</div>';

$_html .= '</div>';


echo $_html;


?>