<?php

$_html  = '';


$_html .= '<div class="panel">

		<div class="panel-heading"><i class="fa fa-question-circle fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_customhookhelp_faq'].'</div>';


$_html .= '<div class="row ">

                       ';

$_html .= '<div class="span">
                          <p>
                             <span style="font-weight: bold; font-size: 15px;" class="question">
                             	- <b style="color:red">'.$this->_data_translate_custom['_customhookhelp_c_h_help'].'</b> '.$this->_data_translate_custom['_customhookhelp_cms'].'
                             </span>
                             <br/><br/>
                             <span style="color: black;" class="answer">
                             	   '.$this->_data_translate_custom['_customhookhelp_just_place'].'
                                   <pre>{hook h=\'lastReviewsSPM\'}</pre>
                              </span>
                         </p>
                       </div><br/><br/>';

$_html .= '</div>';



$_html .= '</div>';

echo $_html;

?>