<?php

$_html .= '<div class="row">
    	<div class="col-lg-12">
    	<div class="row">';

$_html .= '<div class="productTabs col-lg-12 col-md-3">

						<div class="list-group">';
$_html .= '<ul class="nav nav-pills" id="navtabs16">

							    <li class="active"><a href="#welcome" data-toggle="tab" class="list-group-item"><i class="fa fa-home fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_displayForm16_welcome'].'</a></li>
							    <li><a href="#googlesnippets" data-toggle="tab" class="list-group-item"><i class="fa fa-snippets fa-lg"></i>&nbsp;<i class="fa fa-richpins fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_displayForm16_g_righ_snip_rich_pins'].'</a></li>';
$_html .= '<li><a href="#reviews" data-toggle="tab" class="list-group-item"><i class="fa fa-reviews fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_displayForm16_reviews'].'</a></li>';
$_html .= '<li><a href="#shopreviews" data-toggle="tab" class="list-group-item"><i class="fa fa-star-storeviews fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_displayForm16_store_reviews'].'</a></li>';
$_html .= '<li><a href="#userprofileg" data-toggle="tab" class="list-group-item"><i class="fa fa-users fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_displayForm16_user_profile'].'</a></li>';
$_html .= '<li><a href="#autoposts" data-toggle="tab" class="list-group-item"><i class="fa fa-paper-plane fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_displayForm16_soc_netw_integr'].'</a></li>
							    <li><a href="#info" data-toggle="tab" class="list-group-item"><i class="fa fa-question-circle fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_displayForm16_help_doc'].'</a></li>
							    <li><a href="http://addons.prestashop.com/en/2_community-developer?contributor=790166" target="_blank"  class="list-group-item"><img src="../modules/'.$this->name.'/views/img/spm-logo.png"  />&nbsp;&nbsp;'.$this->_data_translate_custom['_displayForm16_mitr_mod'].'</a></li>


							</ul>';
$_html .= '</div>
    				</div>';


$_html .= '<div class="tab-content col-lg-12 col-md-9">';
$_html .= '<div class="tab-pane active" id="welcome">'.$this->_welcome().'</div>';
$_html .= '<div class="tab-pane" id="googlesnippets">'.$this->_googlesnippets16().'</div>';
$_html .= '<div class="tab-pane" id="reviews">'.$this->_reviews16().'</div>';
$_html .= '<div class="tab-pane" id="shopreviews">'.$this->_shopreviews16().'</div>';
$_html .= '<div class="tab-pane" id="userprofileg">'.$this->_userprofileg16().'</div>';
$_html .= '<div class="tab-pane" id="autoposts">'.$this->_autoposts16().'</div>';

$_html .= '<div class="tab-pane" id="info">'.$this->_help_documentation().'</div>';
$_html .= '</div>';



$_html .= '</div></div></div>';

echo $_html;
?>