<?php

$_html = '';
$_html .= '<div class="bootstrap">
		            <div class="alert alert-danger">
			            <button data-dismiss="alert" class="close" type="button">×</button>
					        '.$text.'
				        </div>
	                </div>';
echo $_html;

?>