<?php

$_html  = '';

$_html .= '<div class="panel">

		<div class="panel-heading"><i class="fa fa-question-circle fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_faq16_faq'].'</div>';

$_html .= '<div class="row">';

$_html .= $this->_faqStars17_spmgsnipreview();

$_html .= '<div class="span">
							<p>
								<span style="font-weight: bold; font-size: 15px;" class="question">
									-  '.$this->_data_translate_custom['_faq16_500'].'.
								</span>
								<br/><br/>
								<span style="color: black;" class="answer">
									'.$this->_data_translate_custom['_faq16_int_500'].
    '<br/><br/>'.$this->_data_translate_custom['_faq16_pr'].'
									<br/><br/>'.$this->_data_translate_custom['_faq16_1'].'
									<br/><br/>'.$this->_data_translate_custom['_faq16_2'].'


								</span>
							</p>
						</div>
					<br/><br/>';


$_html .= '</div>';

$_html .= '</div>';
echo $_html;

?>