<?php


$_html = '';
$_html .= '<div id="block-pin-help" '.(Configuration::get($this->name.'pinvis_on')==1?'style="display:block"':'style="display:none"').'>';

$_html .= '<div class="panel">

				<div class="panel-heading"><i class="fa fa-info fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_helpRichPins_help'].'</div>';


$_html .= '<b>'.$this->_data_translate_custom['_helpRichPins_to_val'].':</b><br/><br/>

    - '.$this->_data_translate_custom['_helpRichPins_cr_acc'].' <a href="http://www.pinterest.com" style="text-decoration:underline" target="_blank">http://www.pinterest.com</a><br/><br/>
    - '.$this->_data_translate_custom['_helpRichPins_open_another'] .' <a href="https://developers.pinterest.com/tools/url-debugger/" style="text-decoration:underline" target="_blank">https://developers.pinterest.com/tools/url-debugger/</a><br/><br/>
    - '.$this->_data_translate_custom['_helpRichPins_insert_url'].'<br/><br/>
    - '.$this->_data_translate_custom['_helpRichPins_once_url'].'<br/><br/>
    	<img src="../modules/'.$this->name.'/views/img/pinterest-help/p-help1.png" class="img-responsive" />
		<br/><br/>
    - '.$this->_data_translate_custom['_helpRichPins_now_you_will'].'
    	<br/> <br/>
    	'.$this->_data_translate_custom['_helpRichPins_the_domain'].'
    <br/><br/>
    <img src="../modules/'.$this->name.'/views/img/pinterest-help/p-help2.png"  class="img-responsive" />
    <br/><br/>
    - '.$this->_data_translate_custom['_helpRichPins_the_process'].'
    <br/><br/>
    <img src="../modules/'.$this->name.'/views/img/pinterest-help/p-help3.png" class="img-responsive" />
    <br/><br/>
    '.$this->_data_translate_custom['_helpRichPins_reminder_that'].'
    <br/><br/>
	'.$this->_data_translate_custom['_helpRichPins_all_your_old'].'
    ';

$_html .= '</div>';

$_html .= '</div>';
echo $_html;

?>