<?php

$_html = '';

$btabs_type = (int)Configuration::get($this->_name.'ptabs_type');
$text_17 = "<span id='help-tabs-".$this->_name."17' style='color:red;font-weight:bold'><br/>".
    $productpage_read.
    " <a target='_blank' href='../modules/".$this->_name."/Installation_Guid.pdf' style='text-decoration:underline;font-weight:bold'>Installation_Guid.pdf</a>"
    ."<br/></span>";

$_html .= "<script type=\"text/javascript\">

            function selectImgRating(id)
			{
                if(id==0){
                    $(\"#star-active-green\").css(\"display\",\"none\");
                    $(\"#star-active-blue\").css(\"display\",\"none\");
                    $(\"#star-active-yellow\").css(\"display\",\"block\");

                    $(\"#star-active-green-block\").css(\"display\",\"none\");
                    $(\"#star-active-blue-block\").css(\"display\",\"none\");
                    $(\"#star-active-yellow-block\").css(\"display\",\"block\");

                } else if(id==1) {
                    $(\"#star-active-blue\").css(\"display\",\"none\");
                    $(\"#star-active-yellow\").css(\"display\",\"none\");
                    $(\"#star-active-green\").css(\"display\",\"block\");

                    $(\"#star-active-blue-block\").css(\"display\",\"none\");
                    $(\"#star-active-yellow-block\").css(\"display\",\"none\");
                    $(\"#star-active-green-block\").css(\"display\",\"block\");

                } else if(id==2){
                    $(\"#star-active-yellow\").css(\"display\",\"none\");
                    $(\"#star-active-green\").css(\"display\",\"none\");
                    $(\"#star-active-blue\").css(\"display\",\"block\");

                    $(\"#star-active-yellow-block\").css(\"display\",\"none\");
                    $(\"#star-active-green-block\").css(\"display\",\"none\");
                    $(\"#star-active-blue-block\").css(\"display\",\"block\");
                }
			}

    	$('document').ready( function() {
    		if(".$btabs_type." == 3){
    				$( \"#ptabs_type\" ).after(\"".$text_17."\");
    		} else {
    				$( \"#help-tabs-".$this->_name."17\" ).remove();
    		}


    		$( \"#ptabs_type\" ).change(function() {
  				    if($( \"#ptabs_type option:selected\" ).val() == 3){
      				    $( \"#ptabs_type\" ).after(\"".$text_17."\");
		    		} else {
		    			$( \"#help-tabs-".$this->_name."17\" ).remove();
		    		}
			});


    	});
    	</script>
    	";

echo $_html;
?>