<?php

$_html = $this->_data_translate_custom['_responseadminemailsDesc_you_can'].' '
    . $this->_data_translate_custom['_responseadminemailsDesc_if_you_wish']
    .'  "mails" '
    . $this->_data_translate_custom['_responseadminemailsDesc_folder_inside']
    .' "'.$this->name.'" '
    .$this->_data_translate_custom['_responseadminemailsDesc_mod_folder']
    .'<br/><br/><b>'.$this->_data_translate_custom['_responseadminemailsDesc_ftp_loc'].': /modules/'.$this->name.'/mails/{YOUR_ISO_CODE_LANGUAGE}/'.$name_template.'.html</b>';


echo $_html;

?>

