<?php

$_html = '';

$_html .= '<div class="row">
    				<div class="col-lg-12">
    					<div class="row">';

$_html .= '<div class="productTabs col-lg-2 col-md-3">

			<div class="list-group">
				<ul class="nav nav-pills nav-stacked" id="storereviewsnavtabs16">
				    <li class="active"><a href="#mainsettings" data-toggle="tab" class="list-group-item"><i class="fa fa-cogs fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_shopreviews16_main_set'].'</a></li>
				    <li><a href="#shopreviewcriteria" data-toggle="tab" class="list-group-item"><i class="fa fa-reviews fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_shopreviews16_rev_crit'].'</a></li>
				    <li><a href="#woweffectsshop" data-toggle="tab" class="list-group-item"><i class="fa fa-sliders fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_shopreviews16_wow_eff_for_items'].'</a></li>
				    <li><a href="#owlcarouselsshop" data-toggle="tab" class="list-group-item"><i class="fa fa-sliders fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_shopreviews16_blocks_owl'].'</a></li>
				    <li>&nbsp;</li>';
$_html .= '<li><a href="#reviewsvoucheraddreviewtabshop" data-toggle="tab" class="list-group-item"><i class="fa fa-reviews fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_shopreviews16_voucher_set_when_add_rev'].'</a></li>
                    <li>&nbsp;</li>';

$_html .= '
                    <li><a href="#reviewsemailstabshop" data-toggle="tab" class="list-group-item"><i class="fa fa-envelope-o fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_shopreviews16_rev_emails_set'].'</a></li>
                    <li><a href="#emailsubjects" data-toggle="tab" class="list-group-item"><i class="fa fa-envelope-o fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_shopreviews16_emails_subj_set'].'</a></li>
                    <li>&nbsp;</li>';

$_html .= '<li><a href="#shopcustomerremindersettings" data-toggle="tab" class="list-group-item"><i class="fa fa-bell-o fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_shopreviews16_cust_rem_set'].'</a></li>
				    <li><a href="#shopcustomerreminderstat" data-toggle="tab" class="list-group-item"><i class="fa fa-bar-chart fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_shopreviews16_cus_rem_stat'].'</a></li>
				     <li>&nbsp;</li>
                    <li><a href="#csvstore" data-toggle="tab" class="list-group-item"><i class="fa fa-table fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_shopreviews16_csv_imp_exp_set'].'</a></li>
                    <li>&nbsp;</li>
                    <li><a href="#cronhelpstore" data-toggle="tab" class="list-group-item"><i class="fa fa-tasks fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_shopreviews16_cron_help_store_rev'].'</a></li>';


$_html .= '</ul>
				  </div>
		</div>';

$_html .= '<div class="tab-content col-lg-10 col-md-9">';
$_html .= '<div class="tab-pane active" id="mainsettings">'.$this->_mainsettings16().'</div>';

$_html .= '<div class="tab-pane" id="shopreviewcriteria">'.$this->_shopreviewcriteria().'</div>';
$_html .= '<div class="tab-pane" id="woweffectsshop">'.$this->_woweffectsshop().'</div>';
$_html .= '<div class="tab-pane" id="owlcarouselsshop">'.$this->_owlcarouselsshop().'</div>';


$_html .= '<div class="tab-pane" id="reviewsvoucheraddreviewtabshop">'.$this->_voucherwhenaddreviewshopsettings16().'</div>';

$_html .= '<div class="tab-pane" id="reviewsemailstabshop">'.$this->_reviewsemailsshop().'</div>';

$_html .= '<div class="tab-pane" id="shopcustomerremindersettings">'.$this->_shopcustomerremindersettings16().'</div>';
$_html .= '<div class="tab-pane" id="shopcustomerreminderstat">'.$this->_shopcustomerreminderstat().'</div>';
$_html .= '<div class="tab-pane" id="emailsubjects">'.$this->_emailsubjects16().'</div>';

$_html .= '<div class="tab-pane" id="csvstore">'.$this->_csvImportExport().'</div>';
$_html .= '<div class="tab-pane" id="cronhelpstore">'.$this->_cronhelp(array('url'=>'cron_shop_reviews')).'</div>';



$_html .= '</div>';



$_html .= '</div></div></div>';

echo $_html;

?>