<?php


$_html .= '<div class="panel">
                    <div class="panel-heading"><i class="fa fa-question-circle fa-lg"></i>&nbsp;' . $starslistandsearch_faq . '</div>';
$_html .= '<div class="row">';
$_html .= $faqStars17_spmgsnipreview;
$_html .= '</div></div>';

echo $_html;

?>