<?php
$data = '';
$data .= '<div class="panel">

			<div class="panel-heading"><i class="fa fa-home fa-lg"></i>&nbsp;'.$this->_data_translate_custom['_welcome_w'].'</div>';

$data .= '<p class="alert alert-info">'.$this->_data_translate_custom['_welcome_w_and_thank_y'].'</p>'.
    '<br/>'.
    '<p class="alert alert-info"><b>Version</b> : '.$this->version.'</p><br/>'.
    '<p class="alert alert-info">'.$this->_data_translate_custom['_welcome_to_conf'].'&nbsp;<b><a style="text-decoration:underline" id="tab-menu-5" onclick="tabs_custom(6)" href="javascript:void(0)">'.$this->_data_translate_custom['_welcome_h_doc'].'</a></b></p>
    			';
$data .= '</div>';

echo $data;


?>