<?php

$desc1 = '
                                    <br/><br/>
                                    <b>'.$reminder_desc2.'</b>: '.$reminder_desc3.'
                                    <a style="text-decoration:underline;font-weight:bold;color:red" onclick="tabs_custom(104)" href="javascript:void(0)">'.$reminder_desc4.'</a>
                                    <br/><br/>
                                    <b>'.$reminder_desc5.'</b>:&nbsp;<a href="'.$url_cron.$delimeter_rewrite.'token='.$token_cron.'" style="text-decoration:underline;font-weight:bold">'.$url_cron.$delimeter_rewrite.'token='.$token_cron.'</a>';

echo $desc1;

?>