<?php

$new_sitemap = '<?xml version="1.0" encoding="UTF-8"?>
                            <feed xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
                             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                             xsi:noNamespaceSchemaLocation="http://www.google.com/shopping/reviews/schema/product/2.1/product_reviews.xsd">
                                <aggregator>
                                    <name>'.$shop_name.' '.$data_translate['google_reviews_title'].'</name>
                                </aggregator>
                                <publisher>
                                    <name>'.$shop_name.'</name>
                                    <favicon>'.$_http_host.'img/logo.jpg</favicon>
                                </publisher>
                                <reviews>
                                </reviews>

                            </feed>';

echo $new_sitemap;
?>