<?php

$text .= $data_translate['category'] . ' : <strong>' . $product['category'] . '</strong><br/>'
    . '  <img src="' . $picture . '" /><br/><br/>'
    . $data_translate['product'] . ' : <strong>' . $product['title'] . '</strong><br/><br/>'
    . $data_translate['rate_post'] . ' <a href="' . $product['link'] . '#idTab777" style="color:#DB3484; font-weight:bold; text-decoration:none;">' . $product['link'] . '</a>' . '<br/><br/>';
return $text;

?>