<?php

$desc1 = '
                                    <br/><br/>
                                    <b>'.$reminder_desc2.'</b>: '.$reminder_desc3.'
                                    <a style="text-decoration:underline;font-weight:bold;color:red" onclick="tabs_custom(110)" href="javascript:void(0)">
                                    '.$reminder_desc4.'</a>
                                    <br/><br/>
                                    <b>'.$reminder_desc5.'</b>:&nbsp;
                                    <a href="'.$url_cron.$delimeter_rewrite.'token='.$obj_spmgsnipreview->getokencron().'"
                                    style="text-decoration:underline;font-weight:bold" target="_blank"
                                    >'.$url_cron.$delimeter_rewrite.'token='.$obj_spmgsnipreview->getokencron().'</a>';


echo $desc1;

?>