{*
 * NOTICE OF LICENSE
 *
 * This file is licenced under the Software License Agreement.
 * With the purchase or the installation of the software in your application
 * you accept the licence agreement.
 *
 * You must not modify, adapt or create derivative works of this source code
 *
 * @author    Cappasity Inc <info@cappasity.com>
 * @copyright 2014-2019 Cappasity Inc.
 * @license   http://cappasity.com/eula_modules/  Cappasity EULA for Modules
*}
<div style="max-width: 700px;">
  <h2>How to create</h2>
  <p>To create a 3D View, you need to create a FREE Cappasity account and download FREE digitizing software Cappasity Easy 3D Scan. The software is easy-to-use, and you no longer have to care about file names, the number of photos, FTP uploading and other IT things. You just use the software to create 3D content and let it take care of everything.</p>
  <p>Please visit our website <a target="_blank" href="https://www.cappasity.com">www.cappasity.com</a> to download the software, read instructions and create a 3D View yourself or to find Cappasity’s certified photo partner who will do this for you.</p>
  <h2>Prestashop configuration</h2>
  <ul>
  <li>Overrides should be enabled. See "Advanced Parameters -> Performance", "Disable all overrides" option must be set to "No". Read <a href="https://cappasitytech.github.io/PrestaShop3D/prestashop-config.html#overrides-should-be-enabled">documentation for PrestaShop3D module</a> to get more info.</li>
  </ul>
  <h2>Installation</h2>
  <p>Installing the module is simple, you just follow the “Modules and Services” link and load the downloaded archive to install it in your shop.</p>
  <ul>
    <li>You need to have a Cappasity account to create, upload and synchronize 3D Views. Sign up here – <a target="_blank" href="https://3d.cappasity.com/register">https://3d.cappasity.com/register</a></li>
    <li>Sign in to your Cappasity account and generate an API token on your account/security page. Copy the token and paste it in the API token field that you will see during module installation. Now your accounts are synchronized and you can simply attach 3D Views from your account to the items in your product catalogue.</li>
    <li>You can automatically synchronize your product catalogue with your Cappasity account at any time. We synchronize data by comparing your catalogue’s Reference codes with SKU numbers on the Cappasity platform. Just open the module settings and press the SYNC button on the bottom of the page.</li>
    <li>To attach a 3D View manually you can open Catalogue/Products/, select a product, select the Cappasity 3D and 360 Product Viewer and choose a 3D from your Cappasity account.</li>
  </ul>
  <h2>Troubleshooting</h2>
  <p>Read <a href="https://cappasitytech.github.io/PrestaShop3D/troubleshooting.html">documentation for PrestaShop3D module</a> to get more info.</p>
  <br>
  <iframe style="width: 100%; height: 400px"
    src="https://www.youtube.com/embed/t-nWKVizOD4?rel=0&amp;showinfo=0"
    frameborder="0"
    allowfullscreen></iframe>
</div>
