/* Prestashop shell overrides */
#main {
    background-color: rgba(244,246,248,1) !important;
}

.adept-ball-grid-loader {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 99 !important;
}

.bootstrap .page-head .toolbarBox .btn-toolbar .toolbar_btn.adept-app__save-btn{
    display:block;
    padding-left: 30px !important;
    margin-left: 30px !important;
    padding-right: 30px !important;
    border-left: 1px solid #bbbbbb;
    cursor: pointer;
    border-radius: 0;
}

.toastify{
    top: 152px !important;
    z-index:999;
}
