#history .page-header {

	border-bottom:0;

	text-align:center;

}

#history .page-header h1{

	text-transform:uppercase;

	color:rgba(17,17,17,0.9);

	font-size:26px;

	padding:0;

}

#history .hidden-md-up {

  display: none !important;

}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {

	line-height:26px;

}

#history .card.card-block {

	padding:30px 20px;

	border:1px solid #ebebeb;

	box-shadow:2px 2px 11px 0 rgba(0, 0, 0, 0.1);

	overflow-x:auto;

}

td.invoice-icon, td.total-price, td.order-actions {

	text-align:center;

}

td.order-actions {

	min-width:262px;

}

.label-pill.bright {

	color: #fff;

}

.table > thead > tr > th.history-title {

	padding:20px 8px;

	text-transform:uppercase;

	color:#000;

	font-weight:500;

	font-size:15px;

}

@media(max-width:767px) {

	#history #wrapper>.row{

		margin-right:0;

		margin-left:0;

	}

}



