/* Color Active*/
.languages-info .dropdown-menu li a:hover {
  background: none;
  color: #A67E2E; }

.languages-info .dropdown-menu li.selected {
  color: #A67E2E; }

.currency-info li.selected a {
  color: #A67E2E; }

.currency-info li a:hover {
  color: #A67E2E; }

.checkout-info .cart-button > a {
  border: 1px solid #A67E2E;
  color: #A67E2E; }

.cart-wrap .description .price-quantity {
  color: #A67E2E; }

.checkout-info .label, .checkout-info .pull-right {
  color: #A67E2E; }

.jms-megamenu .mega-nav li.group > a:hover, .jms-vermegamenu .nav > .menu-custom .mega-nav li.group > a:hover,
.jms-vermegamenu .nav > .menu-custom .mega-nav li > a:hover {
  color: #1daaa3 !important; }

#off-canvas-title {
  background: #A67E2E; }

#off-canvas-menu ul.nav > li > a:hover {
  color: #A67E2E; }

/* Button Colors */
.btn-hover:hover {
  background: #1daaa3 !important;
  color: #fff !important; }

a:hover, a:focus {
  color: #A67E2E; }

.btn-transparent:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-mega:hover,
.btn-mega:focus,
.btn-mega:active {
  background-color: #A67E2E; }

.btn.btn-active, .btn-default.btn-active {
  background: #A67E2E;
  color: #fff; }

.btn:hover, .btn-default:hover {
  color: #fff;
  background: #A67E2E; }

.btn-primary:hover,
.btn-default.active:hover,
.btn.active:hover {
  background: #A67E2E; }

/* ------- */
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.inputbox:hover,
select:active,
textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.inputbox:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #A67E2E; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
.form-control:focus {
  border-color: #A67E2E; }

ul#order_step li {
  background: #A67E2E; }

ul#order_step li.step_current {
  border: 1px solid #A67E2E; }

.widget-categories li a:hover {
  color: #A67E2E; }

#attributes .attribute_list #color_to_pick_list li.selected a span {
  border: 4px solid #A67E2E; }

#view_scroll_left:hover, #view_scroll_right:hover {
  color: #fff;
  background: #A67E2E;
  border: 1px solid #A67E2E; }

.page-list li.current a {
  background: #A67E2E;
  color: #fff; }

/* CMS */
.service_bg .feature-box-el i:hover {
  border: 2px solid #A67E2E; }

.tabs.tab_one .nav-tabs > li.active > a::before {
  background: #A67E2E; }

.tab_three .tab_right .nav-tabs li.active {
  border-bottom: 2px solid #A67E2E; }

.tab_vertical .tab_left .nav-tabs li.active::before, .tab_vertical .tab_left .nav-tabs li:focus::before, .tab_vertical .tab_left .nav-tabs li:hover::before {
  background: #A67E2E; }

/* Block Cart */
.price-content .price {
  color: #A67E2E; }

#button_order_cart {
  background: #A67E2E; }

/* --- */
/* Blog */
.blog-box .post-created::before {
  background: #A67E2E; }

/* ------ */
.html_left .btn-shop-now {
  background: #A67E2E; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #1daaa3 !important;
  border-color: #1daaa3 !important;
  color: #fff !important; }

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background: #1daaa3 !important;
  color: #fff !important; }

.blog-box .info-box a:hover {
  color: #A67E2E; }

.group-span-filestyle > label {
  background: #A67E2E;
  color: #fff;
  border: none; }

/* Home Page */
.header-top {
  background: #A67E2E; }

.categories-banner .custom-title-box .text-wrapper a {
  color: #A67E2E;
  text-decoration: underline; }

.blog-box .view-comment span.view {
  color: #A67E2E; }

.jms-megamenu .home-list .mega-nav li > a:hover {
  color: #A67E2E;
  text-decoration: underline; }

.jms-megamenu .nav > li > a:hover, .jms-megamenu .nav > li > a:hover > .caret, .jms-megamenu .mega-nav li > a:hover {
  color: #A67E2E; }

.feature-box-style1 .btn-shopnow {
  border-bottom: 1px solid #A67E2E; }
  .feature-box-style1 .btn-shopnow:hover {
    color: #A67E2E; }

.nav-tabs > li > a.active {
  color: #A67E2E; }

.nav-tabs > li > a.active::after {
  background: #A67E2E; }

/* ------ */
/* Home3 */
.h3-button a:hover {
  border: 2px solid #A67E2E; }

/* ------  */
/* Banner */
.banner-style3 .btn-shop:hover {
  color: #A67E2E; }

/* ------ */
.block-categories .collapse-icons i {
  color: #A67E2E; }

.view-modes > a.active {
  color: #A67E2E;
  border: 1px solid #A67E2E; }

.pd-right-content .content_price .price.new {
  color: #A67E2E; }

.product-actions .product-add-to-cart .action-box a:hover {
  color: #A67E2E; }

.jms-popup #newsletter_block_left .popup-text .cap span {
  color: #A67E2E; }

.page-my-account #content .links a:hover, .page-my-account #content .links a:hover i {
  color: #A67E2E; }

body {
  background: rgba(136, 136, 136, 0.14); }

.container {
  background: #fff; }

.container {
  padding: 0 30px;
  width: 1200px; }

.fix-container .container {
  padding: 0 45px; }

.header-top {
  background: none; }
  .header-top .container {
    background-color: #31262a; }

.header-bottom img.logo {
  max-height: 56px; }

.header-bottom .container > .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header-top .container, .header-bottom .container {
  padding-left: 15px;
  padding-right: 15px; }

/* Slider */
.section-slider .container {
  padding-left: 0;
  padding-right: 0; }

.h5-medium-text {
  font-family: 'Italianno', cursive;
  line-height: 1; }

.h5-large-text {
  font-family: 'Lora', serif;
  line-height: 1.1;
  text-transform: uppercase;
  text-align: center; }

.h5-small-text {
  text-align: center; }

.h5-button a {
  padding: 0 39px;
  background: none;
  border: 2px solid #fff;
  color: #fff; }
  .h5-button a:hover {
    background: #000;
    border: 2px solid #000; }

/* ------ */
.categories-banner .container {
  padding-top: 30px;
  padding-bottom: 65px;
  position: relative; }
  .categories-banner .container:after {
    content: "";
    width: calc(100% - 90px);
    height: 1px;
    background: #f0f0f0;
    position: absolute;
    left: 45px;
    bottom: 0; }

.product-carousel-wrapper .custom-title {
  margin-bottom: 47px; }

/* Newsletter */
.section-newsletter .container {
  padding-left: 0;
  padding-right: 0; }
  .section-newsletter .container > .row {
    margin-left: 0;
    margin-right: 0; }

.section-newsletter .layout-column {
  padding-left: 0;
  padding-right: 0;
  padding-top: 90px;
  padding-bottom: 78px;
  background-size: 80% auto !important;
  background-repeat: no-repeat; }

#newsletter_block_left .home3-text {
  display: block !important;
  visibility: visible !important; }
  #newsletter_block_left .home3-text h3 {
    color: #212121;
    font-size: 26px;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 20px; }
  #newsletter_block_left .home3-text .desc {
    color: #212121;
    line-height: 1.5;
    margin: auto auto 25px; }

#newsletter_block_left #newsletter-input {
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  color: #000; }

#newsletter_block_left .form-group *::-moz-placeholder {
  color: #000; }

#newsletter_block_left .input-email::before {
  color: #000; }

#newsletter_block_left .newsletter-btn {
  color: #fff;
  background: #000;
  border: 1px solid #fff;
  line-height: 38px; }
  #newsletter_block_left .newsletter-btn:hover {
    border: 1px solid #000; }

/* ------ */
/* Footer Navbar */
.footer-navbar {
  background: transparent;
  padding: 0; }
  .footer-navbar .container {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background: #000 !important; }

/* -------- */
/* Home 5 Responsive */
@media (max-width: 991px) {
  .header-bottom .mid {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 15px;
    top: calc(50% - 20px);
    width: 20px; }
  .header-bottom .right .addon-box {
    text-align: left; }
  .header-bottom .menu-button {
    position: static; }
  .header-bottom .container {
    position: relative;
    padding-left: 15px;
    padding-right: 55px; } }

@media (max-width: 767px) {
  .h5-button a {
    padding: 0 20px; }
  .right-items .addon-box:first-child {
    display: none; }
  .fix-container .container {
    padding: 0 15px; }
  .categories-banner .container {
    padding-bottom: 35px;
    padding-top: 25px; }
  .categories-banner .layout-column {
    margin-top: 25px; }
    .categories-banner .layout-column:first-child {
      margin-top: 0; }
  .section-newsletter .container {
    padding-left: 15px;
    padding-right: 15px; }
  .section-story .layout-column {
    margin-bottom: 25px; }
    .section-story .layout-column:last-child {
      margin-bottom: 0; } }

@media (max-width: 480px) {
  .h5-button a {
    font-size: 10px;
    line-height: 25px;
    padding: 0 10px; } }

@media (max-width: 360px) {
  .home5 .footer-navbar {
    padding-top: 0; }
  .h5-button a {
    border: 1px solid #fff;
    font-size: 8px;
    line-height: 20px;
    padding: 0 8px; } }

/* ------ */
.jms-popup #newsletter_block_left .home3-text {
  display: none !important;
  visibility: hidden !important; }

.home5 .breadcrumb {
  margin: 0 auto; }

#wrapper {
  padding-top: 40px;
  padding-bottom: 60px; }

#index #wrapper {
  padding-top: 0;
  padding-bottom: 0; }

@media (min-width: 992px) {
  .home5 .breadcrumb {
    width: 1200px; } }
