/* Color Active*/
.languages-info .dropdown-menu li a:hover {
  background: none;
  color: #A67E2E; }

.languages-info .dropdown-menu li.selected {
  color: #A67E2E; }

.currency-info li.selected a {
  color: #A67E2E; }

.currency-info li a:hover {
  color: #A67E2E; }

.checkout-info .cart-button > a {
  border: 1px solid #A67E2E;
  color: #A67E2E; }

.cart-wrap .description .price-quantity {
  color: #A67E2E; }

.checkout-info .label, .checkout-info .pull-right {
  color: #A67E2E; }

.jms-megamenu .mega-nav li.group > a:hover, .jms-vermegamenu .nav > .menu-custom .mega-nav li.group > a:hover,
.jms-vermegamenu .nav > .menu-custom .mega-nav li > a:hover {
  color: #1daaa3 !important; }

#off-canvas-title {
  background: #A67E2E; }

#off-canvas-menu ul.nav > li > a:hover {
  color: #A67E2E; }

/* Button Colors */
.btn-hover:hover {
  background: #1daaa3 !important;
  color: #fff !important; }

a:hover, a:focus {
  color: #A67E2E; }

.btn-transparent:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-mega:hover,
.btn-mega:focus,
.btn-mega:active {
  background-color: #A67E2E; }

.btn.btn-active, .btn-default.btn-active {
  background: #A67E2E;
  color: #fff; }

.btn:hover, .btn-default:hover {
  color: #fff;
  background: #A67E2E; }

.btn-primary:hover,
.btn-default.active:hover,
.btn.active:hover {
  background: #A67E2E; }

/* ------- */
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.inputbox:hover,
select:active,
textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.inputbox:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #A67E2E; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
.form-control:focus {
  border-color: #A67E2E; }

ul#order_step li {
  background: #A67E2E; }

ul#order_step li.step_current {
  border: 1px solid #A67E2E; }

.widget-categories li a:hover {
  color: #A67E2E; }

#attributes .attribute_list #color_to_pick_list li.selected a span {
  border: 4px solid #A67E2E; }

#view_scroll_left:hover, #view_scroll_right:hover {
  color: #fff;
  background: #A67E2E;
  border: 1px solid #A67E2E; }

.page-list li.current a {
  background: #A67E2E;
  color: #fff; }

/* CMS */
.service_bg .feature-box-el i:hover {
  border: 2px solid #A67E2E; }

.tabs.tab_one .nav-tabs > li.active > a::before {
  background: #A67E2E; }

.tab_three .tab_right .nav-tabs li.active {
  border-bottom: 2px solid #A67E2E; }

.tab_vertical .tab_left .nav-tabs li.active::before, .tab_vertical .tab_left .nav-tabs li:focus::before, .tab_vertical .tab_left .nav-tabs li:hover::before {
  background: #A67E2E; }

/* Block Cart */
.price-content .price {
  color: #A67E2E; }

#button_order_cart {
  background: #A67E2E; }

/* --- */
/* Blog */
.blog-box .post-created::before {
  background: #A67E2E; }

/* ------ */
.html_left .btn-shop-now {
  background: #A67E2E; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #1daaa3 !important;
  border-color: #1daaa3 !important;
  color: #fff !important; }

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background: #1daaa3 !important;
  color: #fff !important; }

.blog-box .info-box a:hover {
  color: #A67E2E; }

.group-span-filestyle > label {
  background: #A67E2E;
  color: #fff;
  border: none; }

/* Home Page */
.header-top {
  background: #A67E2E; }

.categories-banner .custom-title-box .text-wrapper a {
  color: #A67E2E;
  text-decoration: underline; }

.blog-box .view-comment span.view {
  color: #A67E2E; }

.jms-megamenu .home-list .mega-nav li > a:hover {
  color: #A67E2E;
  text-decoration: underline; }

.jms-megamenu .nav > li > a:hover, .jms-megamenu .nav > li > a:hover > .caret, .jms-megamenu .mega-nav li > a:hover {
  color: #A67E2E; }

.feature-box-style1 .btn-shopnow {
  border-bottom: 1px solid #A67E2E; }
  .feature-box-style1 .btn-shopnow:hover {
    color: #A67E2E; }

.nav-tabs > li > a.active {
  color: #A67E2E; }

.nav-tabs > li > a.active::after {
  background: #A67E2E; }

/* ------ */
/* Home3 */
.h3-button a:hover {
  border: 2px solid #A67E2E; }

/* ------  */
/* Banner */
.banner-style3 .btn-shop:hover {
  color: #A67E2E; }

/* ------ */
.block-categories .collapse-icons i {
  color: #A67E2E; }

.view-modes > a.active {
  color: #A67E2E;
  border: 1px solid #A67E2E; }

.pd-right-content .content_price .price.new {
  color: #A67E2E; }

.product-actions .product-add-to-cart .action-box a:hover {
  color: #A67E2E; }

.jms-popup #newsletter_block_left .popup-text .cap span {
  color: #A67E2E; }

.page-my-account #content .links a:hover, .page-my-account #content .links a:hover i {
  color: #A67E2E; }

.custom-title4 h3, .custom-title h3 {
  font-weight: 700; }

/* Header */
.header-top {
  background: #212121; }

.header-bottom img.logo {
  max-height: 56px; }

.header-bottom .container > .row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header-bottom .right-items .addon-box:first-child {
  border-right: 2px solid #f5f5f5; }

.jms-megamenu .nav > li > a {
  padding: 0 14px; }

.ver-menu-wrapper .ver-title {
  background: #191919; }

.ver-menu-wrapper {
  background-color: #212121;
  border-bottom: 3px solid #191919; }

/* ------ */
/* Slider */
.h8-large-text {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center; }

.h8-medium-text {
  line-height: 1;
  text-transform: uppercase; }

.h8-small-text {
  line-height: 1;
  font-family: 'Satisfy', cursive; }

/* ------ */
/* Instagram */
.instagram-wrapper2 {
  margin-bottom: -2px; }

.instagram-images {
  margin-bottom: -1px; }
  .instagram-images .hover-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .instagram-images .hover-mask:after {
      content: "\f105";
      font-size: 40px;
      position: absolute;
      top: 40%;
      left: -20px;
      width: 100%;
      font-family: FontAwesome;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .instagram-images .image-box {
    position: relative; }
    .instagram-images .image-box:hover .hover-mask {
      background-color: rgba(0, 0, 0, 0.7); }
      .instagram-images .image-box:hover .hover-mask:after {
        visibility: visible;
        opacity: 1;
        left: 0; }

/* ------ */
/* Home 8 Responsive */
@media (max-width: 991px) {
  .header-bottom .mid {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 15px;
    top: calc(50% - 20px);
    width: 20px; }
  .header-bottom .left .addon-box {
    text-align: left; }
  .header-bottom .menu-button {
    position: static; }
  .header-bottom .container {
    position: relative;
    padding-left: 15px;
    padding-right: 55px; }
  .categories-banner .left {
    display: none; }
  .categories-banner .jms-banner img {
    width: 100%; }
  .section-services .first, .section-services .second {
    margin-bottom: 20px; }
  .jms-slider-wrapper .slider {
    max-width: 100% !important; }
  .fs-stretcher {
    width: 100% !important; } }

@media (max-width: 767px) {
  .header-bottom img.logo {
    max-height: 50px; }
  .right-items .addon-box:first-child, .right-items .addon-box:nth-child(2) {
    display: none; } }

@media (max-width: 480px) {
  .section-banners .layout-column {
    width: 100%;
    margin-bottom: 20px; }
    .section-banners .layout-column:last-child {
      margin-bottom: 0; } }

@media (max-width: 360px) {
  .header-bottom .left {
    width: 50%; }
  .header-bottom .right-items {
    width: 50%; }
  .section-services .layout-column {
    width: 100%; }
  .section-services .third {
    margin-bottom: 20px; } }

/* ------- */
#index #footer {
  margin-top: 0; }

#footer {
  margin-top: 60px; }
