/* Color Active*/
.languages-info .dropdown-menu li a:hover {
  background: none;
  color: #A67E2E; }

.languages-info .dropdown-menu li.selected {
  color: #A67E2E; }

.currency-info li.selected a {
  color: #A67E2E; }

.currency-info li a:hover {
  color: #A67E2E; }

.checkout-info .cart-button > a {
  border: 1px solid #A67E2E;
  color: #A67E2E; }

.cart-wrap .description .price-quantity {
  color: #A67E2E; }

.checkout-info .label, .checkout-info .pull-right {
  color: #A67E2E; }

.jms-megamenu .mega-nav li.group > a:hover, .jms-vermegamenu .nav > .menu-custom .mega-nav li.group > a:hover,
.jms-vermegamenu .nav > .menu-custom .mega-nav li > a:hover {
  color: #1daaa3 !important; }

#off-canvas-title {
  background: #A67E2E; }

#off-canvas-menu ul.nav > li > a:hover {
  color: #A67E2E; }

/* Button Colors */
.btn-hover:hover {
  background: #1daaa3 !important;
  color: #fff !important; }

a:hover, a:focus {
  color: #A67E2E; }

.btn-transparent:hover,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-mega:hover,
.btn-mega:focus,
.btn-mega:active {
  background-color: #A67E2E; }

.btn.btn-active, .btn-default.btn-active {
  background: #A67E2E;
  color: #fff; }

.btn:hover, .btn-default:hover {
  color: #fff;
  background: #A67E2E; }

.btn-primary:hover,
.btn-default.active:hover,
.btn.active:hover {
  background: #A67E2E; }

/* ------- */
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.inputbox:hover,
select:active,
textarea:active,
input[type="text"]:active,
input[type="password"]:active,
input[type="datetime"]:active,
input[type="datetime-local"]:active,
input[type="date"]:active,
input[type="month"]:active,
input[type="time"]:active,
input[type="week"]:active,
input[type="number"]:active,
input[type="email"]:active,
input[type="url"]:active,
input[type="search"]:active,
input[type="tel"]:active,
input[type="color"]:active,
.inputbox:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #A67E2E; }

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.inputbox:focus,
.form-control:focus {
  border-color: #A67E2E; }

ul#order_step li {
  background: #A67E2E; }

ul#order_step li.step_current {
  border: 1px solid #A67E2E; }

.widget-categories li a:hover {
  color: #A67E2E; }

#attributes .attribute_list #color_to_pick_list li.selected a span {
  border: 4px solid #A67E2E; }

#view_scroll_left:hover, #view_scroll_right:hover {
  color: #fff;
  background: #A67E2E;
  border: 1px solid #A67E2E; }

.page-list li.current a {
  background: #A67E2E;
  color: #fff; }

/* CMS */
.service_bg .feature-box-el i:hover {
  border: 2px solid #A67E2E; }

.tabs.tab_one .nav-tabs > li.active > a::before {
  background: #A67E2E; }

.tab_three .tab_right .nav-tabs li.active {
  border-bottom: 2px solid #A67E2E; }

.tab_vertical .tab_left .nav-tabs li.active::before, .tab_vertical .tab_left .nav-tabs li:focus::before, .tab_vertical .tab_left .nav-tabs li:hover::before {
  background: #A67E2E; }

/* Block Cart */
.price-content .price {
  color: #A67E2E; }

#button_order_cart {
  background: #A67E2E; }

/* --- */
/* Blog */
.blog-box .post-created::before {
  background: #A67E2E; }

/* ------ */
.html_left .btn-shop-now {
  background: #A67E2E; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #1daaa3 !important;
  border-color: #1daaa3 !important;
  color: #fff !important; }

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  background: #1daaa3 !important;
  color: #fff !important; }

.blog-box .info-box a:hover {
  color: #A67E2E; }

.group-span-filestyle > label {
  background: #A67E2E;
  color: #fff;
  border: none; }

/* Home Page */
.header-top {
  background: #A67E2E; }

.categories-banner .custom-title-box .text-wrapper a {
  color: #A67E2E;
  text-decoration: underline; }

.blog-box .view-comment span.view {
  color: #A67E2E; }

.jms-megamenu .home-list .mega-nav li > a:hover {
  color: #A67E2E;
  text-decoration: underline; }

.jms-megamenu .nav > li > a:hover, .jms-megamenu .nav > li > a:hover > .caret, .jms-megamenu .mega-nav li > a:hover {
  color: #A67E2E; }

.feature-box-style1 .btn-shopnow {
  border-bottom: 1px solid #A67E2E; }
  .feature-box-style1 .btn-shopnow:hover {
    color: #A67E2E; }

.nav-tabs > li > a.active {
  color: #A67E2E; }

.nav-tabs > li > a.active::after {
  background: #A67E2E; }

/* ------ */
/* Home3 */
.h3-button a:hover {
  border: 2px solid #A67E2E; }

/* ------  */
/* Banner */
.banner-style3 .btn-shop:hover {
  color: #A67E2E; }

/* ------ */
.block-categories .collapse-icons i {
  color: #A67E2E; }

.view-modes > a.active {
  color: #A67E2E;
  border: 1px solid #A67E2E; }

.pd-right-content .content_price .price.new {
  color: #A67E2E; }

.product-actions .product-add-to-cart .action-box a:hover {
  color: #A67E2E; }

.jms-popup #newsletter_block_left .popup-text .cap span {
  color: #A67E2E; }

.page-my-account #content .links a:hover, .page-my-account #content .links a:hover i {
  color: #A67E2E; }

/* Top Bar */
.jms-megamenu .nav > li > a {
  color: rgba(255, 255, 255, 0.9); }

.top-bar {
  background: #000; }
  .top-bar .container-fluid {
    padding-left: 3.5%;
    padding-right: 3.5%; }
    .top-bar .container-fluid > .row {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
  .top-bar img.logo {
    max-height: 56px; }
  .top-bar .mid {
    text-align: center; }
  .top-bar .right-items .user-info > a {
    color: #fff; }
  .top-bar .right-items .user-info > a::after {
    background: rgba(255, 255, 255, 0.9); }
  .top-bar .right-items .addon-box:first-child {
    border-right: 1px solid rgba(245, 245, 245, 0.36); }
  .top-bar #jms_ajax_search > a, .top-bar .wishlist-box > a, .top-bar #cart_block .icon {
    color: rgba(255, 255, 255, 0.9); }

#jms_ajax_search.default.open .search-wrapper {
  top: 96px; }

#jms_ajax_search.default .search-wrapper {
  height: 900px; }

/* ------ */
/* Sliders */
.h2-medium-text {
  line-height: 1;
  font-family: 'Satisfy', cursive; }
  .h2-medium-text .custom {
    position: relative; }
    .h2-medium-text .custom .b-title_separator {
      display: block;
      top: -20px;
      text-align: center; }
    .h2-medium-text .custom .b-title_separator::before {
      background-color: #dcdcdc;
      bottom: -2px;
      content: " ";
      display: inline-block;
      height: 1px;
      left: 50%;
      margin-left: -34px;
      position: absolute;
      width: 24px; }
    .h2-medium-text .custom .b-title_separator::after {
      background-color: #dcdcdc;
      bottom: -2px;
      content: " ";
      display: inline-block;
      height: 1px;
      left: 50%;
      margin-left: 10px;
      position: absolute;
      width: 24px; }
    .h2-medium-text .custom .b-title_separator span::before {
      background-color: #c1c1c1;
      bottom: -12px;
      content: " ";
      display: inline-block;
      height: 1px;
      left: 50%;
      margin-left: -6px;
      position: absolute;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 12px; }
    .h2-medium-text .custom .b-title_separator span::after {
      background-color: #c1c1c1;
      bottom: -12px;
      content: " ";
      display: inline-block;
      height: 1px;
      left: 50%;
      margin-left: -6px;
      position: absolute;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 12px; }

.h2-large-text {
  line-height: 1;
  font-weight: 700; }

.h2-button a {
  padding: 0 40px;
  background: none;
  border: 2px solid #fff;
  color: #fff; }
  .h2-button a:hover {
    background: #000;
    border: 2px solid #000; }

/* ------- */
/* Categories List */
.section-categories-list {
  position: relative;
  z-index: 1000; }
  .section-categories-list .layout-column {
    margin-top: -50px; }

/* ------- */
/* Banners & Newsletters */
#newsletter_block_left .home2-text {
  display: block !important;
  visibility: visible !important; }

.home2 #newsletter_block_left .input-email::before {
  color: #999; }

.home2 #newsletter_block_left #newsletter-input {
  border-bottom: 2px solid rgba(213, 213, 213, 0.7);
  color: #999; }

.home2 #newsletter_block_left .form-group *::-moz-placeholder {
  color: #000; }

.home2 #newsletter_block_left .newsletter-btn {
  background: #000;
  color: #fff; }

.home2-text .cap {
  color: #999999;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
  margin-bottom: 12px; }

.home2-text h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px; }

.home2-text .desc {
  color: #000;
  line-height: 1.5;
  margin-bottom: 25px; }

/* ------- */
.blog-box .cat-box a {
  background-color: #ee4684; }

/* Instagram */
.instagram-wrapper {
  margin-bottom: -2px; }

.instagram-images {
  margin-bottom: -1px; }
  .instagram-images .hover-mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .instagram-images .hover-mask:after {
      content: "\f105";
      font-size: 40px;
      position: absolute;
      top: 40%;
      left: -20px;
      width: 100%;
      font-family: FontAwesome;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .instagram-images .image-box {
    position: relative; }
    .instagram-images .image-box:hover .hover-mask {
      background-color: rgba(0, 0, 0, 0.7); }
      .instagram-images .image-box:hover .hover-mask:after {
        visibility: visible;
        opacity: 1;
        left: 0; }

/* ------ */
/* Responsive */
@media (max-width: 1366px) {
  #jms_ajax_search.default .search-wrapper {
    height: 571px; } }

@media (max-width: 1199px) {
  .h2-button {
    left: 44% !important; }
    .h2-button a {
      line-height: 2.5vw;
      padding: 0 2vw; } }

@media (max-width: 991px) {
  .top-bar .left {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    right: 15px;
    top: calc(50% - 20px);
    width: 20px; }
    .top-bar .left .menu-button {
      color: #fff; }
  .top-bar .mid .addon-box {
    text-align: left; }
  .top-bar .menu-button {
    position: static; }
  .top-bar .container-fluid {
    position: relative;
    padding-left: 15px;
    padding-right: 55px; }
  #newsletter_block_left .input-email {
    width: calc(100% - 120px); }
  #newsletter_block_left .newsletter-btn {
    width: 120px; }
  #newsletter_block_left .form-group {
    padding: 0 10px; }
  .h2-medium-text .custom .b-title_separator {
    top: -10px; }
  .h2-medium-text .custom .b-title_separator::before, .h2-medium-text .custom .b-title_separator::after {
    bottom: -5px; }
  .h2-button a {
    font-size: 12px; } }

@media (max-width: 767px) {
  .right-items .addon-box:first-child, .right-items .addon-box:nth-child(2) {
    display: none; }
  #cart_block .icon .ajax_cart_quantity {
    color: #111; }
  .section-categories-list .layout-column {
    margin-top: 30px; }
  .h2-button {
    left: 42.5% !important; }
  .h2-button a {
    line-height: 25px; } }

@media (max-width: 480px) {
  .h2-medium-text {
    font-size: 13px !important; }
  .h2-medium-text .custom .b-title_separator {
    display: none; }
  .h2-small-text {
    font-size: 7px !important;
    left: 20% !important; }
  .h2-button {
    top: 67% !important; }
  .h2-button a {
    font-size: 9px; } }

@media (max-width: 360px) {
  .top-bar .mid {
    width: 50%; }
  .top-bar .right-items {
    width: 50%; }
  .home2-text .desc {
    font-size: 13px; }
  .home2-text .cap {
    font-size: 11px; }
  .home2-text h3 {
    font-size: 20px; }
  #newsletter_block_left .newsletter-btn {
    font-size: 13px;
    line-height: 35px;
    width: 100px; } }

/* ------ */
.home2 .jms-popup #newsletter_block_left #newsletter-input {
  border-bottom: 2px solid #000;
  color: #000; }

.jms-popup #newsletter_block_left .home2-text {
  display: none !important;
  visibility: hidden !important; }

#index #footer {
  margin-top: 0; }

#footer {
  margin-top: 60px; }
