.rtl .jms-megamenu .nav > li:first-child > a {
  padding-left: 14px;
  padding-right: 0;
}
.header-bottom .right-items .addon-box:first-child {
  border-left: 2px solid #f5f5f5;
  border-right:none;
}

@media (max-width: 991px) {
	.rtl .header-bottom .container {
	  padding-right: 15px;
	  padding-left: 55px;
	}
	.rtl .header-bottom .mid {
	  left: 15px;
	  right: auto;
	}
	.rtl .header-bottom .left .addon-box {
	  text-align: right;
	}
}