.rtl .banner-text .find-us {
  text-align: left;
}
@media (max-width: 991px) {
	.rtl .header-bottom .container {
	  padding-right: 15px;
	  padding-left: 55px;
	}
	.rtl .header-bottom .mid {
	  left: 15px;
	  right: auto;
	}
	.rtl .header-bottom .left .addon-box {
	  text-align: right;
	}
}