.rtl .top-bar .right-items .addon-box:first-child {
  border-left: 1px solid rgba(245, 245, 245, 0.36);
  border-right:none;
}

@media(max-width: 991px) {
	.rtl .top-bar .container-fluid {
	  padding-right: 15px;
	  padding-left: 55px;
	}
	.rtl .top-bar .left {
	  right: auto;
	  left: 15px;
	}
	.rtl .top-bar .mid .addon-box {
	  text-align: right;
	}
}