B/*

 *  Bootstrap TouchSpin - v3.1.1

 *  A mobile and touch friendly input spinner component for Bootstrap 3.

 *  http://www.virtuosoft.eu/code/bootstrap-touchspin/

 *

 *  Made by István Ujj-Mészáros

 *  Under Apache License v2.0 License

 */



/*!

 * Bootstrap v4.0.0-alpha.4 (http://getbootstrap.com)

 * Copyright 2011-2016 The Bootstrap Authors

 * Copyright 2011-2016 Twitter, Inc.

 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)

 */

/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */



html {

  font-family: sans-serif;

  -ms-text-size-adjust: 100%;

  -webkit-text-size-adjust: 100%; }



body {

  margin: 0; }

/*# sourceMappingURL=theme.css.map*/

@font-face{

    font-family:Material Icons;

    font-style:normal;

    font-weight:400;

    src:url(../css/e79bfd88537def476913f3ed52f4f4b3.eot);

    src:local("Material Icons"),local("MaterialIcons-Regular"),url(../css/570eb83859dc23dd0eec423a49e147fe.woff2) format("woff2"),url(../css/012cf6a10129e2275d79d6adac7f3b02.woff) format("woff"),url(../css/a37b0c01c0baf1888ca812cc0508f6e2.ttf) format("truetype")

}
ul#dropdown-container, ul#dropdown-switcher{
  display: none;
  background-color: #fff;
  padding-left: 8px;
}
ul#dropdown-switcher li{
  display:block;
  background-color: #fff;
  z-index: 2000;
  text-align: left;
  
}
ul#dropdown-switcher li a{
  color:#000;
}
ul#dropdown-container li {
    display: block;

    background-color: #fff;

    z-index: 2000;

    line-height: 10px;

    border-bottom: 1px dotted #e0e0e0;

    text-align: left;

    padding:5px;

    margin-left: 0px;

    margin-top: 0px;
}
ul#dropdown-container li a{
    color:#000;
}
ul#dropdown-container li a:hover{
    color:#b6995d;
}
/* On mouse-over */
.dropdown-btn:hover {
  color: #f1f1f1;
}
/* Add an active class to the active dropdown button */
.active {
  /*color: #b6995d;*/
  color: #000;
}
ul.reassur{
    overflow:hidden;
    margin: 0 auto;
    /*width: 1020px;*/
    /*margin-left:50px;*/
}
ul.reassur li p{
    text-align:center;
    font-size:11px;
    color:#000;
    font-weight: normal;
}
.header-bottom img.logo{
    min-height: 90px;
    position: relative;
    left: -20px;
    margin-top: 45px;
}
ul.reassur li h4{
    color:#000;
    font-size:11px;
    font-weight: bold;
}
span.slogan{
    position: relative;
    top: 0px;
    left: 56px;
}
ul.reassur li{
    float:left;
    color:#fff;
    /*padding-left: 100px;*/
    text-align:center;
}
ul.reassur li a{
    text-decoration:underline;
}
ul.footernav{
    text-align: center;
    margin:0 auto;
    width: 480px;
    overflow: hidden;
}
ul.footernav li{
    float:left;
    padding-left:10px; 
}
ul.footernav li a{
    color:#fff;
}
ul.footernav li a:hover{
    text-decoration: underline;
}
.social-sharing li a:hover {
    color: transparent;
}
.social-sharing li a {
    display: block;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-indent: 100%;
    overflow: hidden;
}
#social_block .find-us li a:hover{
    color: #fff;
}
#social_block li a.facebook:hover{
    color:#3b5998;
}

#social_block li a.twitter:hover{
    color:#55acee;
}
#social_block li a.pinterest:hover{
    color:#f44336;
}

#social_block li a.whatsapp:hover{
    color:#79ba7e;
}
#social_block li a.youtube:hover{
    color:#f44336;
}

#social_block li a.linkedin:hover{
    color:#0077b5;
}
#social_block li a.telegram:hover{
    color:#29b6f6;
}
#social_block li a.instagram span:hover{
    background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    border-radius: 50%
     
       }
ul.social-btn{
  overflow: hidden;
  display:block;
}
ul.social-btn li{
  float:left;
  padding:10px;
}
ul.social-btn li a:hover{
    color:#fff;
}
ul.social-btn li a:active{
    color:#fff;
}
.pd-right-content h2{
    margin-top:80px;
}
.facebook.icon-gray {
    background-image: url(../css/082a71677e756fb75817e8f262a07cb4.svg);
}
.twitter.icon-gray {
    background-image: url(../css/e049aeb07a2ae1627933e8e58d3886d2.svg);
}
.pinterest.icon-gray {
    background-image: url(../css/99db8adec61e4fcf5586e1afa549b432.svg);
}
.social-sharing ul li {
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    background-position: .25rem .25rem;
    cursor: pointer;
    margin-left: .5rem;
}
.logo_class, .right-items{
    position: relative;
    top:-30px;
}
.page-content.page-cms{
    margin-left: auto;
    margin-right: auto;
    padding-left: 3.5%;
    padding-right: 3.5%;
}
.material-icons{

    font-family:Material Icons;

    font-weight:400;

    font-style:normal;

    font-size:24px;

    display:inline-block;

    vertical-align:middle;

    width:1em;

    height:1em;

    line-height:1;

    text-transform:none;

    letter-spacing:normal;

    word-wrap:normal;

    white-space:nowrap;

    direction:ltr;

    -webkit-font-smoothing:antialiased;

    text-rendering:optimizeLegibility;

    -moz-osx-font-smoothing:grayscale;

    -webkit-font-feature-settings:"liga";

    font-feature-settings:"liga"

}

.bootstrap-touchspin .input-group-btn-vertical .touchspin-up:after{

    content:"\E5CE"

}

.bootstrap-touchspin .input-group-btn-vertical .touchspin-down:after{

    content:"\E5CF"

}
.store_bloc_left:hover {
    color: #fff;
    background: #b6995d;
}
.store_block_left{
    text-align: center;

    background-color: #fff;

    border-radius: 0;

    color: #000;

    display: inline-block;

    font-size: 14px;

    letter-spacing: .3px;

    line-height: 40px;

    padding: 0 20px;

    text-transform: uppercase;

    border: none;
}
.store_block_left a:hover{
    color:#b6995d;
}

* {
    font-family: arial;
}

body {
    background-color: #333;
}
#switcher_lang{
    position:absolute;
    top:40px;
}
#switcher_lang .select {
  font-size: 16px;
  position: relative;
  display: inline-block;
}
#switcher_lang .select select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  /*padding: 1.2em 3em 1.3em 1.5em;*/
  margin: 0;

  transition: border-color 0.2s;
  border: 1px solid #b6995d;
  border-radius: 5px;

  background: #fff;
  color: #555;
  line-height: normal;
  font-family: inherit;
  font-size: 14px;
  line-height: inherit;
}
#switcher_lang .select .arr {
  background: #fff;
  bottom: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 50px;
  pointer-events: none;
}
#switcher_lang .select .arr:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 10px solid #b6995d;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

#switcher_lang .select .arr:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}


.languagepicker {
    background-color: #FFF;
    display: inline-block;
    padding: 0;
    height: 40px;
    overflow: hidden;
    transition: all .3s ease;
    margin: 0 10px 10px 0;
    vertical-align: top;
    float: left;
    position: absolute;
    top: -7px;
    z-index: 200;
}
.jms-slider-wrapper{
    z-index:150;
    margin-top: -4px;
    top: -3px;
}

.languagepicker:hover {
    /* don't forget the 1px border */
    height: 81px;
}

.languagepicker a{
    color: #000;
    text-decoration: none;
}

.languagepicker li {
    display: block;
    /*padding: 0px 20px;*/
    line-height: 40px;
    border-top: 1px solid #EEE;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 80px;
}

.languagepicker li:hover{
    background-color: #EEE;
}

.languagepicker a:first-child li {
    border: none;
    background: #FFF !important;
}

.languagepicker li img {
    margin-right: 5px;
}

.roundborders {
    border-radius: 5px;
}

.large:hover {
    /* 
    don't forget the 1px border!
    The first language is 40px heigh, 
    the others are 41px
    */
    height: 245px;
}
.logo_class div:nth-child(2){
    position:relative;
    top: -20px;
}
div.cat-name{
    position: absolute;
    top: 10px;
    left: 20px;
    text-shadow: 1px 1px 1px black;
    color: #fff;
    font-size:19px;
}
ul#output{
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
}
th{
    color:white;
    background-color: black,
}
