
.badges .badges-rtl{float: right!important;margin-right:5px}

/* add review form */
#add-review-form-review .title-form-text-left{float: right!important;}
#add-review-form-review .title-form-text-right{float:left!important;}

#shopify-product-reviews .spr-review-header-starratings{float: right}
#shopify-product-reviews .rating-stars-total{float: right}
#shopify-product-reviews .spr-review-header-title{float: right}

.float-left{float: right}
.float-right{float:left}

.people-folowing-reviews .first-helpful{float: left;margin-right: 5px}


/* block total rating on the product page */

.gsniprev-block .rating, .gsniprev-block-16 .rating{float: right!important;}
.gsniprev-block-reviews-text{float: right!important;}

.ratings-block-punct{float:right}
.title-rating-block{float:right}
.view-ratings{float:right}

/** RTL fix for compatible with responsive theme */

.col-xs-1-custom,
.col-xs-2-custom,
.col-xs-3-custom,
.col-xs-4-custom,
.col-xs-5-custom,
.col-xs-6-custom,
.col-xs-7-custom,
.col-xs-8-custom,
.col-xs-9-custom,
.col-xs-10-custom,
.col-xs-11-custom {
    float: right!important; }


@media (min-width: 768px) {


    .col-sm-1-custom,
    .col-sm-2-custom,
    .col-sm-3-custom,
    .col-sm-4-custom,
    .col-sm-5-custom,
    .col-sm-6-custom,
    .col-sm-7-custom,
    .col-sm-8-custom,
    .col-sm-9-custom,
    .col-sm-10-custom,
    .col-sm-11-custom{
        float: right; }


     }
@media (min-width: 992px) {
    .container-custom {
        max-width: 970px; }

    .col-md-1-custom,
    .col-md-2-custom,
    .col-md-3-custom,
    .col-md-4-custom,
    .col-md-5-custom,
    .col-md-6-custom,
    .col-md-7-custom,
    .col-md-8-custom,
    .col-md-9-custom,
    .col-md-10-custom,
    .col-md-11-custom {
        float: right!important; }



     }
@media (min-width: 1200px) {


    .col-lg-1-custom,
    .col-lg-2-custom,
    .col-lg-3-custom,
    .col-lg-4-custom,
    .col-lg-5-custom,
    .col-lg-6-custom,
    .col-lg-7-custom,
    .col-lg-8-custom,
    .col-lg-9-custom,
    .col-lg-10-custom,
    .col-lg-11-custom {
        float: right!important;
    }




}


/** RTL fix for compatible with responsive theme */