.owl_storereviews_home_type_carousel .owl-controls .owl-nav,
.owl_reviews_home_type_carousel .owl-controls .owl-nav,
.owl_users_home_type_carousel .owl-controls .owl-nav{
    margin-bottom: 10px!important;

}


#footer-add-storereview-form-storereview .btn-danger{padding: 5px!important;}

.owl_storereviews_home_type_carousel ul.owl-carousel,
.owl_reviews_home_type_carousel ul.owl-carousel,
.owl_users_home_type_carousel ul.owl-carousel
{position:relative!important;}


/* tabs style for product reviews */
.tab-pane .block-helpful{line-height: 2em}

@media (min-width: 767px) {
    .tab-pane .spr-review-content .col-sm-2-custom {
        width: 33.3%
    }

    .tab-pane .filter-reviews-spmgsnipreview .col-sm-1-custom {
        width: 100%
    }

    .tab-pane .filter-reviews-spmgsnipreview .col-sm-2-custom {
        width: 50%
    }
}
/* tabs style for product reviews */


#page_navr nav{display: inline-block;!important}
.pagination li{float:left}