

.display-none{display:none}



.button-bottom-add-review{margin-top:10px}

#add-testimonial-form {
				  margin-top:10px;
				  padding:5px;
				  border:1px solid #C4C4C4;
				  display:none
				}
#text-before-add-testimonial-form{display: none}
#add-testimonial-form .title-rev{
    border-bottom: 1px solid #C4C4C4;
    color: #2580C7;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
}

#add-testimonial-form table{
	margin-top:10px;
	width:100%;
	           
}

#add-testimonial-form .form-left{
    font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
    width: 30%;
    line-height:2.5em
}

#add-testimonial-form .recommended-review{
	font-size: 12px;
    font-weight: bold;
    padding: 0 10px;
    line-height:2.5em
	
}

#add-testimonial-form .yes-review{color:#67983B}
#add-testimonial-form .no-review{color:#C63300}
#add-testimonial-form .form-right{width:70%}

#add-testimonial-form .title-form-text-left{float:left;margin-top:10px;}
#add-testimonial-form .title-form-text-right{float:right;margin-bottom:0px}




.total-info-tool{
    background: none repeat scroll 0 0 #F3F3F3;
    margin-bottom: 10px!important;
    padding: 7px 0 8px;
    font-size: 12px;
    color:#333;
}

.total-info-tool .first-block-ti, .total-info-tool, .b-search-items{
margin: 0;
padding: 5px 5px 4px;
}


.shopreviews-items {
    position: relative;
}

.shopreviews-items .info {
    padding: 18px 15px 18px 10px;
}
.shopreviews-items {
    border-bottom: 1px solid #E2E2E2;
    vertical-align: top;
}

.shopreviews-items .info span.commentbody_center {
    line-height: 1.35em;
}
span.commentbody_center {
    font-size: 100%;
    padding: 3px 10px 3px 0px;
    width: 98%;
    word-wrap: break-word;
	color:#333;
}
span.foot_center  {
    color: #595A5E;
    float: right;
    font-size: 11px;
    font-style: italic;
}

span.foot_center .fs-12{font-size:12px;}

span.foot_center a{color:#2580C7}


.block-side-item{border-bottom: 1px dashed grey;margin-bottom: 5px!important;}
.rItem {

    border-bottom: 1px dashed grey;
    padding: 3px 5px;
    width: auto;
    word-wrap: break-word;
    margin-bottom:5px
}
.ratingBox{margin-bottom:5px}



#succes-review{display:none;
	border: 1px solid #4DA400;
    color: #4DA400;
    font-size: 12px;
    padding: 10px;
    text-align: center;
	margin-top:10px
}

.error_testimonials_form{background-color:#FFFCE7}

.no-items-shopreviews{height:auto;text-align:center;padding-top:10px}



.inpCaptchaReview {
    font-size: 13px;
    margin-left: 10px;
    margin-top: 2px;
    min-height: 18px;
}
.float-left{float:left}
.float-right{float:right}
.clr {
    clear: both;
    display: block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}
.clear{clear:both}	


.spmgsnipreview-block16 .no-items-shopreviews, .spmgsnipreview-footer16 .no-items-shopreviews {width:auto!important}

.spmgsnipreview-block16{margin-bottom: 10px}

.float-left-table16{float:left}
.sortTools16{padding: 7px 0 32px!important;}
.padding16{height:20px!important}
.padding16-faq{height:19px!important}

.spmgsnipreview-footer16 td{padding:0 2px!important}
.spmgsnipreview-footer16 li, .blockmanufacturer16 li{padding:7px 0}
.spmgsnipreview-footer16 li a, .blockmanufacturer16 li a{padding: 7px 11px 5px 22px;}
.spmgsnipreview-footer16{width:270px!important}

.spmgsnipreview td{padding:0 2px!important}

.b-tab-16{padding:4px 10px 2px!important}



.testimonials-block-h4 .total-rating-items-block img{vertical-align: top!important;}
.testimonials-block-h4{margin-bottom:0px!important;}
.font-size-11{font-size: 11px}
.testimonials-link-web{font-size: 11px!important;color:#2580C7!important;text-decoration:underline!important}
.testimonials-width-auto{width:auto!important;}
.margin-top-10{margin-top:10px}
.margin-top-5{margin-top:5px}
.margin-top-3{margin-top:3px}
.margin-5{margin:5px!important;}
.color-black{color:black!important;}
.padding-0{padding: 0px!important}
.padding-10{padding:10px}
.margin-top-20{margin-top:20px!important;}
.testimonials-stars{cursor:pointer; padding-left: 3px;}
.testimonials-req{color:#EB340A}
.testimonials-input{margin-left:0px!important;width:80%!important;}
.testimonials-textarea{margin-left:0px!important;width:80%!important;height:120px!important}

.block-add-testimonial-button{text-align: center!important;}
.testimonials-items{margin-top:10px;border:1px solid #CCCCCC;padding:5px}
.margin-bottom-10{margin-bottom: 10px;}
.margin-bottom-20{margin-bottom: 20px;}
.testimonials-count-items{color: #333;}
.testimonials-no-items{background-color: #fff;border: 1px solid #c4c4c4;margin-top: 10px;padding: 10px;text-align: center;}
.text-align-center{text-align: center}
.b-guide{margin-top: 5px;font-size:11px;}
.margin-bottom-5{margin-bottom: 5px;}
.margin-right-10{margin-right: 5px;}
.text-align-right{text-align: right}

.btn-custom {
    -moz-user-select: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-primary-spmgsnipreview {
    background-color: #428bca !important;
    border-color: #357ebd !important;
    color: #fff !important;
}

.btn-success-custom {
    background-color: #46a74e;
    border-color: #3e9546;
    color: #fff;
}

.errorTxtAdd {
    color: red;
    font-size: 12px;
    padding: 3px 0;
}
.error-current-input {
    background-color: #ffeeee !important;
}
.error-label{color:red!important;}

.post_avatar{text-align: center;padding: 18px 15px 18px 10px}
.post_avatar img{
    width:85px;height:85px;padding:5px;background:#FFF;border:1px solid #CCC;border-radius:100%;
    margin:0px!important;position:relative;z-index:1;display:inline-block}

.avatar-block{width: 30%;text-align: center}
.testimonial-block-text{width: 70%;padding-top:5px}
.testimonial-block-text-100{width:100%;padding-top:5px}


.avatar-block15{width: 40%;text-align: center}
.testimonial-block-text15{width: 60%;padding-top:5px}
.testimonial-block-text15-100{width: 100%;padding-top:5px}

.avatar-block-home{width: 15%;text-align: center}
.testimonial-block-text-home{width: 85%;padding-top:5px}

.avatar-block-popup{width: 30%;text-align: center}
.testimonial-block-text-popup{width: 70%;padding-top:5px}
.testimonial-block-text-popup-100{width: 100%;padding-top:5px}

.avatar-block img, .avatar-block15 img, .avatar-block-home img, .avatar-block-popup img{
    width:55px;height:55px;padding:5px;background:#FFF;border:1px solid #CCC;border-radius:100%;
    margin:0px!important;position:relative;z-index:1;display:inline-block}

.block_content .ratingBox img{width: 13px ; height: 13px}

.admin-reply-on-testimonial{margin-left: 5%; margin-top:10px;color:#777}
.admin-reply-on-testimonial .owner-date-reply{font-weight:bold;margin-bottom: 3px;color:#333}

/*.foot_center img{vertical-align: top}*/

.no-registered-ti{font-weight:bold;text-align:center;border: 1px solid #cccccc;padding:10px}
.is_buy{color:#c45500 !important;font-weight: bold;font-size:11px!important;}





.filter-testimonials{
    margin-bottom: 10px; border: 1px solid rgb(204, 204, 204); padding: 10px 10px 8px;
}
.filter-testimonials .count-items-block{font-size: 14px;text-decoration:underline;margin-left: 2px}
.text-decoration-none{text-decoration: none!important;}
.filter-testimonials .filter-txt-items-block{color:#333;}
.filter-testimonials .reset-items-block{text-decoration:underline;color:#333;}
.filter-testimonials .reset-items-block i{margin-right: 3px;}
.filter-testimonials{text-decoration:none;}
.filter-testimonials .col-sm-1-custom, .filter-testimonials .col-sm-2-custom{text-align: center}
.filter-testimonials .col-sm-1-custom, .filter-testimonials .col-sm-2-custom{padding: 5px 0px 3px}
.filter-testimonials .active-items-block{background-color: #fafafa; border: 1px solid #cccccc;}

.filter-testimonials img , .filter-testimonials a{text-decoration: none!important;}
.filter-testimonials img{vertical-align: top}


.button_mini_custom{
    background: #f4b61b repeat-x scroll 0 0;
    border: 1px solid #cc9900;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 5px 7px;
    position: relative;
    text-align: left;
    white-space: normal;
}


.clear-search-items{
    float: right;
    margin: 7px 10px 7px 0px;
    text-decoration: underline !important;

}

.b-search-items {
    float:right!important;
    border:none!important;
    padding: 0px 10px 0px!important;
}

.b-search-items fieldset {
    border: medium none;
}

.b-search-items input {
    border: 0 none;
    float: right;
    margin-left: 0;
}

.b-search-items input.txt {
    width:131px;
    padding-left:5px;
    padding-right:5px;
    height:28px;
    font-size:11px;
    color:#666666;
    border:1px solid #dad4d4;
    border-right:none;
    margin-left:0px;
}
.b-search-items fieldset{border:none}

.search-result-item{
    font-size: 14px;
    padding: 10px 0;

}
.submit_testimonal{padding:5px 0 10px 0;overflow: hidden}

.submit_testimonal span{color:white}

.vertical-align-top{vertical-align: top}


 /** fix for compatible with responsive theme */
.row-custom{margin-left:0px;margin-right: 0px}


@media (min-width: 768px) {
    .col-sm-2-custom,
    .col-sm-6-custom,
    .col-sm-10-custom,
    .col-sm-12-custom
    {
        float: left;
    }

    .col-sm-2-custom {
        width: 16.66667%;
    }
    .col-sm-6-custom {
        width: 50%;
    }
    .col-sm-10-custom {
        width: 83.33333%;
    }
    .col-sm-12-custom {
        width: 100%;
    }

}


.total-rating-items-block{color:#333;font-size:12px;font-weight: bold}
.total-rating-items-block-footer{color:white;font-size:12px;font-weight: bold}
.separator-items-block{margin: 0 5px;color:#333;font-weight: bold}

/** fix for compatible with responsive theme */



#body-add-storereview-form-storereview{padding:10px}
#body-add-storereview-form-storereview label , #body-add-storereview-form-storereview  .label-span{font-size: 14px;font-weight: bold;margin: 12px 0 4px;color: #666;display: inline-block;text-align:left}
#body-add-storereview-form-storereview input{padding: 0 5px; height: 28px; width: 100% !important; min-width: 100% !important; border: 1px solid #ccc; background: #fff;}
#body-add-storereview-form-storereview .form-control{cursor: not-allowed; border-radius: 0;color: #9c9b9b;display: block;font-size: 13px;line-height: 1.42857;vertical-align: middle;width: 100%;font-weight: 500}
#body-add-storereview-form-storereview .cursor-active{cursor: auto!important;color:#666!important;}
#body-add-storereview-form-storereview textarea{padding: 5px; height: 160px; width: 100% !important; min-width: 100% !important; border: 1px solid #ccc; background: #fff;}
#body-add-storereview-form-storereview input#inpCaptchaReview, #body-add-storereview-form-storereview input#inpCaptchaAbuse{min-width: 20% !important;width: 20% !important;}
#body-add-storereview-form-storereview .required{color:red}
#body-add-storereview-form-storereview  .avatar-guid{font-size: 11px;margin-top: 5px;}


#footer-add-storereview-form-storereview{ padding: 10px 0;text-align: center;}
#footer-add-storereview-form-storereview .btn-success, .spr-storereview-footer .btn-success{background-color: #46a74e;border-color: #3e9546;color: #fff;}
#footer-add-storereview-form-storereview .btn-success:hover, #footer-add-storereview-form-storereview .btn-success:focus, #footer-add-storereview-form-storereview .btn-success:active,#footer-add-storereview-form-storereview .btn-success.active,




.rating-stars-dynamic-storereview {
    cursor: pointer;
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    padding-left: 3px;
}

.file-form-size{width:80px}
#file-files-list .form-group{vertical-align: baseline;margin: 10px 0;}
#file-files-list .pull-right-spmgsnipreview {float: right;}
#file-files-list .f-img{margin-right:10px}


#file-upload-rev .progress-files-bar{width: 100%; background-color:#c4c4c4;  height: 20px; margin-top: 10px;display:none}
#file-upload-rev .progress-files-bar .progress-files{height: 20px;background-color:#777; }

.files-review-spmgsnipreview{height:100px;float:left;}
.files-review-spmgsnipreview img{
    padding: 2%;
}
.files-review-spmgsnipreview a{margin: 2%;}
.margin-top-10{margin-top:10px}


.files-review-spmgsnipreview img.img-responsive{
    display: block!important;
    height: 100px!important;
    max-width: 100%!important;}



.btn-default-spmgsnipreview {
    background-color: #fff;
    border-color: #ccc!important;
    color: #333;
}


.btn-spmgsnipreview {
    -moz-user-select: none;
    border: 1px solid;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none!important;
    height: auto!important;
}

#page_nav .pagination{width:auto}