

table.spmgsnipreview-widgets{border:0px!important;top: 15%; position: fixed; z-index: 9999;width:auto}
table.spmgsnipreview-widgets tr{border:0px!important;padding: 0px!important;}
table.spmgsnipreview-widgets td{border:0px!important;vertical-align:baseline!important;padding: 0px!important;}


/* testimonials */

#spmgsnipreview-box {
	position: fixed;
	z-index: 9999;
	
	
}

div#spmgsnipreview-box.left_shopreviews .outside {
	float: left;
	}

div#spmgsnipreview-box.left_shopreviews .belt {
	position: relative;
	z-index: 1;
	float: right;
	position: relative;
	z-index: 0;
	}
	
 
#spmgsnipreview-box .outside {
	position: relative;
	z-index: 1;
	min-width: 1px;
	
}
 
#spmgsnipreview-box .inside {
	position: relative;
	z-index: 2;
	background: #fff;
}
 
#spmgsnipreview-box.right_shopreviews .belt {
	position: relative;
	z-index: 1;
	float: right;
	position: relative;
	z-index: 0;
}

/* testimonials */



