/**
* 2016 TN
*
* NOTICE OF LICENSE
*
*  @author    TN
*  @copyright 2016 TN
*  @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/

p.payment_module a.tnwuandmg_westernunion {
    background: url("../img/tnwesternunion.png") 15px 15px no-repeat #fbfbfb;
}

p.payment_module a.tnwuandmg_westernunion:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}

p.payment_module a.tnwuandmg_moneygram {
    background: url("../img/tnmoneygram.png") 15px 15px no-repeat #fbfbfb;
}

p.payment_module a.tnwuandmg_moneygram:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}

#order-list td {
    vertical-align: top;
}

#order-list .tnwuandmg_enter_key_form {
    text-align: left;
    padding: 20px 0;
    display: none;
}

.tnwuandmg_enter_key_form .form-control {
    color: #000000;
}

.tnwuandmg_key {
    cursor: pointer;
    text-decoration: underline;
}

.page-my-account #content .links a i.icon-fllist_wu {
    padding: 0;
    margin-bottom:-12px;
}

.icon-fllist_wu:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../img/tnwesternunion.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.page-my-account #content .links a i.icon-fllist_mg {
    padding: 0;
    margin-bottom: -12px;
}

.icon-fllist_mg:before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../img/tnmoneygram.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 75%;
}

.transferData .left_item {
    width: 30%;
}

@media only screen and (max-width: 655px) {
    .wu-table,
    .wu-table thead,
    .wu-table tr {
        display: inline-block;
        width: 100%;
    }

    #order-list.wu-table th {
        display: inline-block;
        width: 25%;
        text-align: right !important;
        border: none !important;
    }

    #order-list.wu-table th.tmobile {
        display: none !important;
    }

    #order-list.wu-table td {
        display: inline-block;
        width: 25%;
        text-align: right !important;
        border: none !important;
    }

    #order-list.wu-table td.tmobile {
        width: 100%;
    }

    .wu-table tr {
        border-bottom: 1px solid #d6d4d4;
    }
}

@media only screen and (max-width: 512px) {
    #order-list.wu-table th {
        display: inline-block;
        width: 33%;
    }

    #order-list.wu-table td {
        display: inline-block;
        width: 33%;
    }

    .transferData td {
        width: 50%;
        padding: 5px !important;
    }
}

.link-button.tnwuandmg_key {
    display: inline-block;
}

.transferData .print_title{
    display: inline-block;
    float: right;
    cursor: pointer;
    text-decoration: none;
}

#order-list tr.open .tnwuandmg_enter_key_form{
    display: block;
}

.button-medium.paddingLR10{
    padding: 5px 10px!important;
}

.transferData .right {
    float: right;
}

a.link-button.tnwuandmg_key {
    color: #2fb5d2;
    text-decoration: none;
}

.btn_block {
    padding: 0 10px;
}