/**
* 2016 TN
*
* NOTICE OF LICENSE
*
*  @author    TN
*  @copyright 2016 TN
*  @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/

.bgLogo {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url('../img/tnwesternunion.png') center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table {
    width: 100%;
    margin-bottom: 18px;
}

.table-bordered {
    border: 1px solid #d6d4d4;
}
.table > thead > tr > th {
    background: #fbfbfb;
    border-bottom-width: 1px;
    color: #333;
    vertical-align: middle;
    text-align: left;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    border: 1px solid #d6d4d4;
}
table th {
    font-weight: bold;
}
.transferData .left_item {
    width: 30%;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > tfoot > tr > td {
    border: 1px solid #d6d4d4;
}
.table thead > tr > th, .table thead > tr > td, .table tbody > tr > th, .table tbody > tr > td, .table tfoot > tr > th, .table tfoot > tr > td {
    padding: 9px 8px 11px 18px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #d6d4d4;
}