#aior_panel .panel-footer-right {
	text-align: right;
}

#aior_panel .panel-footer-right .pull-right {
	float: none !important;
}

#aior_panel input.datetimepicker {
	width: 160px;
}

#aior_panel .edit_reward, #aior_panel .delete_reward {
	cursor: pointer;
}

.ui-datepicker{top:0;left:0;padding:4px;margin-top:1px;-webkit-border-radius:4px;border-radius:4px}
.ui-datepicker * {font-size: 12px;}
.ui-datepicker dd {margin-left: 40px;}
.ui-datepicker:before{content:"";display:inline-block !important;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,0.2);position:absolute;top:-7px;left:6px}
.ui-datepicker:after{content:"";display:inline-block !important;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:7px}
.ui-datepicker .ui-datepicker-header{background:transparent !important;color:gray;font-weight:normal}
.ui-datepicker .ui-state-default{background:transparent !important}
.ui-datepicker .ui-state-highlight{border:solid 1px #dac308 !important;background:#FEFBE2 !important}
.ui-datepicker .ui-state-active{color:#fff !important;background:#00aff0 !important;border:solid 1px #008abd !important}

#aior_panel .panel {
    border: solid 1px #d3d8db;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#aior_panel .panel-heading {
	font-weight: 600;
    text-transform: uppercase;
    padding: .75rem 1.25rem;
    background-color: #F7F7F7;
    border-bottom: 1px solid #d3d8db;
    border-radius: 5px 5px 0 0;
}

#aior_panel .panel-body {
    padding: 15px;
}

#aior_panel .form-group {
    margin-bottom: 15px;
    display: flex;
}

#aior_panel .form-group p.radio {
    margin-bottom: 0;
}

#aior_panel .form-group p.radio input {
    margin-right: 5px;
}

#aior_panel .btn-default.pull-right {
	color: #fff;
    background-color: #25b9d7;
    border-color: #25b9d7;
    box-shadow: none;
}

#aior_panel #rewards_gift_combinations h2 {
	font-size: 1rem;
}

#aior_panel .input-group-addon {
    padding: 6px 8px;
    background-color: #F7F7F7;
    border-top: 1px solid #d3d8db;
    border-left: 1px solid #d3d8db;
    border-bottom: 1px solid #d3d8db;
    border-right: 1px solid #d3d8db;
    border-radius: 3px 0 0 3px;
}

#aior_panel .input-group-addon:first-child {
	border-right: 0;
}

#aior_panel .input-group-addon:last-child {
	border-left: 0;
	border-radius: 0 3px 3px 0;
}