.jms-megamenu .label-see, .jms-megamenu .label-new {
  color: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  line-height: 1;
  padding: 2px 5px;
  position: absolute;
  top: 23%; }
  .jms-megamenu .label-see:before, .jms-megamenu .label-new:before {
    font-size: 9px;
    font-style: normal;
    font-weight: 700; }
  .jms-megamenu .label-see:after, .jms-megamenu .label-new:after {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    content: "";
    position: absolute;
    left: 20%;
    bottom: -3px; }
.jms-megamenu .label-see {
  background: #e74c3c none repeat scroll 0 0;
  right: 0; }
  .jms-megamenu .label-see:before {
    content: "SEE"; }
  .jms-megamenu .label-see:after {
    border-top: 3px solid #e74c3c; }

.jms-megamenu .label-new {
  background: #3bc51a;
  right: 0; }
  .jms-megamenu .label-new:before {
    content: "NEW"; }
  .jms-megamenu .label-new:after {
    border-top: 3px solid #3bc51a; }

#jms-megamenu-container {
    margin-bottom:0px;
    border: none;
    min-height: auto;
}
.image-menu img {
    width:100%;
}
.image-menu {
    position:relative;
}
.image-menu {
    position:relative;
}
.image-menu .flex-wrapper{
    position:absolute;
    padding-left:30px;
    width:100%;
    height:100%;
    align-items:center;
    font-size:16px;
    color:#111111;
    text-transform:capitalize;
    top:0;
    left:0;
    display:flex;
}
.jms-megamenu .nav a {
    transition: all 400ms;
    -o-transition: all 400ms;
    -ms-transition: all 400ms;
    -moz-transition: all 400ms;
    -webkit-transition: all 400ms;
}

.jms-megamenu img {
    max-width: 100%;
}
.jms-megamenu .nav > li {    
    display: inline-block;
    float: inherit;
    margin: 0px;
    padding: 0;    
    vertical-align: top;
    
}   
.jms-megamenu .nav > li > a  {
    text-transform: uppercase;
    padding: 0;
    color: rgba(0, 0, 0, 0.9);
    line-height: 95px;
    padding: 0px 15px;
    position: relative;
    letter-spacing: 0.5px;
}
.jms-megamenu .nav > li > a > .fa {
    opacity: 0.7;
}
.jms-megamenu .nav > li:first-child > a {
    padding-left:0;
}

.jms-megamenu .nav > li > a:hover,
.jms-megamenu .nav > li > a:focus {
    background:none;
}
.jms-megamenu .nav > li:hover, .jms-megamenu .nav > li.open {
    background:none;
}
.jms-megamenu .nav > li > a > .caret {
    margin-top: 0;
    position: absolute;
    top: 1%;
    color: #bbb;
    font-size: 12px;
    right: 8px;
    border:none;
}
.jms-megamenu .nav > li > a > .caret:before {
    content: "\f107";
    font-family: FontAwesome;
    line-height: 14px;
    font-style: normal;
}
.jms-megamenu .nav  a, 
.jms-megamenu .nav  a:hover, 
.jms-megamenu .nav  a:focus {
    background-color: transparent;
}
.jms-megamenu .dropdown-menu {
    display: block;
    position: absolute;
    top: calc(100% + 20px);
    background: #fff;
    border: none;
    left: 0;
    border-radius: 0;
    box-shadow: 0;
    margin-top: 0px;
    padding:0;
    z-index: 9999;
    min-width: 220px;
    opacity: 0;
    visibility: hidden;
    transition: all 100ms;
    -o-transition: all 100ms;
    -ms-transition: all 100ms;
    -moz-transition: all 100ms;
    -webkit-transition: all 100ms;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding:18px 5px;
}
.jms-megamenu .nav > li.open > a:after, .jms-megamenu .nav > li.open > a:before {
    visibility: visible;
}

.jms-megamenu .open > .dropdown-menu {
    opacity:1;
    visibility:visible;
    top:100%;
}
.jms-megamenu .nav .open .mega-nav .dropdown-menu {
    top:-5px;
}
.jms-megamenu .dropdown-menu.fullwidth {
    width:100%;
}
.jms-megamenu .row+ .row {    
    padding-top: 10px;
}
.jms-megamenu .row .mega-inner {    
    border-radius: 0;
    
}
.jms-megamenu .mega-nav, .jms-megamenu  .dropdown-menu .mega-nav {
    list-style: outside none none;
    margin: 0;
    min-height:20px;
    background:#fff;
}
.jms-megamenu .mega-nav li > a {
    border-radius: 0;
    color: #1b1919;
    display: block;
    padding: 4.5px 0;
    line-height: 26px;
    position: relative;
    text-transform: capitalize;
}
.jms-megamenu .mega-nav li > a:hover {
    padding-left: 5px;
}
.jms-megamenu  .caret {
    margin-left:5px;
}

.jms-megamenu .mega-nav li.selected > a{
    color:#333;
}

.jms-megamenu .mega-nav li.selected,
.mega-dropdown-menu.selected,
.mega-col-nav.selected > .mega-inner {
    border:1px solid #07b!important;
}   
.jms-megamenu .mega-nav li.group > a {
    font-size: 16px;
    letter-spacing: 0.6px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
}
.jms-megamenu .mega-nav .mega > a::after {
    content: "\f105";
    font-family: "FontAwesome";
    position: absolute;
    right: 0;
    top: calc(50% - 14px);
}
.jms-megamenu .mega-nav > li > ul > li.group,
.jms-megamenu .mega-nav > li.group {
    position:relative;
    padding-top: 10px;
}
.jms-megamenu .mega-nav > li.group:first-child {
    padding-top: 0;
}

.jms-megamenu .nav [class^="icon-"], 
.jms-megamenu  .nav [class*=" icon-"], 
.jms-megamenu  .nav .fa {
    margin-right: 5px;
}
.mega-nav > .mega > .dropdown-menu  {
    left: calc(100% + 20px);
    margin: 0;
    top: 0; 
}
.jms-megamenu .dropdown-menu .dropdown-menu {
    margin-left:0px;
}

.mega-nav > .mega {
    position:relative;
}

.jms-megamenu .menu-align-justify > .dropdown-menu {
    left: 0;
    margin-left: 0;
}

.jms-megamenu .menu-align-left > .dropdown-menu {
    left: 0;
}

.jms-megamenu .menu-align-right > .dropdown-menu {
    left: auto;
    right: 0;
}

.jms-megamenu .menu-align-center > .dropdown-menu {
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}

.mega-nav .mega > a:after {
  margin-right: 2px !important;
}
.jms-megamenu .mega-nav > .mega.menu-align-left > .dropdown-menu {
    left: 100%;
}

.jms-megamenu .mega-nav > .mega.menu-align-right > .dropdown-menu {
    left: auto;
    right: 100%;
}

.jms-megamenu .menu-align-justify {
    position: static;
}

.jms-megamenu .menu-align-justify > .dropdown-menu {
    left: 0;
    margin-left: 0;
}

@media (max-width: 991px) {
    #jms-megamenu-container {
        display:none;
    }           
}


@media (min-width: 992px) {
    .responsive #off-canvas-menu {
        display:none;
    }
}

/*=======================================
=            Megamenu Custom            =
=======================================*/
.jms-megamenu .row {
    margin-left:0;
    margin-right:0;
}
.jms-megamenu .nav > .item-fullwidth {
    position:static;
}
.jms-megamenu .item-fullwidth .dropdown-menu .mega-nav {
    padding: 0;
}
.jms-megamenu .nav > .item-fullwidth .dropdown-menu {
    padding: 40px 15px;
}
.jms-megamenu .nav > .item-fullwidth .mega-nav li {
    border-bottom: none;
    padding: 0;
}
.jms-megamenu .item-fullwidth .mega-col-nav {
    padding-left: 15px;
    padding-right: 15px;
}
.jms-megamenu .nav > .item-fullwidth .mega-nav li > a {
    line-height: 32px;
    border-bottom:none;
    padding:0;
    color: #646464;
}
.jms-megamenu .nav > .item-fullwidth .mega-nav li.group > a {
    padding-left: 0;
    line-height:1.5;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
}
.jms-megamenu .nav > .item-fullwidth.first .mega-nav li.group {
    margin-top:27px;
}
.jms-megamenu .nav > .item-fullwidth .mega-nav li.group > a:before {
    content: none;
}
.jms-megamenu .nav > .item-fullwidth .img-menu {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.jms-megamenu .nav > .item-fullwidth .sub-menu-col {
    padding-bottom:20px;
}
/*============================
=            Logo            =
============================*/
.logo-menu {
    display: none !important;
}




/*=======================================
=            Dropdown Layout            =
=======================================*/

.jms-megamenu .layout-dropdown .mod-content:hover img {
    transform: none;
}

.layout-row {
    padding: 35px 0;
}

.layout-row.odd {
    background: #f4f4f4;
}

.layout-row .layout-title {
    width: 240px;
    float: left;
    text-align: center;
}

.layout-row .layout-item {
    width: calc(100% - 240px);
    float: left;
}

.layout-row .layout-title h3 {
    font-size: 17px;
    text-transform: uppercase;
    color: #2f2f2f;
    padding: 63px 0 0;
    letter-spacing: 0.6px;
    line-height: 22px;
}

.layout-row .layout-item .item {
    float: left;
    margin-right: 70px;
}

.layout-row .layout-item .item:last-child {
    margin-right: 0;
}

.layout-row .layout-item .item p {
    margin: 10px 0 0;
    text-transform: uppercase;
    text-align: center;
}

.layout-row .layout-item .item p a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #2f2f2f;
}

.layout-row .layout-item .item:hover p a {
    color: #bb0101;
}

.layout-row .layout-item .item a {
    padding: 0;
}

/* Custom style */
    .jms-megamenu .home-list .mega-nav li > a {
        font-weight: 700;
        text-align: center;
        line-height:1.1;
        letter-spacing: 0.3px;
        margin-bottom: 5px;
        padding: 0;
    }
    .jms-megamenu .home-list .dropdown-menu .mega-nav {
        padding-bottom:21px;
    }
/* ------- */