<div class="row">
    <div class="col-xs-12 col-md-12">
        <p class="payment-module-description">
            {l s='Your order will be automaticaly payed with your account.' mod='hhpayment'}
        </p>
    </div>
</div>