<div class="row">

    <div class="col-xs-12 col-md-12">

        <p class="payment-module-description">

            {l s='Your will be redirected to payment PaygateGlobal api to confirm your order' mod='afrissimepay'}

        </p>

    </div>

</div>