
{extends "$layout"}
{block name="content"}
  <section>
    <iframe src="{$src}?token={$token}&amount={$total}&description={$description}&identifier={$identifier}" width="900" height="600" ></iframe>
  </section>
{/block}