@import '_partials/mixin';
@import '_partials/varians';
@import '_partials/default-color';

body#index {
	background-color:#000;
}

.navbar-fixed-top, #index .top-bar.navbar-fixed-top{
	background:rgba(0, 0, 0, 0.76);
}
#index .top-bar {
	background:transparent;
}
.top-bar {	
	background:rgba(0, 0, 0, 0.76);
	.container-fluid {
		padding-left: 3.5%;
  		padding-right: 3.5%;
		>.row {
			@include flex();
			@include align-items(center);
		}
	}
	img.logo {
	  max-height: 56px;
	}	
	
	#jms_ajax_search.default > a.icon, .wishlist-box a, #cart_block .icon {
		color:#fff;
	}
}
#index .top-bar {
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 1001;
}

.jms-megamenu .nav > li > a {
  color:#fff;
}

/* Slider */
	.h10-medium-text {
		line-height:1;
		font-family: 'Italianno', cursive;
	}
	.h10-large-text {
		font-family: 'Lora', serif;
		line-height:1.1;
		text-transform:uppercase;
		text-align:center;
	}
	.h10-small-text {
		line-height:1.4;
		text-align:center;
	}
	.h10-button a {
		border:2px solid #fff;
		color:#fff;
		background:none;
		line-height:38px;
		text-transform:uppercase;
		padding:0 40px;
		&:hover {
			background:#000;
			border:2px solid #000;
		}
	}
/* ------ */
.custom-title {
	.addon-desc {
		color: #bc9c72;
		font-family: "Italianno";
		font-size: 38px;
		line-height:1.2;
	}
	h3 {
		color: #fff;
		font-family: "lora";
		font-size: 36px;
		line-height:1.4;
	}
}

.product-preview.style3 .product-link {
	color:#fff;
}
.product-preview.style3 .content_price .new, .product-preview.style3 .content_price .old {
	color:#fff;
}

/* Newsletter */
	.home10-text {
		display:block !important;
		visibility:visible !important;
		text-align:center;
		.cap {
			color: #bc9c72;
			font-family: "Italianno","sans-serif";
			font-size: 66px;
			margin-bottom: 0;
			line-height:1;
		}
		h3 {
			color: #ffffff;
			font-family: "Lora","sans-serif";
			font-size: 58px;
			font-weight: normal;
			line-height: 1;
			margin-bottom: 20px;
		}
		.desc {
			color: rgba(255, 255, 255, 0.8);
			line-height: 1.5;
			margin: auto auto 25px;
			max-width: 420px;
		}
	}
	.section-newsletter {
		padding:148px 0;
	}
/* ------ */

/* Blogs */
	.section-blog {
		background:#111;
		padding:80px 0;
	}
	.blog-box .post-title, .blog-box .view-comment span, .blog-box .post-intro {
		color:#fff;
	}
	.blog-box .cat-box a {
		background-color:#bc9c72;
	}
	.blog-box .view-comment span.view {
	  color: #bc9c72;
	}
	.blog-box .post-title {
		@include transition(all 0.3s ease 0s);
	}
	.blog-box .post-title:hover {
		color:#bc9c72;
	}
/* ------ */

/* Testimonials */
	.section-testimonials {
		background:#111;
		padding:25px 0;
	}
	.testimonial-wrapper .testimonial-comment {
		color:#fff;
	}
	.testimonial-wrapper .info_people, .testimonial-wrapper .info_people, .testimonial-wrapper .info_people .show_office {
		color:#fff;
		opacity: 0.7;
	}
/* ------ */
.section-brands {
	background:#111;
	padding:34px 0;
}
.brand-wrapper .addon-title h3 {
  border-right: 2px solid #e4e4e4;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 42px;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  color:#fff;
}

.section-story {
	padding:100px 0;
	.text-wrapper {
		color:#fff;
	}
	.custom-title-box .btn {
		background-color: #bc9c72;
		color: #fff;
		border: 1px solid #fff;
	}
	.container {
		>.row {
			@include flex();
			@include align-items(center);
		}
	}
}

/* Home10 Responsive */
	@media(max-width:1199px){
		.h10-button a {
		  border: 2px solid #fff;
		  font-size: 12px;
		  line-height: 30px;
		  padding: 0 25px;
		}
	}
	@media(max-width:991px){
		.top-bar {
			.mid {
				padding-left:0;
				padding-right:0;
				position:absolute;
				right:15px;
				top:calc(50% - 20px);
				width:20px;
				.menu-button {
					color:#fff;
				}
			}
			.left {
				.addon-box {
					text-align:left;
				}
			}
			.menu-button {
				position:static;
			}
			.container-fluid {
				position: relative;
				padding-left:15px;
				padding-right:55px;
			}
		}
	}
	@media(max-width:767px){
		#cart_block .icon .ajax_cart_quantity {
			color:#000;
		}
		.right-items {
			.addon-box:first-child{
				display:none;
			}
		}
		.brand-wrapper .addon-title h3 {
			border-right:none;
		}
	}
	@media(max-width:480px) {
		.custom-title .addon-desc {
		  font-size: 25px;
		  line-height:1.1;
		}
		.custom-title h3 {
		  font-size: 30px;
		  line-height: 1.1;
		}

		.section-banners {
			.left {
				width:100%;
				margin-bottom:20px;
			}
			.right {
				width:100%;
			}
		}

		.h10-button a {
		  border: 1px solid #fff;
		  font-size: 8px;
		  line-height: 15px;
		  padding: 0 8px;
		}

		.home10-text .cap {
		  font-size: 35px;
		}
		.home10-text h3 {
			font-size:40px;
		}

		.section-newsletter {
		  padding: 70px 0;
		}

		.section-blog {
		  padding: 40px 0;
		}

		.section-story .container > .row {
			display:block;
		}

		.section-story {
		  padding: 50px 0;
		  .left {
		  	margin-bottom:20px;
		  }
		}
	}
	@media(max-width:360px) {
		.top-bar {
			.left {
				width:50%;
			}
			.right-items {
				width:50%;
			}
		}

		.custom-title .addon-desc {
		  font-size: 17px !important;
		}

		.section-story .text-wrapper {
		  font-size: 12px;
		}

		.section-newsletter {
		  padding: 35px 0;
		}
		.home10-text .cap {
		  font-size: 32px;
		}
		.home10-text h3 {
		  font-size: 28px;
		}
	}
/* ------- */
.jms-popup {
	#newsletter_block_left {
		.home10-text {
	    	display: none !important;
			visibility: hidden !important;
	    }
	}
}

#index #footer {
	margin-top:0;
}
#footer {
	margin-top:60px;
}