@import '_partials/mixin';
@import '_partials/varians';
@import '_partials/default-color';

/* Top Bar */
	.jms-megamenu .nav > li > a {
		color:rgba(255, 255, 255, 0.9);
	}
	.top-bar {
		background:#000;
		.container-fluid {
			padding-left: 3.5%;
  			padding-right: 3.5%;
			> .row {
				@include flex();
				@include align-items(center);
			}
		}
		img.logo {
		  max-height:56px;
		}
		.mid {
			text-align:center;
		}
		.right-items {
			.user-info > a {
				color:#fff;
			}
			.user-info > a::after {
				background:rgba(255, 255, 255, 0.9);
			}
			.addon-box:first-child {
				border-right:1px solid rgba(245, 245, 245, 0.36);
			}
			
		}
		#jms_ajax_search > a, .wishlist-box > a, #cart_block .icon {
			color:rgba(255, 255, 255, 0.9);
		}
	}
	#jms_ajax_search.default.open .search-wrapper {
	  top: 96px;
	}
	#jms_ajax_search.default .search-wrapper {
	  height: 900px;
	}
/* ------ */

/* Sliders */
	.h2-medium-text {
		line-height:1;
		font-family: 'Satisfy', cursive;
		.custom {
			position:relative;
			.b-title_separator {
				display:block;
				top:-20px;
				text-align:center;
			}
			.b-title_separator::before {
		        background-color: #dcdcdc;
		        bottom: -2px;
		        content: " ";
		        display: inline-block;
		        height: 1px;
		        left: 50%;
		        margin-left: -34px;
		        position: absolute;
		        width: 24px;
		      }
	      .b-title_separator::after {
	        background-color: #dcdcdc;
	        bottom: -2px;
	        content: " ";
	        display: inline-block;
	        height: 1px;
	        left: 50%;
	        margin-left: 10px;
	        position: absolute;
	        width: 24px;
	      }
	      .b-title_separator span::before {
	        background-color: #c1c1c1;
	        bottom: -12px;
	        content: " ";
	        display: inline-block;
	        height: 1px;
	        left: 50%;
	        margin-left: -6px;
	        position: absolute;
	        transform: rotate(45deg);
	        width: 12px;
	      }
	      .b-title_separator span::after {
	        background-color: #c1c1c1;
	        bottom: -12px;
	        content: " ";
	        display: inline-block;
	        height: 1px;
	        left: 50%;
	        margin-left: -6px;
	        position: absolute;
	        transform: rotate(-45deg);
	        width: 12px;
	      }
		}
	}
	.h2-large-text {
		line-height:1;
		font-weight:700;
	}
	.h2-button {
		a {
			padding:0 40px;
			background:none;
			border:2px solid #fff;
			color:#fff;
			&:hover {
				background:#000;
				border:2px solid #000;
			}
		}
	}
/* ------- */

/* Categories List */
	.section-categories-list {
		position:relative;
		
		z-index:1000;
		.layout-column {
			margin-top:-50px;
		}
	}
/* ------- */

/* Banners & Newsletters */
	#newsletter_block_left .home2-text {
	    display: block !important;
	    visibility: visible !important;
	}
	.home2 #newsletter_block_left .input-email::before {
	  color:#999;
	}
	.home2 #newsletter_block_left #newsletter-input {
	   border-bottom: 2px solid rgba(213, 213, 213, 0.7);
	   color: #999;
	}
  	.home2 #newsletter_block_left .form-group *::-moz-placeholder {
    	color: #000;
  	}
  	.home2 #newsletter_block_left .newsletter-btn {
   		background:#000;
    	color:#fff;
  	}
  	.home2-text {
    	.cap {
	      color: #999999;
	      font-size: 12px;
	      letter-spacing: 0.5px;
	      line-height: 1;
	      margin-bottom: 12px;
    	}
	    h3 {
	      font-size: 28px;
	      font-weight: 700;
	      line-height:1;
	      margin-bottom:20px;
	    }
	    .desc {
	      color: #000;
	      line-height: 1.5;
	      margin-bottom: 25px;
	    }
  	}
/* ------- */
.blog-box .cat-box a {
	background-color: #ee4684;
}
/* Instagram */
	.instagram-wrapper {
		margin-bottom:-2px;
	}
	.instagram-images {
		margin-bottom:-1px;
		.hover-mask {
			position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 2;
		    width: 100%;
		    height: 100%;
		    text-align:center;
		    @include transition(all 0.3s ease 0s);
		    &:after {
		    	content: "\f105";
		        font-size: 40px;
		        position: absolute;
		        top: 40%;
		        left: -20px;
		        width: 100%;
		        font-family: FontAwesome;
		        color: #fff;
		        visibility: hidden;
		        opacity: 0;
		        @include transition(all 0.3s ease 0s);
		    }
		}
		.image-box {
			position:relative;
			&:hover {
				.hover-mask {
					background-color: rgba(0, 0, 0, 0.7);
					&:after {
						visibility: visible;
				        opacity: 1;
				        left: 0;
					}
				}
			}
		}
	}

/* ------ */

/* Responsive */
	@media(max-width:1366px) {
		#jms_ajax_search.default .search-wrapper {
		  height: 571px;
		}
	}
	@media(max-width:1199px) {
		.h2-button {
			left:44% !important;
			a {
			  line-height: 2.5vw;
			  padding: 0 2vw;
			}
		}
	}
	@media(max-width:991px) {
		.top-bar {
			.left {
				padding-left:0;
				padding-right:0;
				position:absolute;
				right:15px;
				top:calc(50% - 20px);
				width:20px;
				.menu-button {
					color:#fff;
				}
			}
			.mid {
				.addon-box {
					text-align:left;
				}
			}
			.menu-button {
				position:static;
			}
			.container-fluid {
				position: relative;
				padding-left:15px;
				padding-right:55px;
			}
		}

		#newsletter_block_left .input-email {
		  width: calc(100% - 120px);
		}
		#newsletter_block_left .newsletter-btn {
		  width: 120px;
		}
		#newsletter_block_left .form-group {
			padding:0 10px;
		}

		.h2-medium-text .custom .b-title_separator {
		  top: -10px;
		}
		.h2-medium-text .custom .b-title_separator::before, .h2-medium-text .custom .b-title_separator::after {
		  bottom: -5px;
		}
		.h2-button a {
		  font-size: 12px;
		}
	}
	@media(max-width:767px) {
		.right-items {
			.addon-box:first-child, .addon-box:nth-child(2) {
				display:none;
			}
		}
		#cart_block .icon .ajax_cart_quantity {
			color:#111;
		}
		.section-categories-list .layout-column {
		  margin-top: 30px;
		}

		.h2-button {
		  left: 42.5% !important;
		}
		.h2-button a {
		  line-height: 25px;
		}
	}
	@media(max-width:480px) {
		.h2-medium-text {
			font-size:13px !important;
		}
		.h2-medium-text .custom .b-title_separator {
			display:none;
		}
		.h2-small-text {
			font-size:7px !important;
			left:20% !important;
		}
		.h2-button {
			top:67% !important;
		}
		.h2-button a {
		  font-size: 9px;
		}
	}
	@media(max-width:360px) {
		.top-bar {
			.mid {
				width:50%;
			}
			.right-items {
				width:50%;
			}
		}

		.home2-text .desc {
		  font-size: 13px;
		}
		.home2-text .cap {
		  font-size: 11px;
		}
		.home2-text h3 {
		  font-size: 20px;
		}
		#newsletter_block_left .newsletter-btn {
		  font-size: 13px;
		  line-height: 35px;
		  width: 100px;
		}
	}
/* ------ */

.home2 .jms-popup #newsletter_block_left #newsletter-input {
  border-bottom: 2px solid #000;
  color: #000;
}
.jms-popup {
	#newsletter_block_left {
		.home2-text {
	    	display: none !important;
			visibility: hidden !important;
	    }
	}
}

#index #footer {
	margin-top:0;
}
#footer {
	margin-top:60px;
}