@import '_partials/mixin';
@import '_partials/varians';
@import '_partials/default-color';

/* Top Bar */
	.jms-megamenu .nav > li > a {
		color:rgba(255, 255, 255, 0.9);
	}
	.jms-megamenu .nav > li > a:hover, .jms-megamenu .nav > li > a:hover > .caret, .jms-megamenu .mega-nav li > a:hover {
	  color: #b63d44 !important;
	}
	.jms-megamenu .mega-nav li.group > a:hover, .jms-vermegamenu .nav > .menu-custom .mega-nav li.group > a:hover,
	.jms-vermegamenu .nav > .menu-custom .mega-nav li > a:hover {
	   color: #b63d44 !important;
	}
	.top-bar {
		background:#000;
		.container-fluid {
			padding-left: 3.5%;
  			padding-right: 3.5%;
			> .row {
				@include flex();
				@include align-items(center);
			}
		}
		img.logo {
		  max-height:56px;
		}
		.mid {
			text-align:center;
		}
		.right-items {
			.user-info > a {
				color:#fff;
			}
			.user-info > a::after {
				background:rgba(255, 255, 255, 0.9);
			}
			.addon-box:first-child {
				border-right:1px solid rgba(245, 245, 245, 0.36);
			}
			
		}
		#jms_ajax_search > a, .wishlist-box > a, #cart_block .icon {
			color:rgba(255, 255, 255, 0.9);
		}
	}
/* ------ */

/* Sliders */
	.h2-medium-text {
		line-height:1;
		font-family: 'Satisfy', cursive;
		.custom {
			position:relative;
			.b-title_separator {
				display:block;
				top:-20px;
				text-align:center;
			}
			.b-title_separator::before {
		        background-color: #dcdcdc;
		        bottom: -2px;
		        content: " ";
		        display: inline-block;
		        height: 1px;
		        left: 50%;
		        margin-left: -34px;
		        position: absolute;
		        width: 24px;
		      }
	      .b-title_separator::after {
	        background-color: #dcdcdc;
	        bottom: -2px;
	        content: " ";
	        display: inline-block;
	        height: 1px;
	        left: 50%;
	        margin-left: 10px;
	        position: absolute;
	        width: 24px;
	      }
	      .b-title_separator span::before {
	        background-color: #c1c1c1;
	        bottom: -12px;
	        content: " ";
	        display: inline-block;
	        height: 1px;
	        left: 50%;
	        margin-left: -6px;
	        position: absolute;
	        transform: rotate(45deg);
	        width: 12px;
	      }
	      .b-title_separator span::after {
	        background-color: #c1c1c1;
	        bottom: -12px;
	        content: " ";
	        display: inline-block;
	        height: 1px;
	        left: 50%;
	        margin-left: -6px;
	        position: absolute;
	        transform: rotate(-45deg);
	        width: 12px;
	      }
		}
	}
	.h2-large-text {
		line-height:1;
		font-weight:700;
	}
	.h2-button {
		a {
			padding:0 40px;
			background:none;
			border:2px solid #fff;
			color:#fff;
			&:hover {
				background:#000;
				border:2px solid #000;
			}
		}
	}
/* ------- */

/* Banners & Newsletters */
	#newsletter_block_left .home2-text {
	    display: block !important;
	    visibility: visible !important;
	}
	#newsletter_block_left .input-email::before {
	  color:#999;
	}
	#newsletter_block_left #newsletter-input {
	   border-bottom: 2px solid rgba(213, 213, 213, 0.7);
	   color: #999;
	}
  	#newsletter_block_left .form-group *::-moz-placeholder {
    	color: #000;
  	}
  	#newsletter_block_left .newsletter-btn {
   		background:#000;
    	color:#fff;
  	}
  	.home2-text {
    	.cap {
	      color: #999999;
	      font-size: 12px;
	      letter-spacing: 0.5px;
	      line-height: 1;
	      margin-bottom: 12px;
    	}
	    h3 {
	      font-size: 28px;
	      font-weight: 700;
	      line-height:1;
	      margin-bottom:20px;
	    }
	    .desc {
	      color: #000;
	      line-height: 1.5;
	      margin-bottom: 25px;
	    }
  	}
  	.banner-style2 {
	  border: 20px solid #cb757a;
	}
	.banners-newsletter #newsletter_block_left {
		border: 20px solid #cb757a;
	}
/* ------- */

.blog-box .cat-box a {
	background: #b63d44 none repeat scroll 0 0;
}
.blog-box .view-comment span.view {
	color: #b63d44;
}
.blog-box .addon-desc {
	margin-bottom:25px;
}

#jms_ajax_search.default.open .search-wrapper {
  top: 67px;
}

#jms_ajax_search.default .search-wrapper {
  height: 1000px;
}

/* Home 7 Responsive */
	@media(max-width:1366px) {
		#jms_ajax_search.default .search-wrapper {
		  height: 600px;
		}
	}
	@media(max-width:991px) {
		.top-bar {
			.left {
				padding-left:0;
				padding-right:0;
				position:absolute;
				right:15px;
				top:calc(50% - 20px);
				width:20px;
				.menu-button {
					color:#fff;
				}
			}
			.mid {
				.addon-box {
					text-align:left;
				}
			}
			.menu-button {
				position:static;
			}
			.container-fluid {
				position: relative;
				padding-left:15px;
				padding-right:55px;
			}
		}

		.h2-button a {
		  padding: 0 10px;
		  font-size: 12px;
		  line-height: 25px;
		}
		.h2-medium-text .custom .b-title_separator {
			display:none;
		}

		#newsletter_block_left .input-email {
		  width: calc(100% - 120px);
		}
		#newsletter_block_left .newsletter-btn {
		  width: 120px;
		}
		#newsletter_block_left .form-group {
			padding:0 10px;
		}
	}
	@media(max-width:767px) {
		#cart_block .icon .ajax_cart_quantity {
			color:#000;
		}
		.right-items {
			.addon-box:first-child, .addon-box:nth-child(2) {
				display:none;
			}
		}
	}

	@media(max-width:480px) {
		.section-banners {
			.layout-column {
				width:100%;
				margin-bottom:15px;
				&:last-child {
					margin-bottom:0;
				}
			}
		}
		.h2-button a {
		  font-size: 7px;
		  line-height: 15px;
		  padding: 0 5px;
		  border:1px solid #fff;
		}
	}
/* ------ */

.jms-popup {
	#newsletter_block_left {
		.home2-text {
	    	display: none !important;
			visibility: hidden !important;
	    }
	}
}