@import '_partials/mixin';
@import '_partials/varians';
@import '_partials/default-color';

.custom-title4 h3, .custom-title h3 {
	font-weight:700;
}
/* Header */
	.header-top {
		background:#212121;
	}

	.header-bottom {
		img.logo {
		  max-height: 56px;
		}
		.container {
			>.row {
				@include flex();
				@include align-items(center);
			}
		}
		.right-items {
			.addon-box:first-child {
				border-right:2px solid #f5f5f5;
			}
		}
	}
	.jms-megamenu .nav > li > a {
		padding:0 14px;
	}

	.ver-menu-wrapper .ver-title {
		background:#191919;
	}
	.ver-menu-wrapper {
		background-color: #212121;
		border-bottom: 3px solid #191919;
	}
/* ------ */

/* Slider */
	.h8-large-text {
		font-weight:700;
		line-height:1.1;
		text-transform:uppercase;
		font-family: 'Montserrat', sans-serif;
		text-align:center;
	}
.h8-medium-text {
	line-height:1;
	text-transform:uppercase;
}
.h8-small-text {
	line-height:1;
	font-family: 'Satisfy', cursive;
}
/* ------ */

/* Instagram */
	.instagram-wrapper2 {
		margin-bottom:-2px;
	}
	.instagram-images {
		margin-bottom:-1px;
		.hover-mask {
			position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 2;
		    width: 100%;
		    height: 100%;
		    text-align:center;
		    @include transition(all 0.3s ease 0s);
		    &:after {
		    	content: "\f105";
		        font-size: 40px;
		        position: absolute;
		        top: 40%;
		        left: -20px;
		        width: 100%;
		        font-family: FontAwesome;
		        color: #fff;
		        visibility: hidden;
		        opacity: 0;
		        @include transition(all 0.3s ease 0s);
		    }
		}
		.image-box {
			position:relative;
			&:hover {
				.hover-mask {
					background-color: rgba(0, 0, 0, 0.7);
					&:after {
						visibility: visible;
				        opacity: 1;
				        left: 0;
					}
				}
			}
		}
	}

/* ------ */

/* Home 8 Responsive */
	@media(max-width:991px) {
		.header-bottom {
			.mid {
				padding-left:0;
				padding-right:0;
				position:absolute;
				right:15px;
				top:calc(50% - 20px);
				width:20px;
			}
			.left {
				.addon-box {
					text-align:left;
				}
			}
			.menu-button {
				position:static;
			}
			.container {
				position: relative;
				padding-left:15px;
				padding-right:55px;
			}
		}
		.categories-banner {
			.left {
				display:none;
			}
			.jms-banner {
				img {
					width:100%;
				}
			}
		}
		.section-services {
			.first, .second {
				margin-bottom:20px;
			}
		}
		.jms-slider-wrapper .slider {
			max-width:100% !important;
		}
		.fs-stretcher {
			width:100% !important;
		}
	}
	@media(max-width:767px) {
		.header-bottom img.logo {
		  max-height: 50px;
		}
		.right-items {
			.addon-box:first-child, .addon-box:nth-child(2) {
				display:none;
			}
		}
	}
	@media(max-width:480px) {
		.section-banners {
			.layout-column {
				width:100%;
				margin-bottom:20px;
				&:last-child {
					margin-bottom:0;
				}
			}
		}
	}
	@media(max-width:360px) {
		.header-bottom {
			.left {
				width:50%;
			}
			.right-items {
				width:50%;
			}
		}
		.section-services {
			.layout-column {
				width:100%;
			}
			.third {
				margin-bottom:20px;
			}
		}
	}
/* ------- */

#index #footer {
	margin-top:0;
}
#footer {
	margin-top:60px;
}

