@import '_partials/mixin';
@import '_partials/varians';
@import '_partials/default-color';

.top-bar {	
	.container-fluid {
		padding-left: 3.5%;
  		padding-right: 3.5%;
		>.row {
			@include flex();
			@include align-items(center);
		}
	}
	img.logo {
	  max-height: 56px;
	}	
	.jms-megamenu .nav > li > a {
	  padding: 0 14px;
	}
}

/* Slider */
	.h9-small-text {
		line-height:1;
		text-transform:uppercase;
		font-weight:700;
	}
	.h9-large-text {
		line-height:1.7;
		font-family: 'Lora', serif;
		text-transform:uppercase;
		font-weight:bold;
		text-align:center;
	}
	.h9-button {
		a {
			background:#000;
			color:#fff;
		}
	}
/* ------- */

/* Blogs */
	.section-blog {
		background:#fbf6f6;
		padding:50px 0;
	}
	.blog-box .cat-box a {
		background-color:#edc5c7;
	}
	.blog-box .view-comment span.view {
		color:#edc5c7;
	}
/* ------ */

/* Instagram */
	.instagram-wrapper2 {
		margin-bottom:-2px;
	}
	.instagram-wrapper2 .insta-title a {
		background-color: #edc5c7;
		border: medium none;
		color: #fff;
		&:hover {
			background-color: #e49a9e;
		}
	}
	.instagram-images {
		margin-bottom:-1px;
		.hover-mask {
			position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 2;
		    width: 100%;
		    height: 100%;
		    text-align:center;
		    @include transition(all 0.3s ease 0s);
		    &:after {
		    	content: "\f105";
		        font-size: 40px;
		        position: absolute;
		        top: 40%;
		        left: -20px;
		        width: 100%;
		        font-family: FontAwesome;
		        color: #fff;
		        visibility: hidden;
		        opacity: 0;
		        @include transition(all 0.3s ease 0s);
		    }
		}
		.image-box {
			position:relative;
			&:hover {
				.hover-mask {
					background-color: rgba(0, 0, 0, 0.7);
					&:after {
						visibility: visible;
				        opacity: 1;
				        left: 0;
					}
				}
			}
		}
	}

/* ------ */
.testimonial-wrapper .custom-title h3, .instagram-wrapper2 .insta-title h3 {
  font-weight: 700;
  font-family:"Lora", sans-serif;
}

/* Home 9 Responsive */
	@media(max-width:991px) {
		.top-bar {
			.mid {
				padding-left:0;
				padding-right:0;
				position:absolute;
				right:15px;
				top:calc(50% - 20px);
				width:20px;
				.menu-button {
					color:#000;
				}
			}
			.left {
				.addon-box {
					text-align:left;
				}
			}
			.menu-button {
				position:static;
			}
			.container-fluid {
				position: relative;
				padding-left:15px;
				padding-right:55px;
			}
		}
		.h9-button a {
		  font-size: 10px;
		  line-height: 30px;
		  padding: 0 8px;
		}
	}

	@media(max-width:767px) {
		.right-items {
			.addon-box:first-child {
				display:none;
			}
		}
	}	

	@media(max-width:360px) {
		.top-bar {
			.left {
				width:50%;
			}
			.right-items {
				width:50%;
			}
		}
		.h9-button a {
		  font-size: 8px;
		  line-height: 20px;
		  padding: 0 5px;
		}
	}
/* --------- */

#index #footer {
	margin-top:0;
}
#footer {
	margin-top:60px;
}