@import '_partials/mixin';
@import '_partials/varians';
@import '_partials/default-color';

.header-top {
	.container-fluid {
		padding-left: 3.5%;
  		padding-right: 3.5%;
	}
}

/* Header Bottom */
	.header-bottom {
		border-bottom:2px solid #f5f5f5;
		background:#fff;
		.container-fluid {
			padding-left: 3.5%;
  			padding-right: 3.5%; 
			> .row {
				@include flex();
				@include align-items(center);
			}
		}
		.mid {
			.addon-box {
				text-align:center;
			}
		}
		img.logo {
		  max-height:56px;
		}
		.right-items {
			.addon-box:first-child {
				border-right:2px solid #f5f5f5;
			}
		}
	}
/* ------- */

/* Category Banner */
	.categories-banner {
	    .jms-banner {
	      .html-content {
	        position:absolute;
	        width:100%;
	        bottom:20px;
	        left:0;
	        text-align:center;
	      }
	      .cat-name {
	        color: #000;
	        font-family: "Lora","sans-serif";
	        font-style: italic;
	        letter-spacing: 1.5px;
	        line-height:42px;
	        padding:0 25px;
	        display:inline-block;
	        background-color: #fff;
	        box-shadow: 1px 1px 3px rgba(136, 136, 136, 0.19);
	      }
	    }
	  }
/* ------- */

/* Slider */
	.slide1-img {
		@include transform(rotate(10deg) scale(1.2));
	}
	.h1-large-text {
		font-family: "Lora",serif;
		line-height: 1;
		opacity: 0.2 !important;
	}
	.h1-medium-text {
		font-weight:700;
		line-height:1;
		text-transform:uppercase;
	}
	.h1-small-text {
		font-family: 'Caveat', cursive;
		font-weight:700;
		line-height:1;
	}
/* ------ */

.section-newsletter {
	padding:148px 0;
}
#newsletter_block_left .home1-text {
	display: block !important;
	visibility: visible !important;
}
.home1-text {
      text-align:center;
      .cap {
        color: #ffffff;
        font-family: "Lora","sans-serif";
        font-size: 26px;
        font-weight: normal;
        line-height: 1;
        margin-bottom: 20px;
      }
      h3 {
        color: #ffffff;
        font-family: "Lora","sans-serif";
        font-size: 58px;
        font-weight: normal;
        line-height: 1;
        margin-bottom: 20px;
      }
      .desc {
        color: rgba(255, 255, 255, 0.8);
        line-height: 1.5;
        margin: auto auto 25px;
        max-width: 420px;
      }
    }
/* Instagram */
	.instagram-wrapper {
		.item {
			.image-box {
				margin-bottom:10px;
				&:last-child {
					margin-bottom:0;
				}
			}
		}
	}
/* ------ */
.testimonial-wrapper {
	padding-top:30px;
	.owl-dots {
		margin-top:5px;
	}
}
/* Brand */
	.brand-wrapper {
		.addon-title {
			h3 {
				margin-bottom:0;
				border-right: 2px solid #e4e4e4;
				font-size: 24px;
				letter-spacing: 1px;
				text-align: center;
				text-transform: uppercase;
				line-height:42px;
			}
		}
	}
	.section-brands {
		background:#f4f4f4;
		padding:30px 0;
	}
/* ------ */
.blog-box .blog-item {
  margin-bottom: 50px;
}

/* Home 1 Responsive */
	@media(max-width:991px) {
		.header-top .container-fluid {
			padding-left:15px;
			padding-right:15px;
		}
		.testimonial-wrapper {
		  padding-top: 0;
		}
		.header-bottom {
			.left {
				padding-left:0;
				padding-right:0;
				position:absolute;
				right:15px;
				top:calc(50% - 20px);
				width:20px;
			}
			.mid {
				.addon-box {
					text-align:left;
				}
			}
			.menu-button {
				position:static;
			}
			.container-fluid {
				position: relative;
				padding-left:15px;
				padding-right:55px;
			}
		}
	}
	@media(max-width:767px) {
		.header-bottom img.logo {
		  max-height: 50px;
		}
		.right-items {
			.addon-box:first-child, .addon-box:nth-child(2) {
				display:none;
			}
		}
		.categories-banner {
			.left-col {
				margin-bottom:30px;
				.banner-img {
					text-align:center;
				}
			}
			.mid-col, .right-col {
				.banner-img {
					img {
						width:100%;
					}
				}
			}
		}
		.section-newsletter {
			background-size:cover !important;
		}
		.section-testimonials {
			.right { 
				margin-top:50px;
			}
		}
		.section-brands {
			.addon-title {
				margin-bottom:15px;
				h3 {
					border-right:none;
				}
			}
		}
	}
	@media(max-width:480px) {
		.blog-box .blog-item {
			width:100%;
		}
		.categories-banner {
			.left-col {
				margin-bottom:15px;
			}
			.mid-col {
				padding-right:7px;
				.jms-empty-space {
					margin-bottom:24px !important;
				}
			}
			.right-col {
				padding-left:7px;
			}
		}
		.home1-text .cap {
			font-size:20px;
		}
		.home1-text h3 {
			font-size:40px;
		}
	}
	@media(max-width:360px) {
		.header-bottom {
			.mid {
				width:50%;
			}
			.right-items {
				width:50%;
			}
		}
		
		.categories-banner {
			.left-col {
			  margin-bottom: 10px;
			}
			.mid-col {
			  padding-right: 5px;
			  .jms-empty-space {
				  margin-bottom: 16px !important;
				}
			}
			.right-col {
			  padding-left: 5px;
			}
		}
		.home1-text h3 {
			font-size:30px;
		}
		.home1-text .cap {
		  font-size: 18px;
		}
		.section-newsletter {
		  padding: 60px 0;
		}

		.categories-banner .jms-banner .cat-name {
		  line-height: 35px;
		  padding: 0 20px;
		}
	}
/* -------- */

.jms-popup {
	#newsletter_block_left {
		.home1-text {
	    	display: none !important;
			visibility: hidden !important;
	    }
	}
}