@import '_partials/mixin';
@import '_partials/varians';
@import '_partials/default-color';

body {
	background:rgba(136, 136, 136, 0.14);
}
.container {
	background:#fff;
}
.container {
	padding:0 30px;
	width:1200px;
}
.fix-container {
	.container {
		padding:0 45px;
	}
}
.header-top {
	background:none;
	.container {
		background-color: #31262a;
	}

}
.header-bottom {
	img.logo {
	  max-height: 56px;
	}
	.container {
		>.row {
			@include flex();
			@include align-items(center);
		}
	}
}

.header-top, .header-bottom {
	.container {
		padding-left:15px;
		padding-right:15px;
	}	
}

/* Slider */
	.section-slider {
		.container {
			padding-left:0;
			padding-right:0;
		}
	}
	.h5-medium-text {
		font-family: 'Italianno', cursive;
		line-height:1;
	}
	.h5-large-text {
		font-family: 'Lora', serif;
		line-height:1.1;
		text-transform:uppercase;
		text-align:center;
	}
	.h5-small-text {
		text-align:center;
	}
	.h5-button {
		a {
			padding:0 39px;
			background:none;
			border: 2px solid #fff;
			color:#fff;
			&:hover {
				background:#000;
				border: 2px solid #000;
			}
		}
	}
/* ------ */
.categories-banner {
	.container {
		padding-top:30px;
		padding-bottom:65px;
		position:relative;
		&:after {
			content:"";
			width:calc(100% - 90px);
			height:1px;
			background:#f0f0f0;
			position:absolute;
			left:45px;
			bottom:0;
		}
	}
}
.product-carousel-wrapper {
	.custom-title {
	  margin-bottom: 47px;
	}
}

/* Newsletter */
	.section-newsletter {
		.container {
			padding-left:0;
			padding-right:0;
			>.row {
				margin-left:0;
				margin-right:0;
			}

		}
		.layout-column {
			padding-left:0;
			padding-right:0;
			padding-top:90px;
			padding-bottom:78px;
			background-size:80% auto !important;
			background-repeat:no-repeat;
		}
	}
	#newsletter_block_left {
		.home3-text {
			display: block !important;
			visibility:visible !important;
			h3 {
				color: #212121;
				font-size: 26px;
				font-weight: normal;
				line-height: 1;
				margin-bottom: 20px;
			}
			.desc {
				color: #212121;
				line-height: 1.5;
				margin: auto auto 25px;
			}
		}
		#newsletter-input {
	      border-bottom:2px solid rgba(0, 0, 0, 0.7);
	      color:#000;
	    }
	    .form-group {
	      & *::-moz-placeholder {
	        color:#000;
	      }
	    }
	    .input-email::before {
	    	color:#000;
	    }
	}

	#newsletter_block_left .newsletter-btn {	
		color:#fff;
		background:#000;
		border:1px solid #fff;
		line-height:38px;
		&:hover {
			border:1px solid #000;
		}
	}
	

/* ------ */

/* Footer Navbar */
	.footer-navbar {
		background:transparent;
		padding:0;
		.container {
			padding-top:50px;
			padding-left:30px;
			padding-right:30px;
			background:#000 !important;
		}
	}
/* -------- */

/* Home 5 Responsive */
	@media(max-width:991px) {
		.header-bottom {
			.mid {
				padding-left:0;
				padding-right:0;
				position:absolute;
				right:15px;
				top:calc(50% - 20px);
				width:20px;
			}
			.right {
				.addon-box {
					text-align:left;
				}
			}
			.menu-button {
				position:static;
			}
			.container {
				position: relative;
				padding-left:15px;
				padding-right:55px;
			}
		}
	}
	@media(max-width:767px) {
		.h5-button a {
			padding:0 20px;
		}

		.right-items {
			.addon-box:first-child {
				display:none;
			}
		}
		.fix-container .container {
		  padding: 0 15px;
		}

		.categories-banner .container {
		  padding-bottom: 35px;
		  padding-top: 25px;
		}
		.categories-banner {
			.layout-column {
				margin-top:25px;
				&:first-child {
					margin-top:0;
				}
			}
		}

		.section-newsletter .container {
			padding-left:15px;
			padding-right:15px;
		}

		.section-story {
			.layout-column {
				margin-bottom:25px;
				&:last-child {
					margin-bottom:0;
				}
			}
		}
	}
	@media(max-width:480px) {
		.h5-button a {
		  font-size: 10px;
		  line-height: 25px;
		  padding: 0 10px;
		}
	}
	@media(max-width:360px) {
		.home5 .footer-navbar {
		  padding-top: 0;
		}

		.h5-button a {
		  border: 1px solid #fff;
		  font-size: 8px;
		  line-height: 20px;
		  padding: 0 8px;
		}
	}
/* ------ */

.jms-popup {
	#newsletter_block_left {
		.home3-text {
	    	display: none !important;
			visibility: hidden !important;
	    }
	}
}


.home5 .breadcrumb {
  margin:0 auto;
}
#wrapper {
  padding-top:40px;
  padding-bottom:60px;
}
#index #wrapper {
  padding-top:0;
  padding-bottom:0;
}
@media(min-width:992px) {
  .home5 {
    .breadcrumb {
      width:1200px;
    }
  }
}






