/* Newsleter */
  #newsletter_block_left {
    .block_content {
      text-align:center;
    }
    .news_content {
      max-width:590px;
      display:inline-block;
      width: 100%;
    }
    .newsletter-btn {
      border:none;
      width:160px;
      text-align:center;
      padding:0;
    }
    .input-email {
      width:calc(100% - 160px);
      padding-right:5px;
      position:relative;
      &:before {
        color: #fff;
        content: "\f0e0";
        font-family: FontAwesome;
        font-size: 14px;
        left: 0;
        opacity: 0.4;
        position: absolute;
        top: 7px;
      }
    }
    #newsletter-input {
      background:none;
      border:none;
      border-bottom:2px solid rgba(255,255,255,0.7);
      color:#fff;
      padding-left:25px;
    }
    .form-group {
      @include flex();
      & *::-moz-placeholder {
        color:#fff;
      }
    }
  }
/* -------- */