#cart_block .shoppingcart-box {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    width: 325px;
    padding:20px 36px;
    left: auto;
    right: 0;
    z-index:1001;
    max-height:500px;
    overflow-y:auto;
}
#cart_block_list .preview-image {
  display: block;
  width: 88px;
}
#cart_block_list .preview-image img {
	width:100%;
}
#cart_block_list .description {
  line-height: 1;
  width: calc(100% - 88px);
  padding-left: 15px;
}
#cart_block .icon {
  color: #000000;
  font-weight: 500;
  line-height: 95px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#cart_block .icon > span {
  display: block;
}
#cart_block .icon .cart-left .text {
  display:none;
}
#cart_block .icon .icon-basket {
  font-size: 20px;
  margin-right:7px;
  
}
#cart_block .icon {
  .icon-basket, .space, .cart_block_total, .ajax_cart_quantity {
    position:relative;
    top:-3px;
  }
}
#cart_block .icon .space {
  margin:0 2px;
}
#cart_block .icon .cart_block_total {
  font-weight: 700;
  margin-right: 10px;
}

.description > a {
  display: block;
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.quantity-formated {
  display: block;
  font-weight:700;
  line-height: 1;
  font-size: 16px;
  color:#555555;
  letter-spacing: 0.2em;
}
.price-content .price {
  font-weight:700;
  font-size: 20px;
  line-height: 2;
}
.remove_link {
  right: 30%;
  position: absolute;
  bottom: 16px;
}
.remove_link a {
  font-size: 17px;
  color: #696969;
}

#cart_block_list li {
  padding: 15px 0;
  position: relative;
}
.ajax_cart_no_product {
  display: block;
  padding-top: 34px;
  width: 100%;
}
#cart_block {
  line-height: 1;
}
.box-cart.ajax_cart_quantity {
  
}
.cart-wrap {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.cart-prices-line {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.cart-prices-line .price { 
    font-weight:600;
    font-size: 18px;
    line-height: 35px;
}
.cart-prices-line.last-line {
  padding-bottom: 20px;
}
#cart_block .cart-label {
    font-weight:700;
    font-size: 18px;
    line-height: 36px;
    text-transform: capitalize;
}
#cart_block_list li.last_item {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 17px;
    padding-bottom: 31px;
}

#button_order_cart {
    border: medium none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 18px;
    margin-top: 5px;
    line-height:45px;
    text-align: center;
    width: 100%;
}
/*******************************************************************
					Cart Block Styles
********************************************************************/

#header .shopping_cart {
  position: relative;
  float: right;
  padding-top: 50px; }
  #header .shopping_cart > a:first-child:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    display: inline-block;
    float: right;
    font-size: 18px;
    color: #686666;
    padding: 6px 0 0 0; }
  #header .shopping_cart > a:first-child:hover:after {
    content: "\f0d8";
    padding: 4px 0px 2px 0px; }

.shopping_cart {
  width: 270px; }
  @media (max-width: 480px) {
    .shopping_cart {
      padding-top: 20px; } }
  @media (max-width: 1200px) {
    .shopping_cart {
      margin: 0 auto;
      float: none;
      width: 100%; } }
  .shopping_cart > a:first-child {
    padding: 7px 10px 14px 16px;
    background: #333;
    display: block;
    font-weight: bold;
    color: #777777;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    @media (min-width: 768px) and (max-width: 991px) {
      .shopping_cart > a:first-child span.ajax_cart_product_txt, .shopping_cart > a:first-child span.ajax_cart_product_txt_s {
        display: none !important; } }
    .shopping_cart > a:first-child b {
      color: #fff;
      font: 600 18px/22px "Open Sans", sans-serif;
      padding-right: 5px; }
    .shopping_cart > a:first-child:before {
      content: "\f07a";
      font-family: "FontAwesome";
      display: inline-block;
      font-size: 23px;
      line-height: 23px;
      color: #fff;
      padding-right: 15px; }
  .shopping_cart .ajax_cart_total {
    display: none !important; }
  .shopping_cart .block_cart_expand:after, .shopping_cart .block_cart_collapse:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    display: inline-block;
    float: right;
    font-size: 18px;
    color: #686666;
    padding: 6px 0 0 0; }
  .shopping_cart .block_cart_collapse:after {
    content: "\f0d8";
    padding: 4px 0px 2px 0px; }

.cart_block .cart_block_list .remove_link {
  position: absolute;
  right: 10px;
  top: 19px; }
.cart_block .cart_block_list .remove_link a,
.cart_block .cart_block_list .ajax_cart_block_remove_link {
  color: #777;
  display: block;
  width: 100%;
  height: 100%; }
  .cart_block .cart_block_list .remove_link a:before,
  .cart_block .cart_block_list .ajax_cart_block_remove_link:before {
    display: inline-block;
    content: "\f057";
    font-family: "FontAwesome";
    font-size: 18px;
    line-height: 18px; }
  .cart_block .cart_block_list .remove_link a:hover,
  .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
    color: #515151; }
.cart_block .cart-images {
  float: left;
  margin-right: 20px; }
.cart_block .cart-info {
  overflow: hidden;
  position: relative;
  padding-right: 20px; }
  .cart_block .cart-info .product-name {
    padding-bottom: 5px;
    margin-top: -4px; }
    .cart_block .cart-info .product-name a {
      font-size: 13px;
      line-height: 18px;
      display: inline-block; }
  .cart_block .cart-info .quantity-formated {
    display: inline-block;
    color: #9c9b9b;
    text-transform: uppercase;
    font-size: 10px;
    padding-right: 5px; }
    .cart_block .cart-info .quantity-formated .quantity {
      font-size: 15px; }
.cart_block dt {
  font-weight: normal;
  overflow: hidden;
  padding: 20px 10px 16px 20px;
  position: relative; }
.cart_block dd {
  position: relative; }
  .cart_block dd .cart_block_customizations {
    border-top: 1px dashed #333; }
    .cart_block dd .cart_block_customizations li {
      padding: 10px 20px; }
      .cart_block dd .cart_block_customizations li .deleteCustomizableProduct {
        position: absolute;
        right: 10px; }
.cart_block .cart_block_no_products {
  margin: 0;
  padding: 10px 20px; }
.cart_block .cart-prices {
  border-top: 1px solid #d6d4d4;
  font-weight: bold;
  padding: 10px 20px 22px 20px; }
  .cart_block .cart-prices .cart-prices-line {
    overflow: hidden;
    border-bottom: 1px solid #515151;
    padding: 7px 0; }
    .cart_block .cart-prices .cart-prices-line.last-line {
      border: none; }
.cart_block .cart-buttons {
  overflow: hidden;
  padding: 20px 20px 10px 20px;
  margin: 0;
  background: #f6f6f6; }
  .cart_block .cart-buttons a {
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    margin-right: 10px; }
    .cart_block .cart-buttons a#button_order_cart {
      margin-right: 0;
      border: none; }
      .cart_block .cart-buttons a#button_order_cart span {
        padding: 7px 0;
        font-size: 1.1em;
        border: solid 1px #63c473;
        background: #43b155; }
      .cart_block .cart-buttons a#button_order_cart:hover span {
        border: solid 1px #358c43;
        background: #2e7a3a;
        color: #fff; }

/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header .cart_block {
  position: absolute;
  top: 95px;
  right: 0;
  z-index: 100;
  display: none;
  height: auto;
  background: #484848;
  color: #fff;
  width: 270px; }
  @media (max-width: 480px) {
    #header .cart_block {
      width: 100%; } }
  @media (max-width: 1200px) {
    #header .cart_block {
      width: 100%; } }
  #header .cart_block a {
    color: #fff; }
    #header .cart_block a:hover {
      color: #9c9b9b; }
  #header .cart_block .cart_block_list .remove_link a,
  #header .cart_block .cart_block_list .ajax_cart_block_remove_link {
    color: #fff;
    outline: none;
    text-decoration: none; }
    #header .cart_block .cart_block_list .remove_link a:hover,
    #header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
      color: #9c9b9b; }
  #header .cart_block .price {
    color: #fff; }
  #header .cart_block dt {
    background: url(../../../img/cart-shadow.png) repeat-x; }
    #header .cart_block dt.first_item {
      background: none; }
  #header .cart_block .product-atributes {
    padding-bottom: 10px;
    font-size: 11px; }
    #header .cart_block .product-atributes a {
      color: #9c9b9b; }
      #header .cart_block .product-atributes a:hover {
        color: #fff; }
  #header .cart_block .cart-prices {
    border: none;
    background: url(../../../img/cart-shadow.png) repeat-x #3d3d3d; }
  #header .cart_block .cart-buttons {
    background: url(../../../img/cart-shadow.png) repeat-x #333; }
#header .block_content {
  margin-bottom: 0; }

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
  display: none; }

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  float: right; }

.cart_block table.vouchers {
  clear: both;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .cart_block table.vouchers tr td {
    padding: 2px; }
    .cart_block table.vouchers tr td.quantity {
      margin-right: 5px;
      min-width: 18px; }
    .cart_block table.vouchers tr td.delete {
      padding-left: 0;
      padding-right: 0;
      text-align: right;
      width: 15px; }

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.5; }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

#layer_cart {
  background-color: #fff;
  border-radius: 4px;
  display: none;
  left: 50%;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 32% !important;
  transform: translate(-50%);
  width: 60%;
  z-index: 10002; 
}
 
.home_7 #layer_cart {
    left: 100%;
    top: -400px !important;
    width: 647px;
    z-index: 1001;
}
  #layer_cart .layer_cart_product {
    padding: 30px 30px 30px 30px;
    overflow: hidden;
    position: static; }
   
#layer_cart .layer_cart_product .title {
    color: #000;
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 22px;
}
      @media (max-width: 767px) {
		 
        #layer_cart .layer_cart_product .title {
          font-size: 18px;
          padding-right: 0;
          line-height: normal; } }
      #layer_cart .layer_cart_product .title i {
        font-size: 30px;
        line-height: 30px;
        float: left;
        padding-right: 8px;
		}
        @media (max-width: 767px) {
          #layer_cart .layer_cart_product .title i {
            font-size: 22px;
            line-height: 22px; } }
    #layer_cart .layer_cart_product .product-image-container {
      max-width: 178px;
      border: 1px solid #d6d4d4;
      float: left;
      margin-right: 30px; }
      @media (max-width: 480px) {
        #layer_cart .layer_cart_product .product-image-container {
          float: none;
          margin-right: 0;
          margin-bottom: 10px; } }
    #layer_cart .layer_cart_product .layer_cart_product_info {
      padding: 38px 0 0 0; }
      #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title {
        display: block;
        padding-bottom: 8px; }
      #layer_cart .layer_cart_product .layer_cart_product_info > div {
        padding-bottom: 7px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
          padding-right: 3px; }
  #layer_cart .layer_cart_cart {
    background: #fafafa;
    border-left: 1px solid #d6d4d4;
    padding: 21px 30px 170px 30px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px 4px 4px 0px;
    position: relative; }
    @media (min-width: 1200px) {
      #layer_cart .layer_cart_cart {
        min-height: 318px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      #layer_cart .layer_cart_cart {
        min-height: 360px; } }
    @media (max-width: 991px) {
		 #layer_cart{
			  width:90%;
		  }
      #layer_cart .layer_cart_cart {
        -moz-border-radius: 0px 0 4px 4px;
        -webkit-border-radius: 0px;
        border-radius: 0px 0 4px 4px;
        border-left: none;
        border-top: 1px solid #d6d4d4; } }
    #layer_cart .layer_cart_cart .title {
      display: block;
      color: #333;
      border-bottom: 1px solid #d6d4d4;
      padding-bottom: 13px;
      margin-bottom: 17px; }
      @media (max-width: 767px) {
		  .home_2 #layer_cart, .home_4 #layer_cart, .home_5 #layer_cart, 
		  .home_7 #layer_cart{
			  width:451px;
		  }
		  .home_2 #layer_cart{
			  left:-43%;
			  transform:translate(-46%);
		  }
		  
        #layer_cart .layer_cart_cart .title {
          font-size: 18px; } }
    #layer_cart .layer_cart_cart .layer_cart_row {
      padding: 0 0 7px 0; }
    #layer_cart .layer_cart_cart .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0px 30px 20px 30px; }
      #layer_cart .layer_cart_cart .button-container .btn {
        margin-bottom: 10px; }
      #layer_cart .layer_cart_cart .button-container span.exclusive-medium {
        margin-right: 5px; }
        #layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
          padding-right: 5px;
          color: #777777; }
  #layer_cart .cross {
    position: absolute;
    right: 7px;
    top: 8px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #333;
    z-index: 2; }
    #layer_cart .cross:before {
      content: "\f057";
      display: block;
      font-family: "FontAwesome";
      font-size: 25px;
      line-height: 25px; }
    #layer_cart .cross:hover {
      color: #515151; }
  #layer_cart .continue {
    cursor: pointer; }
  #layer_cart p {
    padding: 0px; }
	  @media (max-width:481px) {
         .home_2 #layer_cart, .home_4 #layer_cart, .home_5 #layer_cart, 
		 .home_7 #layer_cart{
			   width:290px;
		  }
		   .home_2 #layer_cart{
			  left:-22%;
			  transform:translate(-22%);	 
		  }
		
	  }
/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #d6d4d4;
  padding: 26px 30px 40px 30px;
  position: relative; }
#layer_cart .crossseling h2 {
  font: 400 23px/26px Arial, Helvetica, sans-serif;
  color: #333;
  margin-bottom: 25px; }
#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden; }
  #layer_cart .crossseling #blockcart_list ul {
    display: block; }
    #layer_cart .crossseling #blockcart_list ul li {
      float: left;
      width: 178px;
      margin: 0 0px 0 0; }
      #layer_cart .crossseling #blockcart_list ul li .product-image-container {
        border: 1px solid #d6d4d4;
        text-align: center;
        padding: 5px;
        margin-bottom: 15px; }
        #layer_cart .crossseling #blockcart_list ul li .product-image-container img {
          width: 100%; }
      #layer_cart .crossseling #blockcart_list ul li .product-name {
        padding-bottom: 5px; }
        #layer_cart .crossseling #blockcart_list ul li .product-name a {
          font-size: 15px;
          line-height: 20px; }
  #layer_cart .crossseling #blockcart_list a.bx-prev,
  #layer_cart .crossseling #blockcart_list a.bx-next {
    display: block;
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #333;
    text-indent: -5000px;
    position: absolute;
    top: 45%;
    margin-top: -20px; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after,
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      display: block;
      text-indent: 0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:hover,
    #layer_cart .crossseling #blockcart_list a.bx-next:hover {
      color: #c0c0c0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
    #layer_cart .crossseling #blockcart_list a.bx-next.disabled {
      display: none; }
  #layer_cart .crossseling #blockcart_list a.bx-prev {
    left: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after {
      content: "\f137"; }
  #layer_cart .crossseling #blockcart_list a.bx-next {
    right: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      content: "\f138"; }
  #layer_cart .crossseling #blockcart_list .bx-controls {
    overflow: hidden; }
#cart_block_list .review .nbcomments {
    display: none;
}
#cart_block_list .review {
    padding: 9px 0;
}

.shoppingcart-bottom.open .dropdown-menu::before {
	display:none;
}
.tab-title {
	display:none;
}
.shoppingcart-bottom.open .tab-title{
  display:block;
}
.shoppingcart-bottom .tab-title {
	position:fixed;
	top:0;
	right:0px;
  width:300px;
	z-index:1003;
  background:#000;
  line-height:24px;
}

.shoppingcart-bottom .description > a {
  font-size: 14px;
  margin-bottom: 6px;
  opacity: 0.8;
  line-height:1.2;
  letter-spacing:0;
}
.shoppingcart-bottom .price-content .price {
  font-size: 16px;
}
.shoppingcart-bottom .tab-title .b-close_search {
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
    width: 30px;
    z-index: 301;

}
.shoppingcart-bottom .tab-title .b-close_search::after, .shoppingcart-bottom .tab-title .b-close_search::before {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 3px;
    position: absolute;
    right: 0;
    top: 15px;
    width: 35px;
    @include transition(all 0.3s ease 0s);
}
.shoppingcart-bottom .tab-title .b-close_search:hover::before {
    transform: rotate(45deg);
}
.shoppingcart-bottom .tab-title .b-close_search:hover::after {
    transform: rotate(-45deg);
}

.shoppingcart-bottom .tab-title > span {
	font-size:20px;	
	color:#fff;	
  font-weight:700;
  text-transform:uppercase;
  padding:15px;
	display:block;
  text-align:left;
}
#cart_block.shoppingcart-bottom .tab-title .box-cart.ajax_cart_quantity {
  background:none;
}
.shoppingcart-bottom .tab-title > span  i {
	margin-left:15px;
}
.shoppingcart-bottom .tab-title > span  i.fa-chevron-down,
.shoppingcart-bottom.open .tab-title > span  i.fa-chevron-up {
	display:none;
}
.shoppingcart-bottom.open .tab-title > span  i.fa-chevron-down {
	display:inline-block;
}
#cart_block.shoppingcart-bottom  .tab-title .box-cart.ajax_cart_quantity {
	position:relative;
	border-radius:0px;
	width:auto;
	height:auto;
	left:0px;
	top:auto;	
	line-height:auto;	
}
#cart_block.shoppingcart-bottom .shoppingcart-box {
	position:fixed;
	top:0 !important;
	width:300px;
	height:100%;
	left:auto !important;
	right:0px !important;
  padding:80px 15px 0;
  max-height:none;
}	
.shoppingcart-bottom .shoppingcart-content {
	float: left;
  list-style: outside none none;
  overflow-y: hidden;
	margin:0px;
}
.shoppingcart-bottom.open:after {
  background-color: rgba(0, 0, 0, 0.8);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.shoppingcart-bottom  #cart_block_list .preview-image {
  width: 70px;
}
.shoppingcart-bottom #cart_block_list .description {
  width: calc(100% - 70px);
}

.shoppingcart-bottom #cart_block_list li {
  position: relative;
	padding:0px!important;
  margin-bottom:10px; 
  &:last-child {
    margin-bottom:0;
  }
}	

#cart_block.shoppingcart-bottom.open .icon::before {
  content:none !important; 
}
.shoppingcart-bottom #button_order_cart {
	margin-bottom:0px;
	margin-top:15px;
}
#cart_block.shoppingcart-bottom .remove_link {
	top:auto;
	bottom:10px;
	right:16px;
}
.shoppingcart-bottom .cart-prices-line {
	width:100%;
}
.shoppingcart-bottom .cart-prices-line .price {
  font-size: 14px;
}
#cart_block.shoppingcart-bottom .cart-label {
  font-size: 14px;
}
@media (max-width: 1200px){
	
}
@media (max-width: 980px){
	
}
@media (max-width: 600px){	
	
}
