/********* BUTTON *******/
.btn,
.btn-default {
  background-color: #ececec;
  border-radius: 0;
  color: #3e3e3e;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 40px;
  padding: 0 20px;
  text-transform: uppercase;
  border:none;
  &.medium {
    line-height:45px;
    font-weight:700;
  }
  &.large {
    line-height:55px;
    font-weight:700;
    padding:0 35px;
  }
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {
  outline: none !important;
}

.btn-mega {
  background-color: #bb0101;   
  color:#fff; 
}


.btn-primary {
  opacity: 1;
  background: #1fbba6;
  line-height: 35px;
  padding: 0 25px; 
  color:#fff;
}

.btn.active,
.btn:active {
  box-shadow: none; 
}

.btn-group.open .dropdown-toggle {
  box-shadow: none; }

/* Button Style */

.btn-effect {
  position:relative;
  overflow:hidden;
}
.btn-effect:after {
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0 50% 0;
  transition-duration: 0.4s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}
.btn-effect:hover:after {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  z-index:1;
}