.navbar-fixed-top{ 
  background:#fff;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.05);
  transition: all 0.4s ease-in-out 0s;
  z-index: 1002;
  position:fixed;
}
/* ------ */
.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}
.font-weight-normal {
    font-weight: normal;
}
.font-weight-bold {
    font-weight: bold;
}
.font-italic {
    font-style: italic;
}
.text-white {
    color: #fff !important;
}

a.text-muted:focus, a.text-muted:hover {
    color: #4b5257 !important;
}
.text-primary {
    color: #0275d8 !important;
}
a.text-primary:focus, a.text-primary:hover {
    color: #025aa5 !important;
}
.text-success {
    color: #5cb85c !important;
}
a.text-success:focus, a.text-success:hover {
    color: #449d44 !important;
}
.text-info {
    color: #5bc0de !important;
}
a.text-info:focus, a.text-info:hover {
    color: #31b0d5 !important;
}
.text-warning {
    color: #f0ad4e !important;
}
a.text-warning:focus, a.text-warning:hover {
    color: #ec971f !important;
}
.text-danger {
    color: #d9534f !important;
}
a.text-danger:focus, a.text-danger:hover {
    color: #c9302c !important;
}
.text-gray-dark {
    color: #292b2c !important;
}
a.text-gray-dark:focus, 
a.text-gray-dark:hover {
    color: #101112 !important;
}

.text-hide {
    background-color: transparent;
    border: 0 none;
    color: transparent;
    font: 0px/0 a;
    text-shadow: none;
}
.text-center {
  text-align: center !important;
}

.invisible {
    visibility: hidden !important;
}
/* ------- */

/* Fixed Menu */
  .change-style {
    .header-bottom {
      border-bottom: 2px solid #f5f5f5;
      .jms-megamenu .nav > li > a {
        line-height:66px;
      }
      .right-items .user-info {
        line-height:66px;
      }
      #cart_block .icon {
        line-height:66px;
      }
      .jms-megamenu .label-see, .jms-megamenu .label-new {
        top: 13%;
      }
    }
    .top-bar {
      .jms-megamenu .nav > li > a {
        line-height:66px;
      }
      .right-items .user-info {
        line-height:66px;
      }
      #cart_block .icon {
        line-height:66px;
      }
      .jms-megamenu .label-see, .jms-megamenu .label-new {
        top: 13%;
      }
    }
  }
/* ------ */

/* Vertical menu */
  .ver-menu-wrapper {
    border-bottom:3px solid #276f44; 
    background:#339059;
    .ver-title {
      background:#276f44;
      color: #ffffff;
      display: block;
      font-size: 16px;
      font-weight: 700;
      height: 63px;
      letter-spacing: 0.3px;
      line-height: 63px;
      margin: 0;
      padding: 0 20px;
      text-transform: uppercase;
      position:relative;
      i {
        position:absolute;
        right:20px;
        top:calc(50% - 8px);
      }
    }
  }
/* ------- */

/* Header Top */
.phone-number {
  display:inline-block;
  font-size:13px;
  color:#fff;
  line-height: 42px;
  letter-spacing:0.3px;
  i {
    margin-right:5px;
  }
  .number {
    border-bottom:1px solid rgba(255, 255, 255, 0.3);
    margin-left:10px;
  }
}
.top-list {
  text-align:right;
  ul {
    display:inline-block;
    margin-bottom:0;
    li {
      display: inline-block;
      line-height: 41px;
      margin-left: -2px;
      position: relative;
      &:before {
        background-color: rgba(255, 255, 255, 0.1);
        content: "";
        display: inline-block;
        height: 25px;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: middle;
        width: 1px;
      }
      &:first-child::before {
        content: none;
      }
      a {
        font-size: 12px;
        text-transform: uppercase;
        color:#fff;
        position:relative;
        letter-spacing:0.3px;
        display:inline-block;
        line-height:18px;
        i {
          margin-right:5px;
        }
        &:hover:after {
          left: 0;
          width: 100%;
        }
        &:after {
          background-color: rgba(255, 255, 255, 0.7);
          bottom: 0;
          content: " ";
          height: 1px;
          position: absolute;
          right: 0;
          @include transition(width 0.2s ease 0s);
          width: 0;
        }
      }
    }
  }
}
/* ------- */

/* Right box */
  .right-items {
    text-align:right;
    .addon-box {
      display:inline-block;
    }
    .user-info {
      padding-right:35px;
      line-height:95px;
      position:relative;
      .dropdown-menu {
        left:auto;
        right:0;
      }
      >a {
        color: rgba(0, 0, 0, 0.9);
        font-size: 13px;
        font-style: italic;
        position: relative;
        &:after {
          background-color: rgba(0, 0, 0, 0.5);
          bottom: 0;
          content: " ";
          height: 1px;
          left: 0;
          position: absolute;
          transition: width 0.2s ease 0s;
          width: 0;
        }
        &:hover:after {
          width:100%;
        }
      }
    }
    #jms_ajax_search {
      padding-left:25px;
      padding-right:12px;
    }
    .wishlist-box {
      padding-right:22px;
      padding-left:12px;
    }
    .wishlist-box {
      a {   
        i {
          font-size:0;
          position:relative;
          top:3px;
          &:before {
            font-size:22px;
          }
        }
      }
    }
  }
/* ------ */

/* Custom title */
  .custom-title {
    margin-bottom: 35px;
    position:relative;
    text-align:center;
      .b-title_separator::before {
        background-color: #dcdcdc;
        bottom: -12px;
        content: " ";
        display: inline-block;
        height: 1px;
        left: 50%;
        margin-left: -34px;
        position: absolute;
        width: 24px;
      }
      .b-title_separator::after {
        background-color: #dcdcdc;
        bottom: -12px;
        content: " ";
        display: inline-block;
        height: 1px;
        left: 50%;
        margin-left: 10px;
        position: absolute;
        width: 24px;
      }
      .b-title_separator span::before {
        background-color: #c1c1c1;
        bottom: -12px;
        content: " ";
        display: inline-block;
        height: 1px;
        left: 50%;
        margin-left: -6px;
        position: absolute;
        transform: rotate(45deg);
        width: 12px;
      }
      .b-title_separator span::after {
        background-color: #c1c1c1;
        bottom: -12px;
        content: " ";
        display: inline-block;
        height: 1px;
        left: 50%;
        margin-left: -6px;
        position: absolute;
        transform: rotate(-45deg);
        width: 12px;
      }
      .addon-desc {
        margin-bottom:0;
        color: #9b9b9b;
        display: block;
        font-size: 14px;
        letter-spacing: 3px;
        margin-bottom: 5px;
      }
      h3 {
        font-size: 26px;
        position: relative;
        text-transform:uppercase;
      }
    }
  .custom-title2 {
    position: relative;
    text-align: center;
    margin-bottom:45px;
    &:after {
        background-color: #ececec;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: calc(50% - 1px);
        left:0;
        width: 100%;
      }
    h3 {
      background-color: #fff;
      display: inline-block;
      font-weight: bold;
      padding: 0 25px;
      z-index: 1;
      position:relative;
      font-size: 26px;
      line-height: 1.2;
      margin-bottom: 0;  
    }
  }
  .custom-title3 { 
    text-align:center;
    h3 {
      font-size: 26px;
      color: #b63d44;
      font-weight: 700;
      position: relative;
      line-height:1.4;
      display:inline-block;
      padding-bottom:10px;
      margin-bottom:10px;
      &:after {
        content:"";
        background-color: #b63d44;
        height: 2px;
        width: 50px;
        position:absolute;
        left:calc(50% - 25px);
        bottom:0;
      }
    }
    .addon-desc {
      color: #4c4c4c;
      font-family: "Lora","sans-serif";
      font-size: 16px;
      font-style: italic;
      line-height: 1.5;
      margin: auto auto 35px;
      max-width: 435px;
      padding: 0 15px;
    }
  }
  .custom-title4 {
    text-align:center;
    h3 {
      font-size: 26px;
      position: relative;
      text-transform:uppercase;
      padding-bottom:12px;
      margin-bottom:20px;
    }
    .b-title_separator::before {
        background-color: #dcdcdc;
        bottom: 0;
        content: " ";
        display: inline-block;
        height: 1px;
        left: 50%;
        margin-left: -34px;
        position: absolute;
        width: 24px;
      }
      .b-title_separator::after {
        background-color: #dcdcdc;
        bottom: 0;
        content: " ";
        display: inline-block;
        height: 1px;
        left: 50%;
        margin-left: 10px;
        position: absolute;
        width: 24px;
      }
      .b-title_separator span::before {
        background-color: #c1c1c1;
        bottom: 0;
        content: " ";
        display: inline-block;
        height: 1px;
        left: 50%;
        margin-left: -6px;
        position: absolute;
        transform: rotate(45deg);
        width: 12px;
      }
      .b-title_separator span::after {
        background-color: #c1c1c1;
        bottom: 0;
        content: " ";
        display: inline-block;
        height: 1px;
        left: 50%;
        margin-left: -6px;
        position: absolute;
        transform: rotate(-45deg);
        width: 12px;
      }
    .addon-desc {
      color: #4c4c4c;
      font-family: "Lora","sans-serif";
      font-size: 16px;
      font-style: italic;
      line-height: 1.5;
      margin: auto auto 25px;
      max-width: 485px;
      padding: 0 15px;
    }
  }
  .custom-title5 {
    text-align:center;
    margin-bottom:20px;
    h3 {
      font-family: "Lora","sans-serif";
      font-weight:700;
      font-size: 26px;
      position: relative;
      line-height:1.2;
      margin-bottom:0;
    }
    span {
      color: #9b9b9b;
      display: inline-block;
      font-size: 14px;
      letter-spacing: 3px;
    }
    .addon-desc {
      color: #4c4c4c;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom:0;
      max-width: 405px;
      padding: 0 15px;
      display:block;
      margin:7px auto 0;
    }
  }
/* ------- */

/* Categories Banners */
  .categories-banner {
    .custom-title-box {
      text-align:center;
      .text-wrapper {
        color: #4c4c4c;
        font-family: "Lora","sans-serif";
        font-size: 16px;
        font-style: italic;
        line-height: 1.5;
        margin: auto auto 25px;
        max-width: 485px;
        padding: 0 15px;
      }
    }
  }

/* ------ */

/* About Story */
  .section-story {
    .left {
      .addon-box {
        width:50%;
        float:left;
        &:nth-child(1),&:nth-child(2) {
          padding-bottom:1px;
        }
        &:nth-child(3),&:nth-child(4) {
          padding-top:1px;
        }
        &:nth-child(1),&:nth-child(3) {
          padding-right:1px;
        }
        &:nth-child(2),&:nth-child(4) {
          padding-left:1px;
        }
      }
    }
    .custom-title-box {
      text-align:center;
      .btn {
        background-color: #31262a;
        color: #fff;
        margin-top:25px;
        display:inline-block;
      }
    }
  }
/* ------ */

/* Product box */
  .product-preview {
    .product-btn {
      &.loading {
        i {
          display:none;
        }
        &:before {
          -moz-border-bottom-colors: none;
          -moz-border-left-colors: none;
          -moz-border-right-colors: none;
          -moz-border-top-colors: none;
          animation: 450ms linear 0s normal none infinite running load-spin;
          border-bottom: 1px solid #000;
          border-image: none;
          border-left-color: transparent !important;
          border-radius: 50%;
          border-right-color: transparent !important;
          border-style: solid;
          border-top: 1px solid #000;
          border-width: 1px;
          content: " ";
          display: inline-block;
          height: 15px;
          position: relative;
          right: 0;
          top: -1px;
          margin-right:5px;
          transition: right 0.2s ease-in-out 0s, opacity 0.25s ease-in-out 0s;
          vertical-align: middle;
          width: 15px;
        }
      }
    }
    .preview {
      position:relative;
      .new-label {
        background:#5cb85c;
      }
      .sale-label, .new-label {
        height: 50px;
        left: 5px;
        line-height: 50px;
        position: absolute;
        text-align: center;
        top: 5px;
        width: 50px;
        border-radius:50%;
        color:#fff;
        font-weight:700;
        text-transform:uppercase;
      }
    }
    .action-box {
      position:absolute;
      right:0;
      top:0;
      padding:10px 5px;
      visibility:hidden;
      z-index: 2;
      a {
        width:25px;
        line-height:25px;
        display:block;
        text-align:center;
        position: relative;
        margin-bottom:10px;
        &:last-child {
          margin-bottom:0;
        }
        &:hover {
          span.text {
            visibility:visible;
          }
        }
        span.text {
          background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
          color: #fff;
          display: block;
          font-size: 12px;
          line-height: 25px;
          position: absolute;
          right: calc(100% + 10px);
          text-align: center;
          top: -5px;
          width: 114px;
          visibility:hidden;
          &:after {
            border-bottom: 5px solid transparent;
            border-left: 5px solid rgba(0, 0, 0, 0.7);
            border-top: 5px solid transparent;
            content: "";
            height: 0;
            position: absolute;
            right: -5px;
            top: 8px;
            width: 0;
          }
        }
        i {
          cursor: pointer;
          display: block;
          font-size: 18px;
        }
      }
    }
    .product-link {
      display: inline-block;
      font-family: "Lora","sans-serif";
      letter-spacing: 0.3px;
    }
    .content_price {
      color: #bbbbbb;
      display: block;
      position: relative;
      top:0;
      @include transition(all 0.3s ease 0s);
      .price.old {
        text-decoration:line-through;
        margin-right:7px;
      }
    }
    .bottom-info {
      @include flex();
      @include justify-content(space-between);
      @include align-items(center);
    }
    .left-content {
       height:25px;
       overflow:hidden;
    }
    .color_to_pick_list {    
      .variant-links {
        @include flex();
        a {
          height: 15px;
          margin: 0;
          width: 15px;
          border-radius:50%;
          position:relative;
          overflow:hidden;
          display:block;
          margin-right: 5px;
          box-shadow:1px 1px 3px rgba(136, 136, 136, 0.19);
          &:last-child {
            margin-right:0;
          }
        }
      }
    }
    &.default {
      .content_price {
        text-align: left;
      }
      &:hover {
        .content_price {
          top:-30px;
          @include transition(all 0.3s ease 0s);
        }
        .cart-button {
          top:-29px;
          @include transition(all 0.3s ease 0s);
        }
      }
      .cart-button {
        line-height:30px;
        top:0;
        position:relative;
        color:#292b2c;
        border:none;
        background:none;
      }
      .content_price {
        font-size: 16px;
      }
      .product-link {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: #252222;
        font-size: 15px;
        padding-top: 12px;
        margin-bottom:15px;
      }
    }
    &.style2 {
      position:relative;
      .product-info {
        @include transition(all 0.3s ease 0s);
        opacity:0;
        position:absolute;
        left:0;
        top:0;
        @include flex();
        @include justify-content(center);
        @include align-items(center);
        z-index: 1;
        background:rgba(0, 0, 0, 0.75);
        width:100%;
        height:100%;
        text-align:center;
      }
      .product-link {
        font-size:15px;
        color:#fff;
        position:relative;
        bottom:-10px;
        @include transition(all 0.3s ease 0s);
        &:hover {
          color:#cccccc;
        }
      }
      .content_price {
        color:#949494;
        margin-top:8px;
        margin-bottom:40px;
        bottom:-10px;
        top:auto;
        @include transition(all 0.3s ease 0s);
      }
      .action-box {
        a {
          color:#fff;
        }
      }
      .cart-button {
        background:none;
        border:1px solid #fff;
        color:#fff;
        font-weight:400;
        @include transition(all 0.3s ease 0s);
        position:relative;
        bottom:-25px;
        &:hover {
          background:#fff;
          color:#313131;
        }
      }
      &:hover {
        .product-info {
          opacity:1;
        }
        .content_price, .product-link, .cart-button {
          bottom:0;
        }
      }
    }
    &.style3 {
      .preview {
        overflow:hidden;
      }
      .action-box3 {
        background-color: rgba(0, 0, 0, 0.8);
        bottom: -40px;
        height: 40px;
        left: 0;
        opacity: 1;
        position:absolute;
        width: 100%;
        @include flex();
        @include justify-content(center);
        @include align-items(center);
        @include transition(all 0.3s ease 0s);
        a {
          width:25px;
          display:block;
          text-align:center;
          position: relative;
          margin-right:10px;
          color:#fff;
          &:last-child {
            margin-right:0;
          }
          &:hover {
            span.text {
              visibility:visible;
            }
          }
          span.text {
            background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
            color: #fff;
            display: block;
            font-size: 12px;
            left: -48px;
            line-height: 25px;
            position: absolute;
            text-align: center;
            top: -30px;
            visibility: hidden;
            width: 114px;
            &:after {
              border-left: 5px solid transparent;
              border-top: 5px solid rgba(0, 0, 0, 0.7);
              border-right: 5px solid transparent;
              content: "";
              height: 0;
              position: absolute;
              left: calc(50% - 2.5px);
              top: 100%;
              width: 0;
            }
          }
          i {
            cursor: pointer;
            display: block;
            font-size: 18px;
            line-height:40px;
          }
        }
      }
      .product-info {
        text-align:center;
      }
      .product-link {
        color: #000;
        font-family: "Lora","sans-serif";
        font-size: 15px;
        padding:16px 8px 8px;
        line-height:1.2;
      }
      .content_price {
        font-size:16px;
        line-height:1.2;
        .new {
          color:#000;
        }
      }
    }
    &.style4 {
      .product-link {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: #252222;
        display: inline;
        font-family: "Lora","sans-serif";
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.3px;
        padding-bottom: 1px;
      }
      .content_price {
        margin:15px 0;
        .new {
          color:#292b2c;
          font-weight:700;
        }
      }
      .cart-button {
        background-color: #edc5c7;
        color: #fff;
        &:hover {
          background-color: #e49a9e;
        }
      }
      .product-info {
        text-align:center;
      }
    }
    &.style5 {
      @include flex();
      .preview {
        width:80px;
      }
      .product-info {
        width:calc(100% - 80px);
        padding-left:15px;
      }
      .product-link {
        font-size: 13px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.9);
        font-family:"Karla",sans-serif;
      }
    }
    &:hover {
      .action-box3 {
        bottom:0;
      }
      .action-box {
        visibility:visible;
      }
    }
  }
  .cart-button {
    font-weight:700;
    color:#000;
    position:relative;
    cursor: pointer;
    span {
      display:inline-block;
    }
    .fa-spinner, .fa-check {
      display:none;
    }
    .icon-basket {
      margin-right:5px;
    }
    .fa-check {
      margin-right:7px;
    }
    .icons {
      font-size:16px;
      font-weight:bold;
    }
    &.checking {
      .icon-basket {
        display:none;
      }
      &:before {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        animation: 450ms linear 0s normal none infinite running load-spin;
        border-bottom: 1px solid #000;
        border-image: none;
        border-left-color: transparent !important;
        border-radius: 50%;
        border-right-color: transparent !important;
        border-style: solid;
        border-top: 1px solid #000;
        border-width: 1px;
        content: " ";
        display: inline-block;
        height: 15px;
        position: relative;
        right: 0;
        top: -1px;
        margin-right:6px;
        transition: right 0.2s ease-in-out 0s, opacity 0.25s ease-in-out 0s;
        vertical-align: middle;
        width: 15px;
      }
    }
    &.checked {
      .icon-basket {
        display:none;
      }
      .fa-check {
        display:inline-block;
      }
    }
  }

  @keyframes load-spin {
    100% {
        transform: rotate(360deg);
    }
  }
  @keyframes load-spin {
    100% {
        transform: rotate(360deg);
    }
  }
/* ------ */

/* Product Carousel */
  .product-carousel-wrapper {
    .ajax_block_product {
      .product-preview {
        margin-bottom:40px;
        &:last-child {
          margin-bottom:0;
        }
      }
    }
  }
/* ------ */

/* Product Load more Style */
  .product-no-carousel {
    .product-preview {
      margin-bottom:40px;
    }
    #loadMore {
      text-align:center;
      margin-top:15px;
      a {
        background-color: transparent;
        border:2px solid #000;
        border-radius: 0;
        color: #000;
        font-weight: 700;
        position: relative;
        text-transform: uppercase;
        &:hover {
          background:#000;
          color:#fff;
        }
      }
    }
  }
/* ------ */

/* Services */
  .feature-box-style1 {
    padding:30px 0;
    .feature-img {
      color: rgba(42, 42, 42, 0.8);
      display: inline-block;
      font-size: 40px;
      margin-bottom: 20px;
      line-height:1;
    }
    h4 {
      font-size:20px;
    }
    .text {
      margin:15px auto;
      line-height:1.5;
    }
    .btn-shopnow {
      color: rgba(42, 42, 42, 0.8);
      display: inline-block;
      line-height:1;
    }
  }
  .feature-box-style2 {
    .feature-img {
      font-size: 38px;
      opacity: 0.8;
      margin-bottom:20px;
      line-height:1;
    }
    .include_content_s {
      h4 {
        font-size:20px;
        font-weight:700;
        display:inline-block;
        max-width:190px;
      }
      p {
        line-height:1.5;
      }
    }
    .btn-shopnow {
      text-transform:capitalize;
      color: #797979;
      text-decoration: underline;
      &:hover {
        color:#000;
      }
    }
  }
/* ------ */

/* Addon Blog */
  .blog-box {
    .post-thumb {
      position:relative;
      overflow: hidden;
    }
    .post-created {
      background-color: #fff;
      box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
      left: 10px;
      min-width: 53px;
      position: absolute;
      top: 10px;
      z-index: 1;
      text-align:center;
      span {
        color: #1b1919;
        display: block;
        line-height:1.2;
        &.date {
          font-size: 24px;
          padding-top: 4px;
        }
        &.month {
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 0.5px;
          padding-bottom: 8px;
          text-transform: uppercase;
        }
      }
    }
    .cat-box {
      bottom: 0;
      left: 0;
      position: absolute;
      width: 100%;
      text-align:center;
      a {
        background-color: #A67E2E;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        padding: 0 10px;
        line-height:25px;
      }
    }
    .post-title {
      color: #1b1919;
      font-family: "Lora","sans-serif";
      font-size: 22px;
      font-weight: 400;
      letter-spacing: 0.3px;
      line-height: 1.8;
      margin-bottom: 5px;
      display:inline-block;
    }
    .post-info {
      text-align:center;
    }
    .view-comment {
      .space {
        margin:0 5px;
      }
      span {
        color: #787878;
        font-family: "Lato","sans-serif";
        line-height: 1.7;
        &:hover {
          text-decoration:underline;
        }
      }
    }
    .post-intro {
      color: #4c4c4c;
      line-height: 1.7;
      margin-bottom: 0;
    }
    .post-readmore {
      border-bottom: 1px solid #b5b5b5;
      color: #6d6d6d;
      margin-top:12px;
      display:inline-block;
      line-height:1.2;
      &:hover {
        border-bottom: 1px solid #000;
      }
    }
    #loadMore {
      text-align:center;
      a {
        background-color: transparent;
        border-radius: 0;
        border: 2px solid #000;
        color: #000;
        font-weight: 700;
        position: relative;
        text-transform: uppercase;
        &:hover {
          color:#fff;
          background:#000;
        }
      }
    }
  }
/* ------ */

/* Testimonials */
  .testimonial-wrapper {
    .testimonial-box {
      text-align:center;
      padding:15px 0;
    }
    .testimonial-img {
      display:inline-block;
      width:100px;
      heigh:100px;
      border-radius:50%;
      overflow:hidden;
      img {
        width:100%;
      }
    }
    .testimonial-info {
      margin-top:15px;
    }
    .testimonial-comment {
      color: #4c4c4c;
      line-height: 1.6;
      margin-bottom: 15px;
      max-width:540px;
      margin:0 auto;
    }
    .owl-dots {
      position:static;
    }
    .info_people {
      color: #1b1919;
      font-weight: 700;
      .show_office {
        color: #4c4c4c;
        font-weight: 400;
      }
    }
  }
/* -------  */

/* Addon Category show */
  .home_categories {
    .categoy-image {
      position:relative
    }
    .cat-name {
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      text-align:center;
      @include flex();
      @include align-items(center);
      @include justify-content(center);
      color:#fff;
      text-transform:uppercase;
      font-size:28px;
      font-weight:700;
    }
  }
  .home_categories2 {
    .desc {
      text-align:center;
      padding:0 17%;
      color:#555555;
    }
    .cat-name {
      font-size:18px;
      color:#111;
      font-weight:700;
      text-transform:uppercase;
    }
    .categoy-image {
      position:relative; 
      overflow:hidden;
      img {
        @include transition(all 0.7s ease 0s);
      }
    }
    .featured-info {
      position:absolute;
      width:100%;
      @include transform(translateY(30%));
      @include transition(all 0.7s ease 0s);
      opacity:0;
      text-align:center;
    }
    .categories-wrapper:hover {
      .featured-info {
        opacity: 1;
        transform: translateY(-60px);
      }
      img {
        transform: translateY(-20px);
      }
    }
  }
  .home_categories3 {
    padding-top:33px;
    .addon-desc {
      margin-bottom:0;
    }
    .categoy-image {
      position:relative;
    }
    .cat-name {
      position:absolute;
      left:0;
      bottom:20px;
      width:100%;
      text-align:center;
      span {
        display:inline-block;
        background-color: #fff;
        box-shadow: 1px 1px 3px rgba(136, 136, 136, 0.19);
        padding: 12px 25px;
        line-height:1.3;
        color:#000;
      }
    }
    .categories-carousel {
      padding:24px;
      background:#fff;
    }
  }
  .home_categories4 {
    .categoy-image {
      position:relative;
    }
    .product-count {
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      color:#fff;
      background:rgba(0, 0, 0, 0.5);
      text-transform:uppercase;
      @include flex();
      @include justify-content(center);
      @include align-items(center);
      font-size:16px;
      font-weight:700;
      @include transition(all 0.7s ease 0s);
      opacity:0;
    }
    .categories-wrapper {
      &:hover {
        .product-count {
          opacity:1;
        }
      }
    }
    .category-info {
      text-align:center;
    }
    .cat-name {
      color: #000;
      font-family: Lora, sans-serif;
      font-size: 24px;
      padding-top:5px;
      text-transform:capitalize;
    }
    .view-product {
      border-bottom: 1px solid #e6e6e6;
      color: #8a8a8a;
      text-decoration: none;
    }
  }
/* ------ */

/* Tab Style */
  .nav-tabs {
      border-bottom:none;
      display:inline-block;
      > li > a {
        border: none;
        border-radius: 0;
        line-height: 1.4;
        margin-right: 0;
        display:inline-block;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        position:relative;
        text-transform: uppercase;
        padding:0;
        color:#292b2c;
        &:after {
          content: "";
          width:0;
          height:1px;
          position:absolute;
          left:0;
          bottom:0;
          @include transition(width 0.2s ease 0s);
        }
        &:hover:after {
          background:#000;
          width:100%;
        }
        &.active:after {
          width:100%;
        }
      }
      >li {
        margin-bottom:0;
        padding:0 23px;
        position: relative;
        &:after {
          content: "/";
          display: inline-block;
          font-size: 16px;
          line-height: 20px;
          position: absolute;
          right: -3px;
          top: calc(50% - 11px);
        }
      }
      > li:last-child:after {
        content:none;
      }
    }
/* ------ */

/* Categories Tab */
  .categories-tab-wrapper {
    .jms-tab {
      text-align:center;
      line-height:1;
      margin-bottom:35px;
    }
  }
/* ------ */

/* Banners & Newsletters */
  .banners-newsletter {
    .layout-column {
      .addon-box {
        width:50%;
      }
    }
    .first {
      .addon-box {
        &:last-child {
          width:50%;
          position:absolute;
          right:0;
          top:0;
          height:100%;
        }
      }
    }
    .second {
      .addon-box {
        &:first-child {
          width:50%;
          position:absolute;
          left:0;
          top:0;
          height:100%;
        }
        &:last-child {
          float:right;
        }
      }
    }
    #newsletter_block_left {
      border:20px solid #f0fafd;
      @include flex();
      @include justify-content(center);
      @include align-items(center);
      width:100%;
      height:100%;
    }
    .banner-style2 {
      @include flex();
      @include justify-content(center);
      @include align-items(center);
      width:100%;
      height:100%;
    }
  }
  
/* ------- */

/* Addon Instagram */
  .instagram-wrapper {
    .image-box {
      overflow:hidden;
    }
  }

  .instagram-wrapper2 {
    position:relative;
    .insta-title {
      background: #fff none repeat scroll 0 0;
      bottom: 0;
      height: 220px;
      left: 0;
      margin: auto;
      max-width: 300px;
      outline: 5px solid rgba(255, 255, 255, 0.5);
      padding: 25px;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 5;
      text-align:center;
      h3 {
        text-transform:uppercase;
        font-size:28px;
        font-weight:700;
        line-height:1.4;
      }
      .addon-desc {
        line-height:1.5;
        margin-bottom:15px;
      }
      hr {
        margin-top:10px;
      }
      a {
        background-color: transparent;
        border-color: #000;
        border-radius: 0;
        border-width: 2px;
        color: #000;
        font-weight: 600;
        position: relative;
        text-transform: uppercase;
        line-height:38px;
        &:hover {
          background:#000;
          color:#fff;
        }
      }
    }
  }
/* ------ */

/* Brands */
  .brand-wrapper {
    .addon-title.default {
      position:relative;
      text-align:center;
      margin-bottom:20px;
      h3 {
        background-color: #fff;
        display: inline-block;
        font-weight: 700;
        padding: 0 25px;
        line-height:1.2;
        font-size:26px;
        margin-bottom:0;
        &:after {
          content: "";
          display: block;
          height: 1px;
          position: absolute;
          top: calc(50% - 1px);
          left:0;
          width: 100%;
          background-color: #ececec;
          z-index: -1;
        }
      }
    }
  }
/* ------- */

/* Social Icon */
  #social_block {
    .find-us {
      display: block;
      line-height: 1;
      list-style: outside none none;
      padding: 0;
      li {
        color: rgba(255, 255, 255, 0.6);
        display: inline-block;
        margin: 5px 5px 0;
        &:first-child {
          margin-left: 0;
          padding-left: 0;
        }
        &:last-child {
          margin-right:0;
        }
        a{
          color: rgba(255, 255, 255, 0.6);
          font-size: 18px;
        }
      }
    }
  }
/* ------ */

/* Footer Navbar */
  .footer-navbar {
    background:#000;
    padding-top:50px;
    .container {
      padding-left:0;
      padding-right:0;
    }
    .top-content {
      .addon-box {
        text-align:center;
      }
    }
    .addon-title {
      position:relative;
      h3 {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1.5px;
        margin-bottom: 25px;
        padding-bottom: 4px;
        position: relative;
        text-transform: uppercase;
        &:before {
          background-color: rgba(255, 255, 255, 0.8);
          bottom: 0;
          content: "";
          display: inline-block;
          height: 2px;
          position: absolute;
          width: 30px;
        }
      }
    }
    .footer_menu {
      li {
        line-height: 1;
        margin-bottom: 15px;
        a {
          color: rgba(255, 255, 255, 0.6);
          font-size: 14px;
          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
    .contact-info-wrapper {
      .addon-desc {
        color: rgba(255, 255, 255, 0.6);
      }
      .contact-info {
        ul {
          margin-bottom:20px;
          li {
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
            line-height: 2;
            i {
              color: #676767;
              margin-right: 4px;
              text-align: center;
              width: 15px;
            }
          }
        }
      }
    }
    .top-content {
      margin-bottom:35px;
    }
    .bottom-content {
      margin-top: 65px;
      .addon-box {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding: 20px 0;
      }
    }
    .copy-right {
      color: rgba(255, 255, 255, 0.6);
      font-size: 14px;
      line-height: 1.6;
      text-align:center;
    }
  }
/* ------ */

/* Breadcrumb */
  .breadcrumb-wrapper {
    margin-top:40px;
    margin-bottom:100px;
    .content_fullpath {
      @include flex();
      flex-wrap:wrap;
      @include align-items(center);
      color:#666666;
      line-height:30px;
      border-bottom:1px solid #ebebeb;
      a {
        i {
          margin-right:5px;
        }
        color:#666666;
      }
      .navigation-pipe {
        display:inline-block;
        margin:0 15px;
        width:5px;
        height:5px;
        border-radius:50%;
        background:#d7d7d7;
        font-size:0;
      }
      .categories_child {
        @include flex();
        flex-wrap:wrap;
        @include align-items(center);
      }
    }
  }
/* ------ */

/* Social Follow */
  .ps-social-follow {
    margin-top:20px;
    ul {
      @include flex();
      @include align-items(center);
      li {
        &.label {
          padding:0;
          margin:0;
          font-weight:700;
          color:#000;
          margin-right:5px;
        }
        margin-right:10px;
        &:last-child {
          margin-right:0;
        }
        a {
          display:block;
          color:#4e4e4e;
          i {
            font-size:16px;
            display:block;
            &.facebook:before {
              content:"\f09a";
            }
            &.twitter:before {
              content: "\f099";
            }
            &.googleplus:before {
              content: "\f0d5";
            }
            &.pinterest:before {
              content: "\f0d2";
            }
            &.instagram:before {
              content: "\f16d";
            }
            &.rss:before {
              content: "\f09e";
            }
            &.youtube:before {
              content: "\f167";
            }
            &.vimeo:before {
              content: "\f27d";
            }
          }
        }
      }
    }
  }
/* ------ */
.list-brands {
    background: #ffffff none repeat scroll 0 0;
    margin: 1.25rem 0 0.625rem;
}
.list-brands .brand {
    display: flex;
  margin-bottom:15px;
}
.list-brands .brand:last-child {
  margin-bottom:0;
}
.list-brands .brand > div {
    -moz-box-align: center;
    -moz-box-pack: justify;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}

.back-to-top {
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  bottom: 18%;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.12);
  color: #111;
  cursor: pointer;
  font-size: 20px;
  height: 48px;
  line-height: 47px;
  position: fixed;
  right: 14px;
  text-align: center;
  width: 48px;
  z-index: 9999;
}

/* search bar */
  .menu-wrap {
    #search_widget {
      padding:0 15px 10px;
      border-bottom:1px solid #eee;
      input {
        width:100%;
        padding:0 10px;
      }
      form {
        position:relative;
      }
      button {
        background:none;
        border:none;
        padding:0;
        position:absolute;
        right:10px;
        top:calc(50% - 9px);
        color: #aaaaaa;
        font-size:16px;
        .text {
          display:none;
        }
        i {
          visibility:visible !important;
          display:inline-block !important;
        }
      }
    }
    .user-info {
      border-bottom:1px solid #eee;
      >a {
        display:block;
        line-height:22px;
        padding:10px 15px;
        color:#000;
        text-transform:uppercase;
      }
    }
  }
  
/* ------- */

/* Popup */
  .jms-popup {
    #newsletter_block_left {
      .popup-text {
        display: block !important;
        visibility: visible !important;
        .cap {
          font-size:28px;
          line-height:1.4;
          margin-bottom:30px;
          span {
            font-weight:700;
          }
        }
        .desc {
          line-height:1.5;
          margin-bottom:10px;
        }
      }
      #newsletter-input {
        background:none;
        border:none;
        border-bottom:2px solid #000;
        color:#000;
        padding-left:25px;
        margin-bottom:20px;
      }
      .input-email::before {
        color: #000;
        top: 4px;
      }
      .newsletter-btn {
        width:165px;
        background:#000;
        color:#fff;
      }
      .form-group {
        display:block;
        & *::-moz-placeholder {
          color:#000;
        }
      }
      .input-email {
        width:100%;
      }
  }
  .jms-popup-content {
    @include flex();
    @include align-items(center);
    .html-content {
      padding-left:0;
      padding-right:0;
    }
  }
}
/* ------- */