#mobile-vermegamenu .nav > li {

	float:left;

	width:100%;

	border-bottom:1px dotted #e0e0e0;

}

#mobile-vermegamenu .jms-vermegamenu {

	box-shadow: none;

	text-align: left;

}

#mobile-vermegamenu .open > .dropdown-menu {

	position:static;

	box-shadow:none;

	border:0px;

	width:100%;

}

#mobile-vermegamenu .dropdown-menu >  li > a {

	line-height:35px;

	padding:3px 30px;

}

#mobile-vermegamenu li a {

    display: block;

    font-weight: 400;

	text-transform:uppercase;

	border-radius:0px;

	color:#000;

}

#mobile-vermegamenu #jms-megamenu > li > a {

	text-transform:uppercase;	

}



#mobile-vermegamenu img{

	max-width:100%;

	margin-bottom:10px;

}
#mobile-vermegamenu li > a i{
	margin-right:5px;
}

#mobile-vermegamenu li > a em {

	float:right;

	font-size:15px;

	width:20px;

	height:20px;

	line-height:20px;

	margin-top:5px;

	text-align:center;

}
span.navigationbar:hover{
	background-color:#A67E2E;
	color: #fff;
}
#mobile-vermegamenu ul.dropdown-menu li.menu-item:hover{
	background-color:#A67E2E;
}