/**

 * @package Jms Vertical Megamenu

 * @version 1.0

 * @Copyright (C) 2009 - 2013 Joommasters.

 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL

 * @Website: http://www.joommasters.com

**/

.jms-vermegamenu .space-top {  

    margin-top: 19px;

}

.jms-vermegamenu .mega-dropdown-menu .mega-col-nav {

    position: static;

}
.jms-vermegamenu .ver-img {

    position: absolute;

    bottom: 0;

    right: 0;

    z-index: -1;

}
[data-class="arts"]:hover > a{
  background :url('./img/icones/arts_hover.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="beaute"] > a{
  background :url('./img/icones/beaute.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="beaute"]:hover > a{
  background :url('./img/icones/beaute_hover.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="arts"] > a{
  background :url('./img/icones/arts.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="tissu"] > a{
  background :url('./img/icones/tissu.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="tissu"]:hover > a{
  background :url('./img/icones/tissu_hover.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="vetement"] > a{
  background :url('./img/icones/dress.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="vetement"]:hover > a{
  background :url('./img/icones/dress_hover.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="chaussure"] > a{
  background :url('./img/icones/chaussures.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="chaussure"]:hover > a{
  background :url('./img/icones/chaussures_hover.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="bijou"] > a{
  background :url('./img/icones/bijoux.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="bijou"]:hover > a{
  background :url('./img/icones/bijoux_hover.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="sac"] > a{
  background :url('./img/icones/sac.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="sac"]:hover > a{
  background :url('./img/icones/sac_hover.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="accessoire"] > a{
  background :url('./img/icones/accessoire.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="accessoire"]:hover > a{
  background :url('./img/icones/accessoire_hover.png') no-repeat;
  background-position: left;
  background-size: 23px 20px;
}
[data-class="livres"] > a{
  background: url(./img/icones/livres.png) no-repeat;
    background-position: left;
    background-size: 23px 20px;
}
[data-class="musique"] > a{
  background: url(./img/icones/musique.png) no-repeat;

    background-position: left;
    background-size: 23px 20px;
}
[data-class="maisons"] > a{
  background: url(./img/icones/maison.png) no-repeat;
    background-position: left;
    background-size: 23px 20px;
}
[data-class="maisons"]:hover > a{
  background: url(./img/icones/maison_hover.png) no-repeat;
    background-position: left;
    background-size: 23px 20px;
}
[data-class="engin"] > a{
  background: url(./img/icones/engin.png) no-repeat;
    background-position: left;
    background-size: 23px 20px;
}
[data-class="computer"] > a{
  background: url(./img/icones/computer.png) no-repeat;
    background-position: left;
    background-size: 23px 20px;
}
#jms-vermegamenu-container {

	margin-bottom:0px;

    border:none;

}

.jms-vermegamenu img {

	max-width:100%;

}

.jms-vermegamenu .nav > li {        

    padding-left: 10px;  

    vertical-align: top;

	  text-align:left;

    position: static;

    border-bottom: 1px dotted #e0e0e0;

}	

.jms-vermegamenu .nav > li > a  {

    color:#000;

    font-size: 12px;

    line-height: 37px;

    padding: 0px 20px;

    position: relative;

    text-transform: uppercase;

    display:block;

    font-weight: 700;
    padding-left : 30px;

}

.jms-vermegamenu .nav > li:hover > a, .jms-vermegamenu .nav > li.open > a{

    /*background: #A67E2E;*/
    color : #b6995d;

}

.jms-vermegamenu .nav > li > a::after {

    background: #f4ad02 none repeat scroll 0 0;

    bottom: -1px;

    content: "";

    display: inline-block;

    height: 2px;

    left: 0;

    opacity: 0;

    position: absolute;

    transition: opacity 1s ease 0s;

    width: 100%;

}

.jms-vermegamenu .nav > li > a > .caret {

    border:none;

    height: auto;

    width: auto;

    position:absolute;

    right: 20px;

    top: calc(50% - 15px);

    font-size: 14px;

    font-weight: initial;

    line-height: 30px;

}

.jms-vermegamenu .nav > li > a > .caret:before {

    content: "\f105";

    font-family:"FontAwesome";

    font-style:normal;

    

}

.jms-vermegamenu .nav  a, 

.jms-vermegamenu .nav  a:hover, 

.jms-vermegamenu .nav  a:focus {

	background-color:transparent;

}

.jms-vermegamenu .dropdown-menu {

    background: #fff none repeat scroll 0 0;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    border-radius: 0;

    box-shadow:0px;

    margin-top: 0px;   

    padding: 30px 25px 30px 35px;

    z-index: 99;

	min-width:210px;

	display:block;

	opacity:0;

	visibility:hidden;

	transition:all 0.5s;

	top:0px;

	left:100%;

    z-index: 1000;

}

.jms-vermegamenu .open > .dropdown-menu {

	opacity:1;

	visibility:visible;

}



.jms-vermegamenu .dropdown-menu.fullwidth {

	width:100%;

}

.jms-vermegamenu .row+ .row {    

    padding-top: 10px;

}

.jms-vermegamenu .row .mega-inner {    

    border-radius: 0;

	

}

.jms-vermegamenu .mega-inner {    

}

.jms-vermegamenu .mega-nav, .jms-vermegamenu  .dropdown-menu .mega-nav {

    list-style: outside none none;

    margin: 0;

    padding: 0;

	min-height:20px;

}



.jms-vermegamenu .mega-nav li > a, .jms-vermegamenu .mega-nav li > span {  

    border-radius: 0;

    color: #333;

    font-size: 14px;    

	display:block;	

	text-decoration:none;

	text-transform:uppercase;

    line-height: 21px;

    padding: 8px 0;

    -webkit-transition: all 0.3s ease 0s;

    -moz-transition: all 0.3s ease 0s;

    -o-transition: all 0.3s ease 0s;

    transition: all 0.3s ease 0s;

}

.jms-vermegamenu .mega-nav li > a:hover, .jms-vermegamenu .mega-nav li > span:hover {

    padding-left:5px;

    color: #A67E2E;

}

.jms-vermegamenu .mega-nav li {

    line-height:36px;

}

.jms-vermegamenu .mega-nav li:last-child {

	margin-bottom:0px;1

}

.jms-vermegamenu .mega-nav > div, .jms-vermegamenu .dropdown-menu .mega-nav > li {

    list-style: outside none none;

    margin-left: 0;

}

.jms-vermegamenu  .caret {

	margin-left:5px;

}

.jms-vermegamenu .mega-nav li.selected > a{

	color:#333;

}

.jms-vermegamenu .mega-nav li.selected,

.mega-dropdown-menu.selected,

.mega-col-nav.selected > .mega-inner {

	border:1px solid #07b!important;

}	



.jms-vermegamenu .mega-nav li.group > a {	

	color: #1b1919;

    font-size: 16px;

    /*font-weight: 700;*/

    letter-spacing: 0.6px;

    text-transform: uppercase;

}	

.jms-vermegamenu .mega-nav li.group > a:hover {

    padding-left: 0;
    color : #A67E2E;

}

.jms-vermegamenu .mega-nav > li > ul > li.group,

.jms-vermegamenu .mega-nav > li.group {

	position:relative;

}



.jms-vermegamenu .nav [class^="icon-"], 

.jms-vermegamenu  .nav [class*=" icon-"], 

.jms-vermegamenu  .nav .fa {

    margin-right: 8px;

    min-width: 15px;

}

.jms-vermegamenu .mega-nav > .mega > .dropdown-menu  {

	top:0px;

	left:100%;

	margin:0px;	

}

.jms-vermegamenu .dropdown-menu .dropdown-menu {

	margin-left:0px;

}

.jms-vermegamenu .mega-nav > .mega {

	position:relative;

}



.jms-vermegamenu .menu-align-left > .dropdown-menu {

    left: 100%;

}

.jms-vermegamenu .menu-align-right > .dropdown-menu {

    left: auto;

    right: 100%;

}



.jms-vermegamenu .mega-nav > .mega.menu-align-left > .dropdown-menu {

  left: 100%;

}

.jms-vermegamenu .mega-nav > .mega.menu-align-right > .dropdown-menu {

  left: auto;

  right: 100%;

}

.jms-vermegamenu .menu-align-justify {

  position: static;

}

.jms-vermegamenu .menu-align-justify > .dropdown-menu {

  left: 0;

  margin-left: 0;

  top: auto;

}

@media (max-width: 991px) {

	#jms-vermegamenu-container {

		display:none;

	}			

}

@media (min-width: 992px) {

	.responsive #off-canvas-menu {

		display:none;

	}

}
/* css pour le slidenav*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  /*font-size: 25px;*/
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*fin css slidenav*/