{*
* NOTICE OF LICENSE
*
* This file is licenced under the Software License Agreement.
* With the purchase or the installation of the software in your application
* you accept the licence agreement.
*
* You must not modify, adapt or create derivative works of this source code
*
* @author    Doofinder
* @copyright Doofinder
* @license   GPLv3
*}

<div class="panel">
	<div class="doofinder-content">
		<div class="row">
			<div class="col-md-6 text-center">
                                <img src="{$module_dir|escape:'html':'UTF-8'}views/img/doofinder_logo.png" />
                                <img src="{$module_dir|escape:'html':'UTF-8'}views/img/doofinder_mac.png" />
								<div class="col-md-12">
				<a href="https://www.doofinder.com/signup/?mktcod=PSHOP&utm_source=prestashop_module&utm_campaing=freetrial&utm_content=prestashop_module_free_trial_link" target="_blank" class="btn btn-primary btn-lg" style="font-size:27px;background-color: #27c356" id="create-account-btn">{l s='Use your free trial now!' mod='doofinder'}</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-8">
				<h2>{l s='Add a smart search engine to your e-commerce in 5 minutes and with no programming' mod='doofinder'}</h2>
				<hr />
				<br />
				<p><strong>{l s='ABOUT DOOFINDER' mod='doofinder'}:</strong></p>
				<br />
				<p>{l s='Doofinder provides you with an instant search layer to display your products when your visitors use the search bar' mod='doofinder'}.</p>
				<br />
				<p>{l s='Your customers then have the opportunity to preview your products, filter them and choose the desired product. Upon hitting enter, doofinder will also power the results page' mod='doofinder'}.</p>
				<br />
				<p>{l s='Among our features are' mod='doofinder'}:</p>
				<br />
				<dl>
					<dd>&middot; {l s='Detailed reports on visitor search behaviour' mod='doofinder'}.</dd>
					<dd>&middot; {l s='Faceted search option' mod='doofinder'}.</dd>
					<dd>&middot; {l s='Learning behaviour' mod='doofinder'}.</dd>
					<dd>&middot; {l s='Merchandising power to set a products positioning' mod='doofinder'}.</dd>
					<dd>&middot; {l s='Banner feature for advertising and promoting products, brands and events' mod='doofinder'}.</dd>
					<dd>&middot; {l s='Options to redirect users to content pages' mod='doofinder'}.</dd>
					<dd>&middot; {l s='Held on our servers for a faster page load time' mod='doofinder'}.</dd>
				</dl>
				<br />
				<p>{l s='More than 5000 e-commerce sites over 35 countries are already using it' mod='doofinder'}.</p>
				<br />
				<p>{l s='What are you waiting for?' mod='doofinder'}</p>
				<br />
				<p><a href="https://www.doofinder.com/signup/?mktcod=PSHOP&utm_source=prestashop_module&utm_campaing=freetrial&utm_content=prestashop_module_free_trial_link" target="_blank">{l s='Test our solution for 30 days, for free!' mod='doofinder'}</a></p>
				</div>
			</div>
		</div>

		<hr />
		
	</div>
</div>
